Repository kurrent-io/KurrentDB, pull requests merged in 2018-11, with the labels that each got.

#1681 Add missing Reset method to ProjectionsManager and ProjectionsClient
  src/EventStore.ClientAPI/Projections/ProjectionsClient.cs
  src/EventStore.ClientAPI/Projections/ProjectionsManager.cs
Labels: area/documentation

#1728 Giving the correct reason when the subscription drops due to overflow
  src/EventStore.ClientAPI/ClientOperations/SubscriptionOperation.cs
Labels: detectability/easy, impact/low, kind/enhancement, subsystem/.NET Client

#1622 Bycorrid
  src/EventStore.Projections.Core.Tests/Services/handlers/categorize_events_by_correlation_id.cs
  src/EventStore.Projections.Core.Tests/Services/projections_system/when_starting_up.cs
  src/EventStore.Projections.Core/ProjectionsSubsystem.cs
  src/EventStore.Projections.Core/Services/Management/ProjectionManager.cs
  src/EventStore.Projections.Core/Services/Processing/ProjectionNamesBuilder.cs
  src/EventStore.Projections.Core/Standard/ByCorrelationId.cs
Labels: area/documentation

#1745 Start documenting stats
  src/EventStore.ClientAPI/Transport.Tcp/TcpStats.cs
  src/EventStore.Core/Services/Monitoring/Stats/DiskIo.cs
  src/EventStore.Core/Services/Monitoring/Stats/EsDriveInfo.cs
  src/EventStore.Core/Services/Monitoring/Stats/QueueStats.cs
  src/EventStore.Core/Services/Monitoring/SystemStatsHelper.cs
  src/EventStore.Core/Services/Monitoring/Utils/PerfCounterHelper.cs
  src/EventStore.Transport.Tcp/TcpStats.cs
Labels: area/documentation

#1623 Client API: PersistentSubscriptionsManager
  src/EventStore.ClientAPI/EventStore.ClientAPI.csproj
  src/EventStore.ClientAPI/Exceptions/PersistentSubscriptionCommandFailedException.cs
  src/EventStore.ClientAPI/PersistentSubscriptions/PersistentSubscriptionDetails.cs
  src/EventStore.ClientAPI/PersistentSubscriptions/PersistentSubscriptionsClient.cs
  src/EventStore.ClientAPI/PersistentSubscriptions/PersistentSubscriptionsManager.cs
Labels: area/documentation

#1742 Dispose chunk before attempting deletion
  src/EventStore.Core/TransactionLog/Chunks/TFChunkScavenger.cs
Labels: detectability/easy, impact/low, kind/bug
