Repository kurrent-io/KurrentDB, pull requests merged in 2019-12, with the labels that each got.

#2090 Limit Append to User Configurable Value
  src/EventStore.ClusterNode/ClusterNodeOptions.cs
  src/EventStore.ClusterNode/Program.cs
  src/EventStore.Core/Cluster/Settings/ClusterVNodeSettings.cs
  src/EventStore.Core/ClusterVNode.cs
  src/EventStore.Core/Services/Transport/Grpc/RpcExceptions.cs
  src/EventStore.Core/Services/Transport/Grpc/Streams.Append.cs
  src/EventStore.Core/Services/Transport/Grpc/Streams.cs
  src/EventStore.Core/Util/Opts.cs
  src/EventStore.Core/VNodeBuilder.cs
  src/EventStore.Grpc.Common/Constants.cs
  src/EventStore.Grpc.Tests/Streams/append_to_stream.cs
  src/EventStore.Grpc.Tests/Streams/append_to_stream_limits.cs
  src/EventStore.Grpc/AccessDeniedException.cs
  src/EventStore.Grpc/MaximumAppendSizeExceededException.cs
  src/EventStore.Grpc/MetadataExtensions.cs
  src/EventStore.Grpc/TypedExceptionInterceptor.cs
Labels: area/documentation

#2120 Set the default to false for WriteStatsToDb
  src/EventStore.Core/Util/Opts.cs
Labels: kind/enhancement

#2134 Add Development Mode
  src/EventStore.ClusterNode/ClusterNodeOptions.cs
  src/EventStore.ClusterNode/EventStore.ClusterNode.csproj
  src/EventStore.ClusterNode/Program.cs
  src/EventStore.Common/Options/EventStoreOptions.cs
  src/EventStore.Common/Utils/Locations.cs
  src/EventStore.Core/ProgramBase.cs
  src/EventStore.Core/Util/Opts.cs
  src/dev-ca/.gitignore
  src/dev-ca/ca.pem
  src/dev-ca/generator/ca.tf
  src/dev-ca/generator/server_certs.tf
  src/dev-ca/server1.key
  src/dev-ca/server1.pem
  src/dev-ca/server1.pfx
Labels: kind/enhancement

#2162 update gitignore for visual studio 16.5
  .gitignore
Labels: area/cleanup
