Repository kurrent-io/KurrentDB, pull requests merged in 2019-09, with the labels that each got.

#1987 Update LLP to Ltd.
  build.ps1
  build.sh
  etc/EventStore.UpgradeProjections/Properties/AssemblyInfo.cs
  scripts/build-js1/build-js1-linux/build-js1-linux/build-js1-linux.sh
  scripts/build-js1/build-js1-mac/build-js1-mac.sh
  src/EventStore.BufferManagement.Tests/Properties/AssemblyInfo.cs
  src/EventStore.BufferManagement/Properties/AssemblyInfo.cs
  src/EventStore.ClientAPI.Embedded/EventStore.ClientAPI.Embedded.csproj
  src/EventStore.ClientAPI.Embedded/Properties/AssemblyInfo.cs
  src/EventStore.ClientAPI/EventStore.ClientAPI.csproj
  src/EventStore.ClientAPI/Properties/AssemblyInfo.cs
  src/EventStore.ClusterNode.Web/Properties/AssemblyInfo.cs
  src/EventStore.ClusterNode/Properties/AssemblyInfo.cs
  src/EventStore.Common/Properties/AssemblyInfo.cs
  src/EventStore.Core.Tests/Properties/AssemblyInfo.cs
  src/EventStore.Core/Properties/AssemblyInfo.cs
  src/EventStore.Native/Properties/AssemblyInfo.cs
  src/EventStore.Projections.Core.Tests/Properties/AssemblyInfo.cs
  src/EventStore.Projections.Core.Tests/Services/projection_core_service_command_reader/specification_with_projection_core_service_command_reader.cs
  src/EventStore.Projections.Core.Tests/Services/projection_core_service_command_reader/specification_with_projection_core_service_command_reader_started.cs
  src/EventStore.Projections.Core.Tests/Services/projection_core_service_command_reader/when_creating.cs
  src/EventStore.Projections.Core.Tests/Services/projection_core_service_command_reader/when_receiving_a_command.cs
  src/EventStore.Projections.Core.Tests/Services/projection_core_service_command_reader/when_starting.cs
  src/EventStore.Projections.Core.Tests/Services/projections_manager/projection_manager_response_reader/specification_with_projection_manager_response_reader_started.cs
  src/EventStore.Projections.Core/Prelude/1Prelude.js
  src/EventStore.Projections.Core/Prelude/Modules.js
  src/EventStore.Projections.Core/Prelude/ModulesExecuted.js
  src/EventStore.Projections.Core/Prelude/Projections.js
  src/EventStore.Projections.Core/Properties/AssemblyInfo.cs
  src/EventStore.Projections.v8Integration/EventStore.Projections.v8Integration.rc
  src/EventStore.Rags/Properties/AssemblyInfo.cs
  src/EventStore.TestClient/Properties/AssemblyInfo.cs
  src/EventStore.Transport.Http/Properties/AssemblyInfo.cs
  src/EventStore.Transport.Tcp/Properties/AssemblyInfo.cs
Labels: waiting for confirmation

#1991 Make the connection queue size threshold configurable
  src/EventStore.ClusterNode/ClusterNodeOptions.cs
  src/EventStore.ClusterNode/Program.cs
  src/EventStore.Core.Tests/Common/VNodeBuilderTests/when_building/with_single_node_and_custom_settings.cs
  src/EventStore.Core.Tests/Helpers/MiniClusterNode.cs
  src/EventStore.Core.Tests/Services/ElectionsService/ClusterSettingsFactory.cs
  src/EventStore.Core.Tests/Services/Transport/Tcp/TcpClientDispatcherTests.cs
  src/EventStore.Core.Tests/Services/Transport/Tcp/TcpConnectionManagerTests.cs
  src/EventStore.Core/Cluster/Settings/ClusterVNodeSettings.cs
  src/EventStore.Core/ClusterVNode.cs
  src/EventStore.Core/Services/Transport/Tcp/TcpConnectionManager.cs
  src/EventStore.Core/Services/Transport/Tcp/TcpService.cs
  src/EventStore.Core/Settings/ESConsts.cs
  src/EventStore.Core/Util/Opts.cs
  src/EventStore.Core/VNodeBuilder.cs
Labels: area/documentation, impact/low, kind/enhancement

#1976 Add Read Only Replica
  src/EventStore.ClientAPI/ClientOperations/OperationBase.cs
  src/EventStore.ClientAPI/ConnectionSettings.cs
  src/EventStore.ClientAPI/ConnectionSettingsBuilder.cs
  src/EventStore.ClientAPI/DnsClusterSettingsBuilder.cs
  src/EventStore.ClientAPI/Exceptions/OperationNotSupportedException.cs
  src/EventStore.ClientAPI/GossipSeedClusterSettingsBuilder.cs
  src/EventStore.ClientAPI/Internal/ClusterDnsEndPointDiscoverer.cs
  src/EventStore.ClientAPI/Internal/EventStoreConnectionLogicHandler.cs
  src/EventStore.ClientAPI/Messages/ClientMessage.cs
  src/EventStore.ClientAPI/Messages/ClusterMessages.cs
  src/EventStore.ClientAPI/NodePreference.cs
  src/EventStore.ClientAPI/SystemData/InspectionDecision.cs
  src/EventStore.ClusterNode/ClusterNodeOptions.cs
  src/EventStore.ClusterNode/Program.cs
  src/EventStore.Core.Tests/Helpers/MiniClusterNode.cs
  src/EventStore.Core.Tests/Helpers/MiniNode.cs
  src/EventStore.Core.Tests/Integration/specification_with_cluster.cs
  src/EventStore.Core.Tests/Services/ElectionsService/ClusterSettingsFactory.cs
  src/EventStore.Core.Tests/Services/ElectionsService/ElectionServiceUnit.cs
  src/EventStore.Core.Tests/Services/ElectionsService/Randomized/RandomizedElectionsTestCase.cs
  src/EventStore.Core.Tests/Services/ElectionsService/Randomized/UpdateGossipProcessor.cs
  src/EventStore.Core.Tests/Services/ElectionsService/Randomized/elections_service_5_nodes_with_1_known_when_started_and_set_full_imediately.cs
  src/EventStore.Core.Tests/Services/ElectionsService/Randomized/elections_service_5_nodes_with_1_known_when_started_and_set_to_full_later.cs
  src/EventStore.Core.Tests/Services/ElectionsService/no_quorum_cases.cs
  src/EventStore.Core.Tests/Services/Replication/CommitReplication/with_index_committer_service.cs
  src/EventStore.Core.Tests/Services/Replication/ReadOnlyReplica/connecting_to_read_only_replica.cs
  src/EventStore.Core/Cluster/MemberInfo.cs
  src/EventStore.Core/Cluster/Settings/ClusterVNodeSettings.cs
  src/EventStore.Core/Cluster/VNodeInfo.cs
  src/EventStore.Core/ClusterVNode.cs
  src/EventStore.Core/Data/VNodeInfo.cs
  src/EventStore.Core/Data/VNodeState.cs
  src/EventStore.Core/Messages/MemberInfoDto.cs
  src/EventStore.Core/Messages/SystemMessage.cs
  src/EventStore.Core/Messages/TcpClientMessageDto.cs
  src/EventStore.Core/Services/ElectionsService.cs
  src/EventStore.Core/Services/Gossip/NodeGossipService.cs
  src/EventStore.Core/Services/HttpSendService.cs
  src/EventStore.Core/Services/Monitoring/MonitoringService.cs
  src/EventStore.Core/Services/Replication/MasterReplicationService.cs
  src/EventStore.Core/Services/Replication/ReplicaService.cs
  src/EventStore.Core/Services/Storage/StorageWriterService.cs
  src/EventStore.Core/Services/Transport/Http/Configure.cs
  src/EventStore.Core/Services/VNode/ClusterVNodeController.cs
  src/EventStore.Core/Util/Opts.cs
  src/EventStore.Core/VNodeBuilder.cs
  src/EventStore.Projections.Core.Tests/Services/projections_system/when_starting_up.cs
  src/Protos/ClientAPI/ClientMessageDtos.proto
Labels: area/documentation, kind/enhancement, subsystem/Core Database
