Repository kurrent-io/KurrentDB, pull requests merged in 2020-01, with the labels that each got.

#2193 Fix Position constructor in client operations
  src/EventStore.ClientAPI.Embedded/EmbeddedResponders.cs
  src/EventStore.ClientAPI/ClientOperations/AppendToStreamOperation.cs
  src/EventStore.ClientAPI/ClientOperations/CommitTransactionOperation.cs
  src/EventStore.ClientAPI/ClientOperations/ConditionalAppendToStreamOperation.cs
  src/EventStore.ClientAPI/ClientOperations/DeleteStreamOperation.cs
  src/EventStore.ClientAPIAcceptanceTests/EventStoreClientAPIFixture.Settings.cs
  src/EventStore.Core.Tests/ClientAPI/Helpers/TestConnection.cs
Labels: kind/bug

#2210 Allow Clients to Specify Which UUID Type They Want
  src/EventStore.Core/Services/Transport/Grpc/PersistentSubscriptions.Read.cs
  src/EventStore.Core/Services/Transport/Grpc/Streams.Read.cs
  src/EventStore.Grpc/EventStoreGrpcClient.Read.cs
  src/EventStore.Grpc/PersistentSubscriptions/EventStorePersistentSubscriptionsGrpcClient.Read.cs
  src/Protos/Grpc/persistent.proto
  src/Protos/Grpc/streams.proto
Labels: impact/medium, platform/.NET Core

#2211 Remove ReflectionBasedEqualityComparer
  src/EventStore.Core.Tests/Infrastructure/EqualityComparers.cs
  src/EventStore.Core.Tests/Services/ElectionsService/ElectionsServiceTests.cs
Labels: kind/enhancement

#2199 Add Live Health Check
  Dockerfile
  src/EventStore.ClusterNode/ClusterVNodeStartup.cs
  src/EventStore.ClusterNode/Program.cs
  src/EventStore.Core.Tests/Helpers/MiniClusterNode.cs
  src/EventStore.Core.Tests/Helpers/MiniNode.cs
  src/EventStore.Core.Tests/Helpers/WebHostBuilderExtensions.cs
  src/EventStore.Core.Tests/Http/Cluster/when_requesting_from_slave.cs
  src/EventStore.Core.Tests/Http/HealthChecks/when_performing_a_live_check.cs
  src/EventStore.Core/ClusterVNode.cs
  src/EventStore.Core/ClusterVNodeStartup.cs
  src/EventStore.Grpc.PersistentSubscriptions.Tests/StandaloneKestrelServerFixture.cs
  src/EventStore.Grpc.Tests.Common/EventStoreGrpcFixture.cs
Labels: impact/low, kind/enhancement

#2235 Test stability fixes
  src/EventStore.Client.Tests.Common/StreamRevisionGreaterThanIntMaxValueFixture.cs
  src/EventStore.Core.Tests/Helpers/MiniClusterNode.cs
  src/EventStore.Core.Tests/Http/Cluster/when_requesting_from_slave.cs
  src/EventStore.Core.Tests/Services/Replication/MasterReplication/with_replication_service.cs
  src/EventStore.Core.Tests/Services/Replication/ReplicationTracking/when_3_node_cluster_does_not_receive_master_write_notifications.cs
  src/EventStore.Core.Tests/Services/Replication/ReplicationTracking/when_3_node_cluster_receives_1_write_notification.cs
  src/EventStore.Core.Tests/Services/Replication/ReplicationTracking/when_3_node_cluster_receives_2_write_notifications.cs
  src/EventStore.Core.Tests/Services/Replication/ReplicationTracking/when_3_node_cluster_receives_duplicate_master_write_notifications.cs
  src/EventStore.Core.Tests/Services/Replication/ReplicationTracking/when_3_node_cluster_receives_duplicate_replica_write_notifications.cs
  src/EventStore.Core.Tests/Services/Replication/ReplicationTracking/when_3_node_cluster_receives_only_master_write.cs
  src/EventStore.Core.Tests/Services/Replication/ReplicationTracking/when_3_node_cluster_receives_replica_log_overrun.cs
  src/EventStore.Core.Tests/Services/Replication/ReplicationTracking/when_3_node_cluster_receives_replica_log_under_run.cs
  src/EventStore.Core.Tests/Services/Replication/ReplicationTracking/when_5_node_cluster_receives_2_write_notifications.cs
  src/EventStore.Core.Tests/Services/Replication/ReplicationTracking/when_5_node_cluster_receives_3_write_notifications.cs
  src/EventStore.Core.Tests/Services/Replication/ReplicationTracking/when_5_node_cluster_receives_duplicate_write_notifications.cs
  src/EventStore.Core.Tests/Services/Replication/ReplicationTracking/when_single_node_cluster_receives_1_write_notification.cs
  src/EventStore.Core.Tests/Services/Replication/Subscriptions/when_subscribed_to_stream_on_master_and_event_is_replicated_to_slaves.cs
  src/EventStore.Core.Tests/Services/RequestManagement/ReadMgr/when_reading_an_event_committed_on_master_and_on_slaves.cs
  src/EventStore.Core.Tests/Services/RequestManagement/ReadMgr/when_reading_events_from_cluster_with_replication_checkpoint_not_set.cs
  src/EventStore.Core.Tests/Services/Storage/BuildingIndex/when_building_an_index_off_tfile_with_duplicate_events_in_a_stream.cs
  src/EventStore.Core.Tests/Services/Storage/Chaser/with_storage_chaser_service.cs
  src/EventStore.Core.Tests/Services/Storage/ReadIndexTestScenario.cs
  src/EventStore.Core.Tests/Services/Storage/RepeatableDbTestScenario.cs
  src/EventStore.Core.Tests/Services/Storage/SimpleDbTestScenario.cs
  src/EventStore.Core.Tests/Services/Storage/Transactions/when_rebuilding_index_for_partially_persisted_transaction.cs
  src/EventStore.Core.Tests/Services/Storage/WriteEventsToIndexScenario.cs
  src/EventStore.Core.Tests/TransactionLog/Scavenging/Helpers/ScavengeTestScenario.cs
  src/EventStore.Core.Tests/TransactionLog/TFChunkHelper.cs
  src/EventStore.Core.Tests/TransactionLog/Truncation/TruncateAndReOpenDbScenario.cs
  src/EventStore.Core/ClusterVNode.cs
  src/EventStore.Core/Services/Replication/ReplicationTrackingService.cs
  src/EventStore.Core/Services/Storage/ReaderIndex/IndexCommitter.cs
  src/EventStore.Core/Services/Storage/ReaderIndex/ReadIndex.cs
  src/EventStore.Core/TransactionLog/Checkpoint/Checkpoint.cs
  src/EventStore.Core/TransactionLog/Chunks/TFChunkDbConfig.cs
  src/EventStore.Core/VNodeBuilder.cs
  src/EventStore.Projections.Core.Tests/ClientAPI/when_handling_deleted/with_from_category_foreach_projection/recovery/when_running_and_events_are_indexed.cs
  src/EventStore.Projections.Core.Tests/ClientAPI/when_handling_deleted/with_from_category_foreach_projection/when_running_and_events_are_indexed_but_a_stream_and_tombstone_postponed.cs
  src/EventStore.Projections.Core.Tests/Services/v8/when_creating_v8_projection.cs
  src/EventStore.Projections.Core.Tests/Subsystem/when_projection_subsystem_restarting.cs
Labels: tracking/In Progress
