Repository kurrent-io/KurrentDB, pull requests merged in 2020-04, with the labels that each got.

#2419 Replace custom HttpClient with HttpMessageHandler
  src/EventStore.ClientAPI/ConnectionSettings.cs
  src/EventStore.ClientAPI/ConnectionSettingsBuilder.cs
  src/EventStore.ClientAPI/EventStoreConnection.cs
Labels: area/documentation, subsystem/TCP client

#2418 Check that the leader is still in a leader state
  src/EventStore.Core/Services/VNode/ClusterVNodeController.cs
Labels: subsystem/core database

#2441 Remove application defines
  src/EventStore.ClusterNode/ClusterNodeOptions.cs
  src/EventStore.Common/Options/IOptions.cs
  src/EventStore.Common/Utils/Application.cs
  src/EventStore.Core.Tests/Common/EventStoreOptionsTests/TestArgs.cs
  src/EventStore.Core.Tests/TestsInitFixture.cs
  src/EventStore.Core/Bus/QueueMonitor.cs
  src/EventStore.Core/ClusterVNode.cs
  src/EventStore.Core/EventStoreHostedService.cs
  src/EventStore.Core/Services/Transport/Http/AuthenticatedHttpRequestProcessor.cs
  src/EventStore.Core/Settings/ESConsts.cs
  src/EventStore.Core/Util/Opts.cs
  src/EventStore.TestClient/ClientOptions.cs
  src/EventStore.Transport.Tcp/TcpConnectionMonitor.cs
Labels: area/cleanup, area/documentation

#2442 Remove Force option
  src/EventStore.ClusterNode/ClusterNodeOptions.cs
  src/EventStore.ClusterNode/ClusterVNodeHostedService.cs
  src/EventStore.Common/Options/IOptions.cs
  src/EventStore.Core.Tests/Common/EventStoreOptionsTests/TestArgs.cs
  src/EventStore.TestClient/ClientOptions.cs
Labels: area/cleanup, area/documentation
