Repository kurrent-io/KurrentDB, pull requests merged in 2020-07, with the labels that each got.

#2575 [V5] Use a loop instead of recursion for synchronous Receive- and SendAsync
  src/EventStore.ClientAPI/Transport.Tcp/TcpConnection.cs
  src/EventStore.Transport.Tcp/TcpConnection.cs
Labels: backport

#2586 Filter out unresolved events when checking for deleted partitions
  src/EventStore.Projections.Core/Services/Processing/EventByTypeIndexEventReader.cs
  src/EventStore.Projections.Core/Services/Processing/StreamEventReader.cs
  src/EventStore.Projections.Core/Services/Processing/TransactionFileEventReader.cs
  src/EventStore.Projections.Core/Standard/StreamDeletedHelper.cs
Labels: backport, subsystem/projections

#2566 Improve gRPC Subscription Performance
  src/EventStore.Core/Services/Transport/Grpc/Enumerators.AllSubscription.cs
  src/EventStore.Core/Services/Transport/Grpc/Enumerators.AllSubscriptionFiltered.cs
  src/EventStore.Core/Services/Transport/Grpc/Enumerators.StreamSubscription.cs
Labels: Benchmark

#2582 Update Dependencies
  .github/workflows/ci.yml
  src/EventStore.BufferManagement.Tests/EventStore.BufferManagement.Tests.csproj
  src/EventStore.ClientAPI.Embedded.Tests/EventStore.ClientAPI.Embedded.Tests.csproj
  src/EventStore.ClientAPI.Embedded/EventStore.ClientAPI.Embedded.csproj
  src/EventStore.ClientAPI.Tests/EventStore.ClientAPI.Tests.csproj
  src/EventStore.ClientAPI.v5.Tests/EventStore.ClientAPI.v5.Tests.csproj
  src/EventStore.Common/EventStore.Common.csproj
  src/EventStore.Core.Tests/EventStore.Core.Tests.csproj
  src/EventStore.Core/EventStore.Core.csproj
  src/EventStore.Projections.Core.Tests/EventStore.Projections.Core.Tests.csproj
  src/EventStore.Projections.Core/EventStore.Projections.Core.csproj
  src/EventStore.Rags.Tests/EventStore.Rags.Tests.csproj
Labels: Benchmark

#2592 [V5] Backport projection fixes
  src/EventStore.Core/Services/Storage/StorageReaderWorker.cs
  src/EventStore.Projections.Core.Tests/Services/v8/when_running_a_projection_emitting_invalid_events.cs
  src/EventStore.Projections.Core.Tests/Services/v8/when_running_a_v8_projection_emitting_invalid_links.cs
  src/EventStore.Projections.Core/Services/Processing/EventByTypeIndexEventReader.cs
  src/EventStore.Projections.Core/Services/Processing/StreamEventReader.cs
  src/EventStore.Projections.Core/Services/Processing/TransactionFileEventReader.cs
  src/EventStore.Projections.Core/Services/v8/V8ProjectionStateHandler.cs
  src/EventStore.Projections.Core/Standard/ByCorrelationId.cs
  src/EventStore.Projections.Core/Standard/StreamDeletedHelper.cs
Labels: backport, subsystem/projections

#2590 Add ability to reload certificates by sending SIGHUP signal or by triggering /admin/reloadconfig endpoint
  src/EventStore.ClientAPI.Embedded/EventStore.ClientAPI.Embedded.csproj
  src/EventStore.ClientAPI.Tests/Transport.Tcp/TcpConnectionSslTests.cs
  src/EventStore.ClientAPIAcceptanceTests/cluster/EventStoreClientAPIClusterFixture.cs
  src/EventStore.ClusterNode/ClusterVNodeHostedService.cs
  src/EventStore.ClusterNode/Program.cs
  src/EventStore.Core.Tests/Authorization/LegacyPolicyVerification.cs
  src/EventStore.Core.Tests/Helpers/MiniClusterNode.cs
  src/EventStore.Core.Tests/Services/ElectionsService/ClusterSettingsFactory.cs
  src/EventStore.Core.Tests/Services/Transport/Tcp/TcpConnectionSslTests.cs
  src/EventStore.Core.Tests/Services/Transport/Tcp/ssl_connection.cs
  src/EventStore.Core.Tests/Services/Transport/Tcp/ssl_connections_mutual_auth.cs
  src/EventStore.Core/Authorization/LegacyAuthorizationProviderFactory.cs
  src/EventStore.Core/CertificateLoader.cs
  src/EventStore.Core/Cluster/EventStoreClusterClient.cs
  src/EventStore.Core/Cluster/Settings/ClusterVNodeSettings.cs
  src/EventStore.Core/ClusterNodeOptions.cs
  src/EventStore.Core/ClusterVNode.cs
  src/EventStore.Core/EventStore.Core.csproj
  src/EventStore.Core/EventStoreHostedService.cs
  src/EventStore.Core/Exceptions/NoCertificatePrivateKeyException.cs
  src/EventStore.Core/Messages/ClientMessage.cs
  src/EventStore.Core/Services/HttpSendService.cs
  src/EventStore.Core/Services/Replication/ReplicaService.cs
  src/EventStore.Core/Services/Transport/Http/Controllers/AdminController.cs
  src/EventStore.Core/Services/Transport/Http/Controllers/GossipController.cs
  src/EventStore.Core/Services/Transport/Tcp/TcpConnectionManager.cs
  src/EventStore.Core/Services/Transport/Tcp/TcpService.cs
  src/EventStore.Core/Settings/ESConsts.cs
  src/EventStore.Core/VNodeBuilder.cs
  src/EventStore.Native/UnixSignalManager/UnixSignalManager.cs
  src/EventStore.TestClient/Client.cs
  src/EventStore.Transport.Tcp/TcpClientConnector.cs
  src/EventStore.Transport.Tcp/TcpConnectionSsl.cs
Labels: area/documentation

#2613 Add logging around cases where the latest stream's prepare could not be read
  src/EventStore.Core/Services/Storage/ReaderIndex/IndexReader.cs
  src/EventStore.Core/TransactionLog/Chunks/TFChunk/TFChunkReadSide.cs
  src/EventStore.Core/TransactionLog/Chunks/TFChunkReader.cs
Labels: backport

#2612 [V5] Add logging around cases where the latest stream's prepare could not be read
  src/EventStore.Core/Services/Storage/ReaderIndex/IndexReader.cs
  src/EventStore.Core/TransactionLog/Chunks/TFChunk/TFChunkReadSide.cs
  src/EventStore.Core/TransactionLog/Chunks/TFChunkReader.cs
Labels: backport
