Repository kurrent-io/KurrentDB, pull requests merged in 2020-02, with the labels that each got.

#2287 Improve Filtering API
  src/EventStore.Client.Common/Filter.cs
  src/EventStore.Client.Common/StreamRevision.cs
  src/EventStore.Client.Tests/Streams/FilterTestCase.cs
  src/EventStore.Client.Tests/Streams/read_all_events_backward_filtered.cs
  src/EventStore.Client.Tests/Streams/read_all_events_forwards_filtered.cs
  src/EventStore.Client.Tests/Streams/subscribe_to_all_filtered.cs
  src/EventStore.Client.Tests/Streams/subscribe_to_all_filtered_live.cs
  src/EventStore.Client.Tests/Streams/subscribe_to_all_filtered_with_position.cs
Labels: breaking change

#2301 Clarify PendingEventsThreshold text
  src/EventStore.ClientAPI/Projections/ProjectionConfig.cs
Labels: area/documentation

#2306 Internal gossip and elections over gRPC
  src/EventStore.ClusterNode/ClusterVNodeHostedService.cs
  src/EventStore.ClusterNode/Program.cs
  src/EventStore.Common/EventStore.Common.csproj
  src/EventStore.Common/Log/logconfig.json
  src/EventStore.Core.Tests/Cluster/EventStoreClientCacheTests.cs
  src/EventStore.Core.Tests/Common/VNodeBuilderTests/TestAuthentictaionProviderFactory.cs
  src/EventStore.Core.Tests/Helpers/MiniClusterNode.cs
  src/EventStore.Core.Tests/Services/ElectionsService/ElectionsServiceTests.cs
  src/EventStore.Core.Tests/Services/ElectionsService/LeaderNode/ElectionsServiceUnitTests.cs
  src/EventStore.Core.Tests/Services/ElectionsService/LeaderNode/happy_case_as_leader.cs
  src/EventStore.Core.Tests/Services/ElectionsService/LeaderNode/paxos_walktrough_as_leader.cs
  src/EventStore.Core.Tests/Services/ElectionsService/NonLeaderNode/happy_case_as_nonleader.cs
  src/EventStore.Core.Tests/Services/ElectionsService/NonLeaderNode/paxos_walktrough_as_nonleader.cs
  src/EventStore.Core.Tests/Services/ElectionsService/Randomized/InnerBusMessagesProcessor.cs
  src/EventStore.Core.Tests/Services/ElectionsService/Randomized/RandomizedElectionsAndGossipTestCase.cs
  src/EventStore.Core.Tests/Services/ElectionsService/Randomized/RandomizedElectionsTestCase.cs
  src/EventStore.Core.Tests/Services/ElectionsService/Randomized/SendOverGrpcBlockingProcessor.cs
  src/EventStore.Core.Tests/Services/ElectionsService/Randomized/SendOverGrpcProcessor.cs
  src/EventStore.Core.Tests/Services/ElectionsService/Randomized/UpdateGossipProcessor.cs
  src/EventStore.Core.Tests/Services/ElectionsService/Randomized/elections_service_3_nodes_with_1_known_and_changing_for_every_node_correct_removal.cs
  src/EventStore.Core.Tests/Services/ElectionsService/Randomized/elections_service_3_nodes_with_1_known_and_changing_for_every_node_remove_dead.cs
  src/EventStore.Core.Tests/Services/ElectionsService/Randomized/elections_service_3_nodes_with_1_known_and_changing_for_every_node_remove_dead_668010149.cs
  src/EventStore.Core.Tests/Services/ElectionsService/Randomized/elections_service_3_nodes_with_1_known_and_changing_for_every_node_remove_dead_base.cs
  src/EventStore.Core.Tests/Services/ElectionsService/Randomized/elections_service_3_nodes_with_1_known_and_changing_for_every_node_with_shuffle_stable_last_1000.cs
  src/EventStore.Core.Tests/Services/ElectionsService/Randomized/elections_service_5_nodes_with_1_known_and_changing_for_every_node_correct_removal.cs
  src/EventStore.Core.Tests/Services/ElectionsService/Randomized/elections_service_5_nodes_with_1_known_and_changing_for_every_node_remove_dead.cs
  src/EventStore.Core.Tests/Services/ElectionsService/Randomized/elections_service_5_nodes_with_1_known_and_changing_for_every_node_with_shuffle.cs
  src/EventStore.Core.Tests/Services/ElectionsService/no_quorum_cases.cs
  src/EventStore.Core.Tests/Services/GossipService/NodeGossipServiceTests.cs
  src/EventStore.Core.Tests/Services/Transport/Http/Authorization/authorization_tests.cs
  src/EventStore.Core/Authentication/IAuthenticationProviderFactory.cs
  src/EventStore.Core/Authentication/InternalAuthenticationProviderFactory.cs
  src/EventStore.Core/Cluster/ClusterInfo.cs
  src/EventStore.Core/Cluster/EndPoint.cs
  src/EventStore.Core/Cluster/EventStoreClusterClient.Elections.cs
  src/EventStore.Core/Cluster/EventStoreClusterClient.Gossip.cs
  src/EventStore.Core/Cluster/EventStoreClusterClient.cs
  src/EventStore.Core/Cluster/EventStoreClusterClientCache.cs
  src/EventStore.Core/Cluster/MemberInfo.cs
  src/EventStore.Core/Cluster/Settings/ClusterVNodeSettings.cs
  src/EventStore.Core/ClusterVNode.cs
  src/EventStore.Core/ClusterVNodeStartup.cs
  src/EventStore.Core/EventStore.Core.csproj
  src/EventStore.Core/Messages/ClusterClientMessage.cs
  src/EventStore.Core/Messages/GrpcMessage.cs
  src/EventStore.Core/Services/ElectionsService.cs
  src/EventStore.Core/Services/Gossip/GossipServiceBase.cs
  src/EventStore.Core/Services/Gossip/NodeGossipService.cs
  src/EventStore.Core/Services/GrpcSendService.cs
  src/EventStore.Core/Services/HttpSendService.cs
  src/EventStore.Core/Services/Transport/Grpc/Cluster.Elections.cs
  src/EventStore.Core/Services/Transport/Grpc/Cluster.Gossip.cs
  src/EventStore.Core/Services/Transport/Grpc/Cluster.cs
  src/EventStore.Core/Services/Transport/Grpc/ServiceBase.cs
  src/EventStore.Core/Services/Transport/Http/Controllers/ElectController.cs
  src/EventStore.Core/Services/Transport/Http/Controllers/GossipController.cs
  src/EventStore.Core/Util/Opts.cs
  src/EventStore.Projections.Core.Tests/Services/http_service/authorization_tests.cs
  src/Protos/Grpc/cluster.proto
Labels: breaking change

#2314 Drop macOS as a supported server OS in CI
  ci.yml
Labels: area/build, platform/.NET Core
