Repository kurrent-io/KurrentDB, pull requests merged in 2020-05, with the labels that each got.

#2450 Fix midpoint count overflow bug and off by one in GetDepth()
  src/EventStore.Core.Tests/Index/IndexVAny/midpoint_assertions.cs
  src/EventStore.Core/Index/PTableConstruction.cs
Labels: backport

#2458 Remove Get Gossip as the operation is performed over gRPC
  src/EventStore.Core/ClusterVNode.cs
  src/EventStore.Core/Services/Transport/Http/Controllers/GossipController.cs
Labels: area/cleanup

#2475 Authenticate other nodes as system users
  src/EventStore.Core.Tests/Authorization/LegacyPolicyVerification.cs
  src/EventStore.Core.Tests/Services/Transport/Http/Authentication/client_certificate_authentication_provider.cs
  src/EventStore.Core/Authorization/LegacyAuthorizationProviderFactory.cs
  src/EventStore.Core/ClusterVNode.cs
  src/EventStore.Core/Services/Transport/Http/Authentication/ClientCertificateAuthenticationProvider.cs
Labels: subsystem/core database

#2480 Provide the ability to use DnsEndpoints in the TCP ClientAPI
  src/EventStore.ClientAPI.Tests/EventStoreClientAPIFixture.Tcp.cs
  src/EventStore.ClientAPI.Tests/Transport.Tcp/TcpConnectionSslTests.cs
  src/EventStore.ClientAPI.Tests/endpoint_discoverer.cs
  src/EventStore.ClientAPI.v5.Tests/EventStoreClientAPIFixture.Tcp.cs
  src/EventStore.ClientAPI/EventStore.ClientAPI.csproj
  src/EventStore.ClientAPI/EventStoreConnection.cs
  src/EventStore.ClientAPI/IEndPointDiscoverer.cs
  src/EventStore.ClientAPI/Internal/ClusterDnsEndPointDiscoverer.cs
  src/EventStore.ClientAPI/Internal/EndPointExtensions.cs
  src/EventStore.ClientAPI/Internal/EventStoreConnectionLogicHandler.cs
  src/EventStore.ClientAPI/Internal/IPEndPointExtensions.cs
  src/EventStore.ClientAPI/Internal/StaticEndPointDiscoverer.cs
  src/EventStore.ClientAPI/Messages/ClientMessagesExtensions.cs
  src/EventStore.ClientAPI/NodeEndPoints.cs
  src/EventStore.ClientAPI/SystemData/InspectionResult.cs
  src/EventStore.ClientAPI/Transport.Tcp/TcpClientConnector.cs
  src/EventStore.ClientAPI/Transport.Tcp/TcpConnectionSsl.cs
  src/EventStore.ClientAPIAcceptanceTests/connect.cs
Labels: area/documentation, subsystem/TCP client

#2503 Tcp connections should have Ssl enabled by default
  src/EventStore.ClientAPI/ConnectionSettingsBuilder.cs
  src/EventStore.ClientAPIAcceptanceTests/ConnectionSettingsBuilderExtensions.cs
  src/EventStore.Core.Tests/ClientAPI/Helpers/TestConnection.cs
  src/EventStore.Core.Tests/ClientAPI/connect.cs
  src/EventStore.Core.Tests/ClientAPI/soft_delete.cs
  src/EventStore.Core.Tests/Http/PersistentSubscription/statistics.cs
  src/EventStore.Core.Tests/Services/Replication/ReadOnlyReplica/connecting_to_read_only_replica.cs
  src/EventStore.Core.Tests/Services/Transport/Http/when_getting_tcp_stats_from_stat_controller.cs
Labels: area/documentation, impact/breaking change

#2509 Fixed missing field for API Test Cluster Fixture in Embedded project
  src/EventStore.ClientAPI.Embedded.Tests/EventStoreClientAPIClusterFixture.Embedded.cs
Labels: kind/bug
