Repository kurrent-io/KurrentDB, pull requests merged in 2020-08, with the labels that each got.

#2641 Add options to set the host and ports advertised by the gossip to clients
  src/EventStore.ClusterNode/ClusterVNodeHostedService.cs
  src/EventStore.Core.Tests/Cluster/MemberInfoTests.cs
  src/EventStore.Core.Tests/Common/VNodeBuilderTests/when_building/with_single_node_and_custom_settings.cs
  src/EventStore.Core.Tests/Helpers/MiniClusterNode.cs
  src/EventStore.Core.Tests/Services/ElectionsService/ClusterSettingsFactory.cs
  src/EventStore.Core.Tests/Services/ElectionsService/ElectionServiceUnit.cs
  src/EventStore.Core.Tests/Services/ElectionsService/ElectionsServiceTests.cs
  src/EventStore.Core.Tests/Services/ElectionsService/LeaderNode/ElectionsServiceUnitTests.cs
  src/EventStore.Core.Tests/Services/ElectionsService/Randomized/RandomizedElectionsTestCase.cs
  src/EventStore.Core.Tests/Services/ElectionsService/Randomized/UpdateGossipProcessor.cs
  src/EventStore.Core.Tests/Services/ElectionsService/Randomized/elections_service_5_nodes_with_1_known_when_started_and_set_full_imediately.cs
  src/EventStore.Core.Tests/Services/ElectionsService/Randomized/elections_service_5_nodes_with_1_known_when_started_and_set_to_full_later.cs
  src/EventStore.Core.Tests/Services/GossipService/NodeGossipServiceTests.cs
  src/EventStore.Core/Cluster/ClientClusterInfo.cs
  src/EventStore.Core/Cluster/ClusterInfo.cs
  src/EventStore.Core/Cluster/MemberInfo.cs
  src/EventStore.Core/ClusterNodeOptions.cs
  src/EventStore.Core/ClusterVNode.cs
  src/EventStore.Core/Data/GossipAdvertiseInfo.cs
  src/EventStore.Core/Messages/GossipMessage.cs
  src/EventStore.Core/Messages/MemberInfoDto.cs
  src/EventStore.Core/Services/ElectionsService.cs
  src/EventStore.Core/Services/Gossip/GossipServiceBase.cs
  src/EventStore.Core/Services/Gossip/NodeGossipService.cs
  src/EventStore.Core/Services/Transport/Grpc/Gossip.Read.cs
  src/EventStore.Core/Services/Transport/Http/Controllers/GossipController.cs
  src/EventStore.Core/Services/Transport/Http/Format.cs
  src/EventStore.Core/Util/Opts.cs
  src/EventStore.Core/VNodeBuilder.cs
  src/EventStore.Projections.Core.Tests/Services/projections_system/when_starting_up.cs
  src/Protos/Grpc/cluster.proto
Labels: area/documentation

#2648 Remove development mode
  src/EventStore.ClusterNode/ClusterVNodeHostedService.cs
  src/EventStore.Core/ClusterNodeOptions.cs
  src/EventStore.Core/Util/Opts.cs
Labels: area/documentation

#2655 Entrypoint.sh now passes along arguments [eventstore-docker#78]
  scripts/docker/entrypoint.sh
Labels: Docker

#2651 Handle consolidated HTTP interfaces in 20.6 gossip
  src/EventStore.ClientAPI/Messages/ClusterMessages.cs
Labels: backport

#2652 Handle clusters with only secure tcp endpoints during reconnect
  src/EventStore.ClientAPI/Messages/ClientMessagesExtensions.cs
  src/EventStore.ClientAPI/SystemData/InspectionResult.cs
Labels: backport
