Repository kurrent-io/KurrentDB, pull requests merged in 2020-03, with the labels that each got.

#2286 Add command-line option to configure time a dead node will remain in the gossip before being pruned
  src/EventStore.ClusterNode/ClusterNodeOptions.cs
  src/EventStore.ClusterNode/ClusterVNodeHostedService.cs
  src/EventStore.Core.Tests/Helpers/MiniClusterNode.cs
  src/EventStore.Core.Tests/Services/ElectionsService/ClusterSettingsFactory.cs
  src/EventStore.Core.Tests/Services/ElectionsService/LeaderNode/ElectionsServiceUnitTests.cs
  src/EventStore.Core.Tests/Services/GossipService/NodeGossipServiceTests.cs
  src/EventStore.Core/Cluster/Settings/ClusterVNodeSettings.cs
  src/EventStore.Core/ClusterVNode.cs
  src/EventStore.Core/Services/Gossip/GossipServiceBase.cs
  src/EventStore.Core/Services/Gossip/NodeGossipService.cs
  src/EventStore.Core/Util/Opts.cs
  src/EventStore.Core/VNodeBuilder.cs
Labels: area/documentation

#2368 Remove Better Ordering
  src/EventStore.ClusterNode/ClusterNodeOptions.cs
  src/EventStore.ClusterNode/ClusterVNodeHostedService.cs
  src/EventStore.Core.Tests/Common/VNodeBuilderTests/when_building/with_default_settings.cs
  src/EventStore.Core.Tests/Common/VNodeBuilderTests/when_building/with_single_node_and_custom_settings.cs
  src/EventStore.Core.Tests/Services/RequestManagement/DeleteMgr/when_delete_stream_completes_successfully.cs
  src/EventStore.Core.Tests/Services/RequestManagement/DeleteMgr/when_delete_stream_gets_already_committed_after_commit.cs
  src/EventStore.Core.Tests/Services/RequestManagement/DeleteMgr/when_delete_stream_gets_already_committed_before_commit.cs
  src/EventStore.Core.Tests/Services/RequestManagement/DeleteMgr/when_delete_stream_gets_stream_deleted.cs
  src/EventStore.Core.Tests/Services/RequestManagement/DeleteMgr/when_delete_stream_gets_timeout_after_commit.cs
  src/EventStore.Core.Tests/Services/RequestManagement/DeleteMgr/when_delete_stream_gets_timeout_before_commit.cs
  src/EventStore.Core.Tests/Services/RequestManagement/Service/RequestManagerServiceSpecification.cs
  src/EventStore.Core.Tests/Services/RequestManagement/TransactionMgr/when_transaction_commit_completes_successfully.cs
  src/EventStore.Core.Tests/Services/RequestManagement/TransactionMgr/when_transaction_commit_gets_already_committed_after_committed.cs
  src/EventStore.Core.Tests/Services/RequestManagement/TransactionMgr/when_transaction_commit_gets_already_committed_before_committed.cs
  src/EventStore.Core.Tests/Services/RequestManagement/TransactionMgr/when_transaction_commit_gets_prepare_timeout_after_prepares.cs
  src/EventStore.Core.Tests/Services/RequestManagement/TransactionMgr/when_transaction_commit_gets_prepare_timeout_before_prepares.cs
  src/EventStore.Core.Tests/Services/RequestManagement/TransactionMgr/when_transaction_commit_gets_stream_deleted.cs
  src/EventStore.Core.Tests/Services/RequestManagement/TransactionMgr/when_transaction_commit_gets_timeout_before_cluster_commit.cs
  src/EventStore.Core.Tests/Services/RequestManagement/TransactionMgr/when_transaction_start_completes_successfully.cs
  src/EventStore.Core.Tests/Services/RequestManagement/WriteStreamMgr/when_write_stream_gets_already_committed.cs
  src/EventStore.Core.Tests/Services/RequestManagement/WriteStreamMgr/when_write_stream_gets_already_committed_and_log_is_committed.cs
  src/EventStore.Core.Tests/Services/RequestManagement/WriteStreamMgr/when_write_stream_gets_already_committed_and_log_is_not_committed.cs
  src/EventStore.Core.Tests/Services/RequestManagement/WriteStreamMgr/when_write_stream_gets_stream_deleted.cs
  src/EventStore.Core.Tests/Services/RequestManagement/WriteStreamMgr/when_write_stream_gets_timeout_after_cluster_commit.cs
  src/EventStore.Core.Tests/Services/RequestManagement/WriteStreamMgr/when_write_stream_gets_timeout_after_local_commit.cs
  src/EventStore.Core.Tests/Services/RequestManagement/WriteStreamMgr/when_write_stream_gets_timeout_before_local_commit.cs
  src/EventStore.Core/Cluster/Settings/ClusterVNodeSettings.cs
  src/EventStore.Core/ClusterVNode.cs
  src/EventStore.Core/Services/RequestManager/Managers/DeleteStream.cs
  src/EventStore.Core/Services/RequestManager/Managers/TransactionCommit.cs
  src/EventStore.Core/Services/RequestManager/Managers/TransactionStart.cs
  src/EventStore.Core/Services/RequestManager/Managers/WriteEvents.cs
  src/EventStore.Core/Services/RequestManager/RequestManagementService.cs
  src/EventStore.Core/Util/Opts.cs
  src/EventStore.Core/VNodeBuilder.cs
Labels: area/cleanup, area/documentation, subsystem/core database

#2366 Only Send View Change Proof on System Init
  src/EventStore.Core.Tests/Services/ElectionsService/ElectionsServiceTests.cs
  src/EventStore.Core.Tests/Services/ElectionsService/no_quorum_cases.cs
  src/EventStore.Core/Services/ElectionsService.cs
Labels: backport, subsystem/core database

#2367 Don't auto resubscribe TCP catchup subscriptions
  src/EventStore.ClientAPI/EventStoreCatchUpSubscription.cs
  src/EventStore.Core.Tests/ClientAPI/catch_up_subscription_handles_errors.cs
Labels: backport, subsystem/TCP client

#2382 Remove unused better ordering field
  src/EventStore.Core/VNodeBuilder.cs
Labels: area/cleanup

#2384 Throw TimeoutException instead of RpcException when DeadlineExceeded
  src/EventStore.Client.Common/Interceptors/TypedExceptionInterceptor.cs
  src/EventStore.Client.Tests/Streams/append_to_stream_with_timeout.cs
  src/EventStore.Client.Tests/Streams/delete_stream_with_timeout.cs
  src/EventStore.Client.Tests/Streams/read_all_with_timeout.cs
  src/EventStore.Client.Tests/Streams/read_stream_with_timeout.cs
  src/EventStore.Client.Tests/Streams/stream_metadata_with_timeout.cs
Labels: area/cleanup

#2374 Prepare authentication interfaces for extraction
  src/EventStore.ClientAPI.Embedded/EmbeddedEventStoreConnection.cs
  src/EventStore.ClusterNode/ClusterVNodeHostedService.cs
  src/EventStore.Core.Tests/Authentication/StubPasswordHashAlgorithm.cs
  src/EventStore.Core.Tests/Authentication/with_internal_authentication_provider.cs
  src/EventStore.Core.Tests/Common/VNodeBuilderTests/TestAuthenticationProviderFactory.cs
  src/EventStore.Core.Tests/Common/VNodeBuilderTests/when_building/with_default_settings.cs
  src/EventStore.Core.Tests/Common/VNodeBuilderTests/when_building/with_single_node_and_custom_settings.cs
  src/EventStore.Core.Tests/Helpers/MiniClusterNode.cs
  src/EventStore.Core.Tests/Services/ElectionsService/ClusterSettingsFactory.cs
  src/EventStore.Core.Tests/Services/Replication/MasterReplication/with_replication_service.cs
  src/EventStore.Core.Tests/Services/Transport/Tcp/TcpClientDispatcherTests.cs
  src/EventStore.Core.Tests/Services/Transport/Tcp/TcpConnectionManagerTests.cs
  src/EventStore.Core.Tests/Services/UserManagementService/user_management_service.cs
  src/EventStore.Core/Authentication/AuthenticationProviderFactory.cs
  src/EventStore.Core/Authentication/AuthenticationProviderFactoryComponents.cs
  src/EventStore.Core/Authentication/IAuthenticationProvider.cs
  src/EventStore.Core/Authentication/IAuthenticationProviderFactory.cs
  src/EventStore.Core/Authentication/InternalAuthentication/AllUsersReader.cs
  src/EventStore.Core/Authentication/InternalAuthentication/InternalAuthenticationProvider.cs
  src/EventStore.Core/Authentication/InternalAuthentication/InternalAuthenticationProviderFactory.cs
  src/EventStore.Core/Authentication/InternalAuthentication/PasswordHashAlgorithm.cs
  src/EventStore.Core/Authentication/InternalAuthentication/UserManagementService.cs
  src/EventStore.Core/Authentication/InternalAuthenticationProviderFactory.cs
  src/EventStore.Core/Cluster/Settings/ClusterVNodeSettings.cs
  src/EventStore.Core/ClusterVNode.cs
  src/EventStore.Core/Messages/AuthenticationMessage.cs
  src/EventStore.Core/Messages/UserManagementMessage.cs
  src/EventStore.Core/Services/Transport/Http/Authentication/PasswordChangeNotificationReader.cs
  src/EventStore.Core/Services/Transport/Http/Authentication/Rfc2898PasswordHashAlgorithm.cs
  src/EventStore.Core/Services/Transport/Http/KestrelToInternalBridgeMiddleware.cs
  src/EventStore.Core/Services/VNode/ClusterVNodeController.cs
  src/EventStore.Core/VNodeBuilder.cs
  src/EventStore.Projections.Core/ProjectionsSubsystem.cs
Labels: subsystem/core database

#2377 Remove write of $ProjectionDeleted for queries
  src/EventStore.Projections.Core.Tests/Services/projections_manager/query/an_expired_projection.cs
  src/EventStore.Projections.Core/Services/Management/ProjectionManager.cs
Labels: subsystem/projections

#2383 Align file names with the terminology changes
  src/EventStore.Core.Tests/Http/Cluster/when_requesting_from_follower.cs
  src/EventStore.Core.Tests/Services/Replication/LeaderReplication/when_non_promotable_replica_sends_replica_log_position_ack.cs
  src/EventStore.Core.Tests/Services/Replication/LeaderReplication/when_replication_service_has_replica_disconnected.cs
  src/EventStore.Core.Tests/Services/Replication/LeaderReplication/when_replication_service_recieves_leader_log_commited_to.cs
  src/EventStore.Core.Tests/Services/Replication/LeaderReplication/when_replication_service_recieves_replica_log_position_ack.cs
  src/EventStore.Core.Tests/Services/Replication/LeaderReplication/with_replication_service.cs
Labels: area/cleanup

#2385 Prepare authorization interfaces for extraction
  src/EventStore.Client.Tests.Common/EventStoreGrpcFixture.cs
  src/EventStore.ClusterNode/ClusterNodeOptions.cs
  src/EventStore.ClusterNode/ClusterVNodeHostedService.cs
  src/EventStore.Core.Tests/Authorization/LegacyPolicyVerification.cs
  src/EventStore.Core.Tests/Helpers/MiniClusterNode.cs
  src/EventStore.Core.Tests/Services/ElectionsService/ClusterSettingsFactory.cs
  src/EventStore.Core/Authorization/AuthorizationProviderFactory.cs
  src/EventStore.Core/Authorization/AuthorizationProviderFactoryComponents.cs
  src/EventStore.Core/Authorization/IAuthorizationProviderFactory.cs
  src/EventStore.Core/Authorization/LegacyAuthorizationProviderFactory.cs
  src/EventStore.Core/Cluster/Settings/ClusterVNodeSettings.cs
  src/EventStore.Core/ClusterVNode.cs
  src/EventStore.Core/PluginModel/IAuthorizationPlugin.cs
  src/EventStore.Core/Util/Opts.cs
  src/EventStore.Core/VNodeBuilder.cs
Labels: subsystem/core database

#2401 Remove unused code in MiniNode
  src/EventStore.Core.Tests/Helpers/MiniNode.cs
Labels: area/cleanup

#2393 Correct the xml docs for TCP client settings builders
  src/EventStore.ClientAPI/ConnectionSettingsBuilder.cs
  src/EventStore.ClientAPI/DnsClusterSettingsBuilder.cs
  src/EventStore.ClientAPI/GossipSeedClusterSettingsBuilder.cs
Labels: area/cleanup, area/documentation
