Repository kurrent-io/KurrentDB, pull requests merged in 2021-12, with the labels that each got.

#3327 [release/oss-v20.10] Intermediate certificate docs
  docs/security/configuration.md
Labels: area/documentation, backport

#3326 Backport additional fixes to 20.10.5
  src/EventStore.Core.Tests/Authentication/with_internal_authentication_provider.cs
  src/EventStore.Core.Tests/Helpers/IODispatcherTests/IODispatcherTestHelpers.cs
  src/EventStore.Core.Tests/Helpers/TestFixtureWithReadWriteDispatchers.cs
  src/EventStore.Core/Authentication/InternalAuthentication/InternalAuthenticationProviderFactory.cs
  src/EventStore.Core/ClusterVNode.cs
  src/EventStore.Core/Helpers/IODispatcher.cs
  src/EventStore.Core/Services/VNode/ClusterVNodeController.cs
  src/EventStore.Projections.Core.Tests/Services/SpecificationWithEmittedStreamsTrackerAndDeleter.cs
  src/EventStore.Projections.Core.Tests/Services/core_projection/when_starting_a_projection.cs
  src/EventStore.Projections.Core/ProjectionManagerNode.cs
  src/EventStore.Projections.Core/ProjectionWorkerNode.cs
Labels: backport

#3328 Fix link parsing in persistent subscription service.
  src/EventStore.Core.Tests/ClientAPI/read_from_persistent_subscription_with_link_resolution_when_stream_name_contains_at_symbol.cs
  src/EventStore.Core/Services/PersistentSubscription/PersistentSubscriptionService.cs
Labels: cherry-pick:release/oss-v20.10, cherry-pick:release/oss-v21.10

#3332 Reintroduce FileCheckpoints
  src/EventStore.Core.Tests/TransactionLog/when_reading_file_checkpoints.cs
  src/EventStore.Core.Tests/TransactionLog/when_writing_a_file_checksum_to_a_file.cs
  src/EventStore.Core/TransactionLog/Checkpoint/FileCheckpoint.cs
  src/EventStore.Core/VNodeBuilder.cs
Labels: cherry-pick:master, cherry-pick:release/oss-v21.10

#3316 Fix Bug in Checkpoints on Live Filtered Subscriptions
  src/EventStore.Core.Tests/Services/Transport/Grpc/StreamsTests/SubscribeToAllFilteredTests.cs
  src/EventStore.Core/Services/Transport/Grpc/Enumerators.AllSubscriptionFiltered.cs
Labels: cherry-pick:release/oss-v20.10, cherry-pick:master

#3336 Add test from PR #3316 for filtered subscriptions
  src/EventStore.Core.Tests/Services/Transport/Grpc/StreamsTests/SubscribeToAllFilteredTests.cs
Labels: backport

#3344 Prevent deadlock risk when creating a PersistentSubscriptionGroup
  src/EventStore.Core.Tests/Services/PersistentSubscription/PersistentSubscriptionTests.cs
  src/EventStore.Core.Tests/Services/PersistentSubscription/PinnedConsumerStrategyTests.cs
  src/EventStore.Core/Services/PersistentSubscription/PersistentSubscription.cs
  src/EventStore.Core/Services/PersistentSubscription/PersistentSubscriptionStats.cs
Labels: cherry-pick:master

#3346 Add extra logging on startup
  src/EventStore.Core.Tests/TransactionLog/Validation/when_validating_tfchunk_db.cs
  src/EventStore.Core/Services/Storage/EpochManager/EpochManager.cs
  src/EventStore.Core/TransactionLog/Chunks/TFChunkDb.cs
Labels: cherry-pick:release/oss-v20.10, cherry-pick:master

#3352 Update server protos for persistent subscriptions
  proto.lock
  src/EventStore.Core.Tests/EventStore.Core.Tests.csproj
  src/EventStore.Core.Tests/Services/Transport/Grpc/PersistentSubscriptionTests/GetInfoTests.cs
  src/EventStore.Core.Tests/Services/Transport/Grpc/PersistentSubscriptionTests/ReplayParkedTests.cs
  src/EventStore.Core.Tests/Services/Transport/Grpc/PersistentSubscriptionTests/RestartSubsystemTests.cs
  src/EventStore.Core.Tests/Services/Transport/Grpc/StreamsTests/GrpcSpecification.cs
  src/EventStore.Core/Services/Transport/Grpc/PersistentSubscriptions.Create.cs
  src/EventStore.Core/Services/Transport/Grpc/PersistentSubscriptions.Info.cs
  src/EventStore.Core/Services/Transport/Grpc/PersistentSubscriptions.ReplayParked.cs
  src/EventStore.Core/Services/Transport/Grpc/PersistentSubscriptions.RestartSubsystem.cs
  src/Protos/Grpc/persistent.proto
Labels: cherry-pick:release/oss-v21.10

#3357 Changed DDD-CQRS-ES slack link
  README.md
Labels: area/documentation

#3358 Allow persistent subscriptions to be created with NamedConsumerStrategy
  src/EventStore.Core.Tests/Services/Transport/Grpc/PersistentSubscriptionTests/CreateTests.cs
  src/EventStore.Core/Services/Transport/Grpc/PersistentSubscriptions.Create.cs
Labels: cherry-pick:master
