Repository kurrent-io/KurrentDB, pull requests merged in 2021-07, with the labels that each got.

#3015 Add projection runtime doc
  docs/projections/configuration.md
Labels: area/documentation, cherry-pick:master

#3033 Fixed the dead link to v5 http API
  docs/introduction/clients.md
Labels: area/documentation

#3034 Removing redundant json files to simplify samples
  samples/http-api/projections/create-projection.sh
  samples/http-api/projections/shopping-cart-counter.json
  samples/http-api/projections/shopping-cart-counter.sh
  samples/http-api/projections/update-projection-options.json
  samples/http-api/projections/update-projection-options.sh
  samples/http-api/xbox-one-s-counter-outputState.json
  samples/http-api/xbox-one-s-counter-outputState.sh
Labels: area/documentation, cherry-pick:release/oss-v20.10, cherry-pick:release/oss-v21.2

#3035 Added clarification on what will happen after deleting events for the system projections
  docs/streams/deleting-streams-and-events.md
Labels: area/documentation, cherry-pick:master, cherry-pick:release/oss-v20.10, cherry-pick:release/oss-v21.2

#3043 Fixed broken projections documentation links introduced in #3026
  docs/http-api/projections/README.md
  samples/http-api/xbox-one-s-counter.js
Labels: area/documentation, cherry-pick:master, cherry-pick:release/oss-v20.10, cherry-pick:release/oss-v21.2

#3045 Fixed another dead link in HTTP projections docs
  docs/http-api/projections/README.md
Labels: area/documentation

#3048 [cherry-pick] Fixed broken links in the projection documentation introduced in https
  samples/http-api/xbox-one-s-counter.js
Labels: area/documentation

#3049 [cherry-pick] Fixed broken links in the projection documentation introduced in https
  samples/http-api/xbox-one-s-counter.js
Labels: area/documentation

#3051 [cherry-pick] Fixed broken links in the projection documentation introduced in https
  samples/http-api/xbox-one-s-counter.js
Labels: area/documentation

#3053 [Backport] Make logconfig.json location fully configurable
  src/EventStore.Common/Log/EventStoreLoggerConfiguration.cs
  src/EventStore.Common/Options/IOptions.cs
  src/EventStore.Core.Tests/Common/EventStoreOptionsTests/TestArgs.cs
  src/EventStore.Core/ClusterNodeOptions.cs
  src/EventStore.Core/EventStoreHostedService.cs
  src/EventStore.Core/Util/Opts.cs
  src/EventStore.TestClient/ClientOptions.cs
Labels: backport

#3057 [cherry-pick] Fix http port parameter in docker-compose.yaml (#2995)
  samples/server/docker-compose.yaml
Labels: area/documentation, cherry-pick:release/oss-v20.10, cherry-pick:release/oss-v21.2

#3055 Prevent scavenged events from being passed to ExecuteHandler
  src/EventStore.Projections.Core/Services/v8/V8ProjectionStateHandler.cs
Labels: backport

#3056 Handle truncated streams when reading events for projections
  src/EventStore.Projections.Core/Services/Processing/EventByTypeIndexEventReader.cs
  src/EventStore.Projections.Core/Services/Processing/MultiStreamEventReader.cs
  src/EventStore.Projections.Core/Services/Processing/StreamEventReader.cs
  src/EventStore.Projections.Core/Services/Processing/TransactionFileEventReader.cs
Labels: backport

#3060 Add Commit Hash to .NET Version Info At Startup
  src/EventStore.Common/Utils/OS.cs
Labels: cherry-pick:master
