Repository kurrent-io/KurrentDB, pull requests merged in 2021-08, with the labels that each got.

#3081 document unknown options error
  docs/configuration/README.md
Labels: area/documentation, cherry-pick:release/oss-v21.6

#3079 Update changelog for 20.10.4
  CHANGELOG.md
Labels: cherry-pick:release/oss-v20.10

#3104 Update standard backup procedure
  docs/operations/database-backup.md
Labels: cherry-pick:release/oss-v21.2, cherry-pick:release/oss-v20.10, cherry-pick:release/oss-v5, cherry-pick:release/oss-v21.6

#3116 Don't allow nodes to prune gossip seeds if they're not part of a cluster
  src/EventStore.Core.Tests/Services/GossipService/NodeGossipServiceTests.cs
  src/EventStore.Core/Services/Gossip/GossipServiceBase.cs
Labels: cherry-pick:master

#3119 Updated explanation about what's the new $tb revision after soft delete
  docs/streams/deleting-streams-and-events.md
Labels: area/documentation, cherry-pick:release/oss-v21.2, cherry-pick:release/oss-v20.10, cherry-pick:master, cherry-pick:release/oss-v21.6

#3135 Fix off by one error and brackets in docs
  docs/indexes/README.md
Labels: cherry-pick:release/oss-v21.2, cherry-pick:release/oss-v20.10, cherry-pick:release/oss-v5, cherry-pick:release/oss-v21.6
