Repository kurrent-io/KurrentDB, pull requests merged in 2021-06, with the labels that each got.

#2902 Add auto configuration for caching
  docs/configuration/auto-configured-options.md
  docs/networking/http.md
  docs/sidebar.js
  src/EventStore.ClusterNode/Program.cs
  src/EventStore.Core.Tests/Common/ClusterNodeOptionsTests/when_building/with_default_settings.cs
  src/EventStore.Core.Tests/Constants.cs
  src/EventStore.Core.Tests/Services/Storage/BuildingIndex/when_building_an_index_off_tfile_with_duplicate_events_in_a_stream.cs
  src/EventStore.Core.Tests/Settings/CacheSizeCalculatorTests.cs
  src/EventStore.Core.Tests/Settings/ReaderThreadCountCalculatorTests.cs
  src/EventStore.Core.Tests/Settings/WorkerThreadCountCalculatorTests.cs
  src/EventStore.Core/ClusterVNode.cs
  src/EventStore.Core/ClusterVNodeOptions.cs
  src/EventStore.Core/Services/Monitoring/MonitoringService.cs
  src/EventStore.Core/Services/Monitoring/SystemStatsHelper.cs
  src/EventStore.Core/Services/Storage/ReaderIndex/IndexWriter.cs
  src/EventStore.Core/Settings/CacheSizeCalculator.cs
  src/EventStore.Core/Settings/ESConsts.cs
  src/EventStore.Core/Settings/ThreadCountCalculator.cs
  src/EventStore.Core/Util/Opts.cs
  src/EventStore.TestClient/Client.cs
  src/EventStore.TestClient/ClientApiTcpCommands/WriteFloodProcessor.cs
  src/EventStore.TestClient/ClientApiTcpTestClient.cs
  src/EventStore.TestClient/ClientOptions.cs
  src/EventStore.TestClient/CommandProcessorContext.cs
  src/EventStore.TestClient/Commands/DeleteProcessor.cs
  src/EventStore.TestClient/Commands/DvuBasic/DvuBasicProcessor.cs
  src/EventStore.TestClient/Commands/MultiWriteFloodWaiting.cs
  src/EventStore.TestClient/Commands/MultiWriteProcessor.cs
  src/EventStore.TestClient/Commands/PingFloodProcessor.cs
  src/EventStore.TestClient/Commands/PingFloodWaitingProcessor.cs
  src/EventStore.TestClient/Commands/PingProcessor.cs
  src/EventStore.TestClient/Commands/ReadAllProcessor.cs
  src/EventStore.TestClient/Commands/ReadFloodProcessor.cs
  src/EventStore.TestClient/Commands/ReadProcessor.cs
  src/EventStore.TestClient/Commands/RunTestScenariosProcessor.cs
  src/EventStore.TestClient/Commands/ScavengeProcessor.cs
  src/EventStore.TestClient/Commands/SubscribeToStreamProcessor.cs
  src/EventStore.TestClient/Commands/SubscriptionStressTestProcessor.cs
  src/EventStore.TestClient/Commands/TcpSanitazationCheckProcessor.cs
  src/EventStore.TestClient/Commands/TransactionWriteProcessor.cs
  src/EventStore.TestClient/Commands/WriteFloodClientApiProcessor.cs
  src/EventStore.TestClient/Commands/WriteFloodProcessor.cs
  src/EventStore.TestClient/Commands/WriteFloodWaitingProcessor.cs
  src/EventStore.TestClient/Commands/WriteJsonProcessor.cs
  src/EventStore.TestClient/Commands/WriteLongTermProcessor.cs
  src/EventStore.TestClient/Commands/WriteProcessor.cs
  src/EventStore.TestClient/EventStore.TestClient.csproj
  src/EventStore.TestClient/GrpcCommands/WriteFloodProcessor.cs
  src/EventStore.TestClient/GrpcTestClient.cs
  src/EventStore.TestClient/Program.cs
  src/EventStore.TestClient/Statistics/TestClientCsvLoggerConfiguration.cs
  src/EventStore.TestClient/Statistics/WriteFloodStats.cs
  src/EventStore.TestClient/TcpTestClient.cs
Labels: area/documentation, impact/breaking change

#2997 removed diff backup
  docs/operations/database-backup.md
Labels: area/documentation, cherry-pick:release/oss-v20.10, cherry-pick:release/oss-v21.2, cherry-pick:release/oss-v5

#2991 Fix Potential Server Side Crash w/ gRPC Batch Appends
  src/EventStore.Core/Services/Transport/Grpc/BatchAppendResp.cs
  src/EventStore.Core/Services/Transport/Grpc/Streams.BatchAppend.cs
Labels: cherry-pick:master

#3002 Make Log Configuration Path Configurable
  src/EventStore.ClusterNode/Program.cs
  src/EventStore.Common/Log/EventStoreLoggerConfiguration.cs
  src/EventStore.Core/ClusterVNodeOptions.cs
Labels: cherry-pick:master

#2987 Add persistent subscription docs for the server
  docs/persistent-subscriptions/README.md
  docs/persistent-subscriptions/images/consumer-groups.jpg
  docs/sidebar.js
Labels: area/documentation, cherry-pick:master, cherry-pick:release/oss-v20.10, cherry-pick:release/oss-v21.2
