Repository kurrent-io/KurrentDB, pull requests merged in 2021-11, with the labels that each got.

#3257 Truncate the StreamExistenceFilter checkpoint if necessary on writer truncation
  src/EventStore.Core.XUnit.Tests/LogAbstraction/Common/StreamExistenceFilterTests.cs
  src/EventStore.Core.XUnit.Tests/LogAbstraction/INameExistenceFilterTests.cs
  src/EventStore.Core.XUnit.Tests/LogAbstraction/LogFormatAbstractorV2Tests.cs
  src/EventStore.Core.XUnit.Tests/LogAbstraction/LogFormatAbstractorV3Tests.cs
  src/EventStore.Core.XUnit.Tests/LogAbstraction/MockExistenceFilterInitializer.cs
  src/EventStore.Core.XUnit.Tests/LogV2/LogV2StreamExistenceFilterInitializerTests.cs
  src/EventStore.Core.XUnit.Tests/LogV2/MockExistenceFilter.cs
  src/EventStore.Core.XUnit.Tests/LogV3/LogV3StreamExistenceFilterInitializerTests.cs
  src/EventStore.Core.XUnit.Tests/LogV3/MockExistenceFilter.cs
  src/EventStore.Core/LogAbstraction/Common/NoNameExistenceFilter.cs
  src/EventStore.Core/LogAbstraction/Common/StreamExistenceFilter.cs
  src/EventStore.Core/LogAbstraction/INameExistenceFilter.cs
  src/EventStore.Core/LogAbstraction/INameExistenceFilterInitializer.cs
  src/EventStore.Core/LogV2/LogV2StreamExistenceFilterInitializer.cs
  src/EventStore.Core/LogV3/LogV3StreamExistenceFilterInitializer.cs
  src/EventStore.Core/LogV3/StreamExistenceFilterValidator.cs
  src/EventStore.Core/Services/Storage/ReaderIndex/IndexCommitter.cs
Labels: cherry-pick:master

#3260 Document new index features
  docs/indexes/README.md
  docs/indexes/advanced.md
  docs/indexes/configuration.md
Labels: cherry-pick:master

#3254 Intermediate certificate documentation
  docs/security/configuration.md
Labels: area/documentation, cherry-pick:release/oss-v21.10

#3270 Fix server crash when multiple threads call IODispatcher
  src/EventStore.Core/Helpers/IODispatcher.cs
  src/EventStore.Core/Services/TimerService/ThreadBasedScheduler.cs
Labels: backport, cherry-pick:release/oss-v20.10

#3266 Add modified differential backup procedure
  docs/operations/database-backup.md
Labels: cherry-pick:release/oss-v21.2, cherry-pick:release/oss-v20.10, cherry-pick:release/oss-v5, cherry-pick:release/oss-v21.6, cherry-pick:release/oss-v21.10

#3280 Removed information about the deprecated support for v5 on macOS
  docs/diagnostics/logging.md
  docs/installation/README.md
  docs/installation/configuration.md
  docs/installation/macos.md
  docs/server/database.md
  docs/server/default-directories.md
  docs/sidebar.js
Labels: area/documentation

#3274 Doc update v21.10
  docs/configuration/README.md
  docs/introduction/README.md
  samples/server/docker-compose-cluster.yaml
  samples/server/docker-compose.yaml
Labels: area/documentation, cherry-pick:master

#3285 Always finish reading RequestStream before completing the gRPC call
  src/EventStore.Core/Services/PersistentSubscription/PersistentSubscriptionService.cs
  src/EventStore.Core/Services/Transport/Grpc/AsyncStreamExtensions.cs
  src/EventStore.Core/Services/Transport/Grpc/PersistentSubscriptions.Read.cs
Labels: cherry-pick:release/oss-v20.10

#3282 Do not log IOException when closing gRPC connection
  src/EventStore.Core/Services/Transport/Grpc/Streams.BatchAppend.cs
Labels: cherry-pick:master

#3292 Drop leading / from paths-ignore
  .github/workflows/build-container-alpine.yml
  .github/workflows/build-container-buster-slim.yml
  .github/workflows/build-container-focal.yml
  .github/workflows/build-ubuntu-18.04.yml
  .github/workflows/build-ubuntu-20.04-arm64.yml
  .github/workflows/build-windows-2019.yml
  .github/workflows/common.yml
  .github/workflows/pull-request-check.yml
Labels: cherry-pick:release/oss-v21.10

#3295 Return Correct Error Status Code in BatchAppend
  src/EventStore.Core/Services/Transport/Grpc/Status.cs
  src/EventStore.Core/Services/Transport/Grpc/Streams.BatchAppend.cs
Labels: cherry-pick:master

#3288 [release/oss-v20.10] Clear HeadingEventReader cache when stopping
  src/EventStore.Projections.Core/Services/Processing/HeadingEventReader.cs
Labels: backport

#3283 Add support for intermediate certificates
  src/EventStore.ClientAPIAcceptanceTests/cluster/EventStoreClientAPIClusterFixture.cs
  src/EventStore.ClusterNode/ClusterVNodeHostedService.cs
  src/EventStore.Core.Tests/Certificates/ByteExtensions.cs
  src/EventStore.Core.Tests/Certificates/X509Certificate2Extensions.cs
  src/EventStore.Core.Tests/Certificates/certificate_validity_checks.cs
  src/EventStore.Core.Tests/Certificates/chain_building.cs
  src/EventStore.Core.Tests/Certificates/with_certificate_chain_of_length_1.cs
  src/EventStore.Core.Tests/Certificates/with_certificate_chain_of_length_2.cs
  src/EventStore.Core.Tests/Certificates/with_certificate_chain_of_length_3.cs
  src/EventStore.Core.Tests/Certificates/with_certificate_files.cs
  src/EventStore.Core.Tests/Certificates/with_certificates.cs
  src/EventStore.Core.Tests/Common/VNodeBuilderTests/when_building/with_secure_tcp.cs
  src/EventStore.Core.Tests/Common/VNodeBuilderTests/when_building/with_single_node_and_custom_settings.cs
  src/EventStore.Core.Tests/Helpers/MiniClusterNode.cs
  src/EventStore.Core.Tests/Services/ElectionsService/ClusterSettingsFactory.cs
  src/EventStore.Core.Tests/Services/Transport/Tcp/ssl_connections_mutual_auth.cs
  src/EventStore.Core/CertificateLoader.cs
  src/EventStore.Core/CertificateUtils.cs
  src/EventStore.Core/Cluster/EventStoreClusterClient.cs
  src/EventStore.Core/Cluster/Settings/ClusterVNodeSettings.cs
  src/EventStore.Core/ClusterNodeOptions.cs
  src/EventStore.Core/ClusterNodeOptionsExtensions.cs
  src/EventStore.Core/ClusterVNode.cs
  src/EventStore.Core/EventStore.Core.csproj
  src/EventStore.Core/VNodeBuilder.cs
Labels: backport

#3300 Remove the obsolete warning
  docs/clustering/using-dns.md
Labels: cherry-pick:release/oss-v21.2, cherry-pick:release/oss-v20.10, cherry-pick:release/oss-v21.6, cherry-pick:release/oss-v21.10

#3306 Adding the Vector page
  docs/diagnostics/vector.md
  docs/sidebar.js
Labels: cherry-pick:release/oss-v21.2, cherry-pick:release/oss-v20.10, cherry-pick:release/oss-v21.6, cherry-pick:release/oss-v21.10

#3314 samples http-APi : default acl is set on $settings not $settings/metadata
  samples/http-api/update-default-acl.sh
Labels: area/documentation
