Repository kurrent-io/KurrentDB, pull requests merged in 2021-02, with the labels that each got.

#2815 Add timeout when getting gossip during discovery
  src/EventStore.ClientAPI/Internal/ClusterDnsEndPointDiscoverer.cs
Labels: backport

#2822 Allow 50 logical TB of log size
  src/EventStore.Core/TransactionLog/Chunks/TFChunkManager.cs
Labels: backport

#2796 Introduce compatibility mode.
  src/EventStore.ClientAPI.Tests/endpoint_discoverer.cs
  src/EventStore.ClientAPI/CompatibilityMode.cs
  src/EventStore.ClientAPI/ConnectionSettings.cs
  src/EventStore.ClientAPI/ConnectionSettingsBuilder.cs
  src/EventStore.ClientAPI/EventStoreConnection.cs
  src/EventStore.ClientAPI/GossipSeed.cs
  src/EventStore.ClientAPI/ICompatibilityMode.cs
  src/EventStore.ClientAPI/Internal/ClusterDnsEndPointDiscoverer.cs
  src/EventStore.ClientAPI/NoCompatibilityMode.cs
  src/EventStore.ClientAPI/StringCompatibilityMode.cs
  src/EventStore.ClientAPI/Transport.Http/HttpAsyncClient.cs
Labels: area/documentation

#2824 Prevent a checkpoint from being emitted at same position twice
  src/EventStore.Projections.Core.Tests/Services/projection_subscription/when_handling_events_with_different_event_filters.cs
  src/EventStore.Projections.Core/Services/Processing/ReaderSubscriptionBase.cs
Labels: subsystem/projections
