Repository kurrent-io/KurrentDB, pull requests merged in 2021-04, with the labels that each got.

#2903 Removed the job check from cherry-pick-pr-for-label action.
  .github/workflows/cherry-pick-pr-for-label.yml
Labels: area/documentation, cherry-pick:release/oss-v21.2

#2910 Fixed typo in user defined projections body
  docs/projections/user-defined-projections.md
Labels: cherry-pick:master, cherry-pick:release/oss-v20.10, cherry-pick:release/oss-v5

#2914 [release/oss-v20.10] Fixed typo in user defined projections body
  docs/projections/user-defined-projections.md
Labels: cherry-pick:master, cherry-pick:release/oss-v5

#2920 Fix minor typos in scavenge
  docs/operations/scavenge.md
Labels: cherry-pick:release/oss-v20.10, cherry-pick:release/oss-v21.2, cherry-pick:release/oss-v5
