Repository kurrent-io/KurrentDB, pull requests merged in 2021-09, with the labels that each got.

#3155 Adding a missing </li> to docs
  docs/http-api/persistent/README.md
Labels: area/documentation

#3156 Fix ArithmeticOverflowException in Persistent Subscriptions
  src/EventStore.Core.Tests/Services/PersistentSubscription/RequestStatisticsTests.cs
  src/EventStore.Core/Services/PersistentSubscription/RequestStatistics.cs
Labels: cherry-pick:release/oss-v20.10

#3166 Updated "Event Stream" documentation's sidebar configuration to follow convention
  docs/sidebar.js
  docs/streams/README.md
Labels: area/documentation, cherry-pick:release/oss-v21.2, cherry-pick:release/oss-v20.10, cherry-pick:master, cherry-pick:release/oss-v21.6

#3182 Configurator out
  docs/installation/README.md
Labels: cherry-pick:release/oss-v21.2, cherry-pick:release/oss-v20.10, cherry-pick:release/oss-v21.6

#3186 Fix off-by-one error in Index committer service
  src/EventStore.Core.Tests/Services/IndexCommitter/when_index_commiter_service_receives_replicated_to_prepare_post_position.cs
  src/EventStore.Core.Tests/Services/IndexCommitter/when_index_committer_service_receives_multiple_acks_for_different_positions.cs
  src/EventStore.Core.Tests/Services/IndexCommitter/when_index_committer_service_receives_multiple_acks_for_different_positions_out_of_order.cs
  src/EventStore.Core.Tests/Services/IndexCommitter/when_index_committer_service_receives_replicated_to_prepare_pre_position.cs
  src/EventStore.Core/Services/Storage/IndexCommitterService.cs
Labels: cherry-pick:release/oss-v20.10

#3192 Http docs
  docs/http-api/api/README.md
Labels: area/documentation

#3189 Handle epochs that are not written on the current leader
  src/EventStore.Core.Tests/Services/Replication/LeaderReplication/when_replica_subscribes_with_epochs.cs
  src/EventStore.Core.Tests/Services/Replication/LeaderReplication/with_replication_service_and_epoch_manager.cs
  src/EventStore.Core/Services/Replication/LeaderReplicationService.cs
  src/EventStore.Core/Services/Storage/EpochManager/EpochManager.cs
Labels: cherry-pick:master
