Repository kurrent-io/KurrentDB, pull requests merged in 2022-03, with the labels that each got.

#3435 Fix projections subsystem getting stuck in a stopping state when reads timeout
  src/EventStore.Core/Helpers/IODispatcher.cs
  src/EventStore.Projections.Core.Tests/Services/emitted_stream/when_a_read_completes_before_a_timeout_in_recovery.cs
  src/EventStore.Projections.Core.Tests/Services/emitted_stream/when_a_read_times_out_in_recovery.cs
  src/EventStore.Projections.Core/Services/Processing/EmittedStream.cs
  src/EventStore.Projections.Core/Services/Processing/EmittedStreamsTracker.cs
Labels: subsystem/projections

#3443 Publish AckLogPosition on ReplicaSubscribed
  src/EventStore.Core/Services/ClusterStorageWriterService.cs
Labels: cherry-pick:release/oss-v20.10, cherry-pick:master

#3427 Add support for DNS discovery with a secure cluster having only DNS SANs (including wildcard SANs)
  src/EventStore.Common/Utils/CertificateDelegates.cs
  src/EventStore.Common/Utils/CertificateExtensions.cs
  src/EventStore.Common/Utils/CertificateNameType.cs
  src/EventStore.Common/Utils/EndpointExtensions.cs
  src/EventStore.Common/Utils/IPWithClusterDnsEndPoint.cs
  src/EventStore.Common/Utils/StringExtensions.cs
  src/EventStore.Core.Tests/Certificates/name_matching.cs
  src/EventStore.Core.Tests/Certificates/subject_alternative_names.cs
  src/EventStore.Core.Tests/Cluster/EventStoreClientCacheTests.cs
  src/EventStore.Core.Tests/Services/Transport/Http/PortableServer.cs
  src/EventStore.Core.Tests/Services/Transport/Tcp/TcpConnectionSslTests.cs
  src/EventStore.Core.Tests/Services/Transport/Tcp/ssl_connection.cs
  src/EventStore.Core.Tests/Services/Transport/Tcp/ssl_connections_mutual_auth.cs
  src/EventStore.Core.Tests/Services/Transport/Tcp/when_invalid_data_is_sent_over_tcp.cs
  src/EventStore.Core.Tests/Services/Transport/Tcp/with_intermediate_certificates.cs
  src/EventStore.Core/Cluster/ClusterInfo.cs
  src/EventStore.Core/Cluster/EventStoreClusterClient.Gossip.cs
  src/EventStore.Core/Cluster/EventStoreClusterClient.cs
  src/EventStore.Core/ClusterVNode.cs
  src/EventStore.Core/ClusterVNodeStartup.cs
  src/EventStore.Core/Services/Gossip/DnsGossipSeedSource.cs
  src/EventStore.Core/Services/HttpSendService.cs
  src/EventStore.Core/Services/Replication/ReplicaService.cs
  src/EventStore.Core/Services/Transport/Grpc/Cluster.Elections.cs
  src/EventStore.Core/Services/Transport/Grpc/Cluster.Gossip.cs
  src/EventStore.Core/Services/Transport/Http/Authentication/ClientCertificateAuthenticationProvider.cs
  src/EventStore.Core/Services/Transport/Tcp/TcpConnectionManager.cs
  src/EventStore.Core/Services/Transport/Tcp/TcpService.cs
  src/EventStore.TestClient/TcpTestClient.cs
  src/EventStore.Transport.Tcp/TcpClientConnector.cs
  src/EventStore.Transport.Tcp/TcpConnectionBase.cs
  src/EventStore.Transport.Tcp/TcpConnectionSsl.cs
Labels: cherry-pick:release/oss-v21.10

#3458 Retry establishing a TCP connection to the leader
  src/EventStore.Core/Messages/ReplicationMessage.cs
  src/EventStore.Core/Messages/SystemMessage.cs
  src/EventStore.Core/Services/Replication/ReplicaService.cs
  src/EventStore.Core/Services/VNode/ClusterVNodeController.cs
Labels: cherry-pick:release/oss-v20.10, cherry-pick:release/oss-v21.10
