Repository kurrent-io/KurrentDB, pull requests merged in 2022-10, with the labels that each got.

#3599 Node not going into ready state due to synchronization bug in UserManagementService
  src/EventStore.Core/Authentication/InternalAuthentication/UserManagementService.cs
Labels: cherry-pick:release/oss-v20.10, cherry-pick:release/oss-v21.10, cherry-pick:release/oss-v22.6

#3596 Adjustments to unit test timings
  src/EventStore.Core.Tests/Services/Storage/ReadIndexTestScenario.cs
  src/EventStore.Core/Index/TableIndex.cs
  src/EventStore.Projections.Core.Javascript.Tests/SpecRunner.cs
  src/EventStore.Projections.Core/Services/Interpreted/JintProjectionStateHandler.cs
Labels: cherry-pick:release/oss-v21.10, cherry-pick:release/oss-v22.6

#3601 Fix persistent subscription race condition
  src/EventStore.Core/Services/PersistentSubscription/PersistentSubscriptionStreamReader.cs
Labels: cherry-pick:release/oss-v21.10, cherry-pick:release/oss-v22.6

#3609 Authentication handles NotHandled message rather than waiting for timeout
  src/EventStore.Core.Tests/Authentication/with_internal_authentication_provider.cs
  src/EventStore.Core.Tests/Helpers/IODispatcherTests/IODispatcherTestHelpers.cs
  src/EventStore.Core.Tests/Helpers/TestFixtureWithExistingEvents.cs
  src/EventStore.Core.Tests/Helpers/TestFixtureWithReadWriteDispatchers.cs
  src/EventStore.Core.Tests/Services/Transport/Http/Authentication/basic_http_authentication_provider.cs
  src/EventStore.Core/Authentication/InternalAuthentication/InternalAuthenticationProvider.cs
  src/EventStore.Core/Authentication/InternalAuthentication/InternalAuthenticationProviderFactory.cs
  src/EventStore.Core/Bus/AdHocHandler.cs
  src/EventStore.Core/Bus/IHandleAlt.cs
  src/EventStore.Core/Bus/IHandleTimeout.cs
  src/EventStore.Core/ClusterVNode.cs
  src/EventStore.Core/Helpers/IODispatcher.cs
  src/EventStore.Core/Helpers/IODispatcherAsync.cs
  src/EventStore.Core/Helpers/IODispatcherDelayedMessage.cs
  src/EventStore.Core/Helpers/NoOpAction.cs
  src/EventStore.Core/Helpers/ReadStreamEventsBackwardHandlers.cs
  src/EventStore.Core/Messaging/AdHocCorrelatedTimeout.cs
  src/EventStore.Core/Messaging/ICorrelatedTimeout.cs
  src/EventStore.Core/Messaging/RequestResponseAltDispatcher.cs
  src/EventStore.Core/Messaging/RequestResponseDispatcher.cs
  src/EventStore.Core/Services/Transport/Grpc/Streams.Append.cs
  src/EventStore.Core/Services/Transport/Http/Authentication/PasswordChangeNotificationReader.cs
  src/EventStore.Projections.Core.Tests/Services/SpecificationWithEmittedStreamsTrackerAndDeleter.cs
  src/EventStore.Projections.Core.Tests/Services/core_projection/when_starting_a_projection.cs
  src/EventStore.Projections.Core.Tests/Services/projections_manager/TestFixtureWithProjectionCoreAndManagementServices.cs
  src/EventStore.Projections.Core.Tests/Services/projections_manager/specification_with_projection_management_service.cs
  src/EventStore.Projections.Core/ProjectionManagerNode.cs
  src/EventStore.Projections.Core/ProjectionWorkerNode.cs
  src/EventStore.Projections.Core/Services/Management/ManagedProjection.cs
  src/EventStore.Projections.Core/Services/Management/ProjectionManager.cs
  src/EventStore.Projections.Core/Services/Processing/CoreProjectionCheckpointWriter.cs
  src/EventStore.Projections.Core/Services/Processing/EmittedStream.cs
Labels: cherry-pick:release/oss-v21.10, cherry-pick:release/oss-v22.6

#3606 Allow EventStoreDB to generate and run with dev certs
  src/EventStore.ClusterNode/ClusterVNodeHostedService.cs
  src/EventStore.ClusterNode/Program.cs
  src/EventStore.Common/DevCertificates/CertificateKeyExportFormat.cs
  src/EventStore.Common/DevCertificates/CertificateManager.cs
  src/EventStore.Common/DevCertificates/CertificatePurpose.cs
  src/EventStore.Common/DevCertificates/EnsureCertificateResult.cs
  src/EventStore.Common/DevCertificates/ImportCertificateResult.cs
  src/EventStore.Common/DevCertificates/MacOSCertificateManager.cs
  src/EventStore.Common/DevCertificates/UnixCertificateManager.cs
  src/EventStore.Common/DevCertificates/WindowsCertificateManager.cs
  src/EventStore.Common/Log/EventStoreLoggerConfiguration.cs
  src/EventStore.Common/Log/SerilogEventListener.cs
  src/EventStore.Core.Tests/ClientOperations/specification_with_bare_vnode.cs
  src/EventStore.Core.Tests/Common/ClusterNodeOptionsTests/ClusterVNodeOptionsScenarios.cs
  src/EventStore.Core.Tests/Common/ClusterNodeOptionsTests/when_building/with_cluster_node_and_custom_settings.cs
  src/EventStore.Core.Tests/Common/ClusterNodeOptionsTests/when_building/with_secure_tcp.cs
  src/EventStore.Core.Tests/Helpers/MiniClusterNode.cs
  src/EventStore.Core.Tests/Helpers/MiniNode.cs
  src/EventStore.Core/Certificates/CertificateProvider.cs
  src/EventStore.Core/Certificates/CertificateUtils.cs
  src/EventStore.Core/Certificates/DevCertificateProvider.cs
  src/EventStore.Core/Certificates/OptionsCertificateProvider.cs
  src/EventStore.Core/ClusterVNode.cs
  src/EventStore.Core/ClusterVNodeOptions.cs
Labels: cherry-pick:release/oss-v21.10

#3619 Update plugin version to latest version.
  src/EventStore.Core/EventStore.Core.csproj
  src/EventStore.TestClient/EventStore.TestClient.csproj
Labels: cherry-pick:master

#3621 Reference workflow locally
  .github/workflows/build-container-alpine.yml
  .github/workflows/build-container-bullseye-slim.yml
  .github/workflows/build-container-focal.yml
  .github/workflows/build-ubuntu-18.04.yml
  .github/workflows/build-ubuntu-20.04-arm64.yml
  .github/workflows/build-windows-2019.yml
Labels: cherry-pick:release/oss-v22.10

#3622 Reference workflow locally
  .github/workflows/build-container-alpine.yml
  .github/workflows/build-container-buster-slim.yml
  .github/workflows/build-container-focal.yml
  .github/workflows/build-ubuntu-18.04.yml
  .github/workflows/build-ubuntu-20.04-arm64.yml
  .github/workflows/build-windows-2019.yml
Labels: cherry-pick:release/oss-v21.10

#3624 Exit application when hosted service shuts down
  src/EventStore.ClusterNode/Program.cs
Labels: cherry-pick:release/oss-v22.10

#3632 Silence warning when failing to find a log record that was present in the index
  src/EventStore.Core.Tests/Fakes/FakeTfReader.cs
  src/EventStore.Core.Tests/Index/FakeIndexReader.cs
  src/EventStore.Core.Tests/Index/IndexV2/table_index_hash_collision_when_upgrading_to_64bit.cs
  src/EventStore.Core.Tests/Index/IndexV2/table_index_when_merging_upgrading_to_64bit_if_entry_doesnt_exist_drops_entry_and_carries_on.cs
  src/EventStore.Core.Tests/Index/IndexV3/when_upgrading_index_to_64bit_stream_version.cs
  src/EventStore.Core.Tests/Services/Storage/FakeInMemoryTFReader.cs
  src/EventStore.Core.Tests/Services/Storage/HashCollisions/with_hash_collisions.cs
  src/EventStore.Core.Tests/Services/Storage/Scavenge/when_deleting_single_stream_spanning_through_2_chunks_in_2nd_chunk__in_db_with_3_chunks.cs
  src/EventStore.Core.Tests/Services/Storage/Scavenge/when_having_commit_spanning_multiple_chunks.cs
  src/EventStore.Core.Tests/TransactionLog/when_appending_to_a_tfchunk_and_flushing.cs
  src/EventStore.Core.Tests/TransactionLog/when_creating_tfchunk_from_empty_file.cs
  src/EventStore.Core.Tests/TransactionLog/when_having_scavenged_tfchunk_with_all_records_removed.cs
  src/EventStore.Core.Tests/TransactionLog/when_reading_a_single_record.cs
  src/EventStore.Core.Tests/TransactionLog/when_reading_cached_empty_scavenged_tfchunk.cs
  src/EventStore.Core.Tests/TransactionLog/when_reading_from_a_cached_tfchunk.cs
  src/EventStore.Core.Tests/TransactionLog/when_reading_uncached_empty_scavenged_tfchunk.cs
  src/EventStore.Core.Tests/TransactionLog/when_uncaching_a_tfchunk.cs
  src/EventStore.Core.Tests/TransactionLog/when_writing_commit_record_to_file.cs
  src/EventStore.Core.Tests/TransactionLog/when_writing_multiple_records_to_a_tfchunk.cs
  src/EventStore.Core.Tests/TransactionLog/when_writing_prepare_record_to_file.cs
  src/EventStore.Core.XUnit.Tests/LogV3/PartitionManagerTests.cs
  src/EventStore.Core/Index/TableIndex.cs
  src/EventStore.Core/Services/Storage/EpochManager/EpochManager.cs
  src/EventStore.Core/Services/Storage/ReaderIndex/IndexCommitter.cs
  src/EventStore.Core/Services/Storage/ReaderIndex/IndexReader.cs
  src/EventStore.Core/Services/Storage/ReaderIndex/IndexWriter.cs
  src/EventStore.Core/TransactionLog/Chunks/TFChunk/TFChunk.cs
  src/EventStore.Core/TransactionLog/Chunks/TFChunk/TFChunkReadSide.cs
  src/EventStore.Core/TransactionLog/Chunks/TFChunkReader.cs
  src/EventStore.Core/TransactionLog/ITransactionFileReader.cs
  src/EventStore.Core/TransactionLog/Scavenging/DbAccess/ChunkReaderForIndexExecutor.cs
  src/EventStore.Core/TransactionLog/Scavenging/DbAccess/IndexReaderForCalculator.cs
Labels: cherry-pick:master

#3633 Downgrade GitInfo due to breaking change
  src/EventStore.Common/EventStore.Common.csproj
Labels: cherry-pick:release/oss-v22.10

#3631 Upgrade sqlite to v3.39.2 for CVE-2022-35737
  src/EventStore.Core/ClusterVNode.cs
  src/EventStore.Core/EventStore.Core.csproj
Labels: cherry-pick:release/oss-v5, cherry-pick:master
