Repository kurrent-io/KurrentDB, pull requests merged in 2022-11, with the labels that each got.

#3645 Improve new scavenge based on cloud testing
  src/EventStore.Core.XUnit.Tests/Scavenge/CancellationAndContinuationTests.cs
  src/EventStore.Core.XUnit.Tests/Scavenge/Infrastructure/ScavengeStateBuilder.cs
  src/EventStore.Core.XUnit.Tests/Scavenge/Infrastructure/Scenario.cs
  src/EventStore.Core.XUnit.Tests/Scavenge/SubsequentScavengeTests.cs
  src/EventStore.Core/ClusterVNode.cs
  src/EventStore.Core/ClusterVNodeOptions.cs
  src/EventStore.Core/Services/Storage/StorageScavenger.cs
  src/EventStore.Core/TransactionLog/Scavenging/CollisionManagement/CollisionDetector.cs
  src/EventStore.Core/TransactionLog/Scavenging/Data/StreamHandle.cs
  src/EventStore.Core/TransactionLog/Scavenging/Interfaces/IScavengeState.cs
  src/EventStore.Core/TransactionLog/Scavenging/LruCachingScavengeMap.cs
  src/EventStore.Core/TransactionLog/Scavenging/ScavengeState.cs
  src/EventStore.Core/TransactionLog/Scavenging/Scavenger.cs
  src/EventStore.Core/TransactionLog/Scavenging/Sqlite/SqliteBackend.cs
  src/EventStore.Core/TransactionLog/Scavenging/Sqlite/SqliteMetastreamScavengeMap.cs
  src/EventStore.Core/TransactionLog/Scavenging/Sqlite/SqliteOriginalStreamScavengeMap.cs
  src/EventStore.Core/TransactionLog/Scavenging/Sqlite/SqliteScavengeBackend.cs
  src/EventStore.Core/TransactionLog/Scavenging/Sqlite/SqliteScavengeMap.cs
  src/EventStore.Core/TransactionLog/Scavenging/Stages/Accumulator.cs
  src/EventStore.Core/TransactionLog/Scavenging/Stages/Calculator.cs
  src/EventStore.Core/Util/Opts.cs
Labels: cherry-pick:release/oss-v5, cherry-pick:master

#3646 Fix edge cases in maxage read fast path
  src/EventStore.Core.Tests/Services/Storage/FakeInMemoryTableIndex.cs
  src/EventStore.Core.Tests/Services/Storage/FakeTableIndex.cs
  src/EventStore.Core.Tests/Services/Storage/MaxAgeMaxCount/AfterScavenge/FilteredTableIndex.cs
  src/EventStore.Core.Tests/Services/Storage/MaxAgeMaxCount/AfterScavenge/when_having_gaps_in_index.cs
  src/EventStore.Core.Tests/Services/Storage/ReadIndexTestScenario.cs
  src/EventStore.Core.Tests/TransactionLog/Scavenging/when_scavenge_cancelled_after_chunck_scavenged.cs
  src/EventStore.Core.Tests/TransactionLog/Scavenging/when_scavenge_cancelled_after_completed.cs
  src/EventStore.Core.Tests/TransactionLog/Scavenging/when_scavenge_cancelled_after_started.cs
  src/EventStore.Core.Tests/TransactionLog/Scavenging/when_scavenge_cancelled_before_started.cs
  src/EventStore.Core.Tests/TransactionLog/Scavenging/when_scavenge_from_chunk_number.cs
  src/EventStore.Core.Tests/TransactionLog/Scavenging/when_scavenge_succeeds_without_error.cs
  src/EventStore.Core.Tests/TransactionLog/Scavenging/when_scavenge_throws_exception_on_completed.cs
  src/EventStore.Core.Tests/TransactionLog/Scavenging/when_scavenge_throws_exception_processing_chunk.cs
  src/EventStore.Core/Index/ITableIndex.cs
  src/EventStore.Core/Services/Storage/ReaderIndex/IndexReader.cs
  src/EventStore.Core/TransactionLog/Chunks/TFChunkScavenger.cs
Labels: cherry-pick:master, cherry-pick:release/oss-v21.10

#3652 Add `AllowUnknownOptions` configuration option
  src/EventStore.ClusterNode/Program.cs
  src/EventStore.Common/Configuration/ConfigurationRootExtensions.cs
  src/EventStore.Core.Tests/options.cs
  src/EventStore.Core/ClusterVNodeOptions.cs
Labels: cherry-pick:master, cherry-pick:release/oss-v22.10

#3653 [22.10] Add `AllowUnknownOptions` configuration option
  src/EventStore.ClusterNode/Program.cs
  src/EventStore.Common/Configuration/ConfigurationRootExtensions.cs
  src/EventStore.Core.Tests/options.cs
  src/EventStore.Core/ClusterVNodeOptions.cs
Labels: cherry-pick:master

#3649 Rationalize whitespace in .csproj files
  src/EventStore.BufferManagement.Tests/EventStore.BufferManagement.Tests.csproj
  src/EventStore.BufferManagement/EventStore.BufferManagement.csproj
  src/EventStore.ClusterNode/EventStore.ClusterNode.csproj
  src/EventStore.Common.Utils/EventStore.Common.Utils.csproj
  src/EventStore.Core.Tests/EventStore.Core.Tests.csproj
  src/EventStore.Core.XUnit.Tests/EventStore.Core.XUnit.Tests.csproj
  src/EventStore.Core/EventStore.Core.csproj
  src/EventStore.LogV3.Tests/EventStore.LogV3.Tests.csproj
  src/EventStore.LogV3/EventStore.LogV3.csproj
  src/EventStore.MicroBenchmarks/EventStore.MicroBenchmarks.csproj
  src/EventStore.NETCore.Compatibility/EventStore.NETCore.Compatibility.csproj
  src/EventStore.Projections.Core.Javascript.Tests/EventStore.Projections.Core.Javascript.Tests.csproj
  src/EventStore.Projections.Core.Tests/EventStore.Projections.Core.Tests.csproj
  src/EventStore.Projections.Core/EventStore.Projections.Core.csproj
Labels: cherry-pick:release/oss-v22.10

#3656 Scavenging Quality of Life improvements
  src/EventStore.Core.Tests/Authorization/LegacyPolicyVerification.cs
  src/EventStore.Core.Tests/Services/Storage/ReadIndexTestScenario.cs
  src/EventStore.Core.Tests/Services/Transport/Http/Authorization/authorization_tests.cs
  src/EventStore.Core.Tests/TransactionLog/Scavenging/Helpers/ScavengeLifeCycleScenario.cs
  src/EventStore.Core.Tests/TransactionLog/Scavenging/Helpers/ScavengeTestScenario.cs
  src/EventStore.Core.Tests/TransactionLog/when_having_scavenged_tfchunk_with_all_records_removed.cs
  src/EventStore.Core.XUnit.Tests/Scavenge/CollisionDetectorTests.cs
  src/EventStore.Core.XUnit.Tests/Scavenge/Infrastructure/ScavengeStateBuilder.cs
  src/EventStore.Core.XUnit.Tests/Scavenge/Infrastructure/Scenario.cs
  src/EventStore.Core.XUnit.Tests/Scavenge/Sqlite/SqliteScavengeBackendTests.cs
  src/EventStore.Core/Authorization/LegacyAuthorizationProviderFactory.cs
  src/EventStore.Core/ClusterVNode.cs
  src/EventStore.Core/EventStore.Core.csproj
  src/EventStore.Core/Messages/ClientMessage.cs
  src/EventStore.Core/Messages/ScavengeGetResultDto.cs
  src/EventStore.Core/Services/Storage/ScavengerFactory.cs
  src/EventStore.Core/Services/Storage/StorageScavenger.cs
  src/EventStore.Core/Services/Transport/Http/Controllers/AdminController.cs
  src/EventStore.Core/TransactionLog/Chunks/TFChunkScavenger.cs
  src/EventStore.Core/TransactionLog/Scavenging/CollisionManagement/CollisionDetector.cs
  src/EventStore.Core/TransactionLog/Scavenging/DbAccess/ChunkManagerForExecutor.cs
  src/EventStore.Core/TransactionLog/Scavenging/DbAccess/ChunkWriterForExecutor.cs
  src/EventStore.Core/TransactionLog/Scavenging/DbAccess/OldScavengeChunkMergerBackend.cs
  src/EventStore.Core/TransactionLog/Scavenging/DbAccess/ScavengePointSource.cs
  src/EventStore.Core/TransactionLog/Scavenging/ScavengeState.cs
  src/EventStore.Core/TransactionLog/Scavenging/Scavenger.cs
  src/EventStore.Core/TransactionLog/Scavenging/Sqlite/SqliteScavengeBackend.cs
  src/EventStore.Core/TransactionLog/Scavenging/Stages/Accumulator.cs
  src/EventStore.Core/TransactionLog/Scavenging/Stages/Calculator.cs
  src/EventStore.Core/TransactionLog/Scavenging/Stages/ChunkExecutor.cs
  src/EventStore.Core/TransactionLog/Scavenging/Stages/ChunkMerger.cs
  src/EventStore.Core/TransactionLog/Scavenging/Stages/Cleaner.cs
  src/EventStore.Core/TransactionLog/Scavenging/Stages/IndexExecutor.cs
  src/EventStore.Core/TransactionLog/Scavenging/Throttle.cs
  src/EventStore.TestClient/EventStore.TestClient.csproj
Labels: cherry-pick:release/oss-v5, cherry-pick:release/oss-v22.10

#3667 [Cherry-Pick oss-v5] Update docs about persistent subscriptions to $all over HTTP
  docs/http-api/persistent.md
Labels: area/documentation, subsystem/persistent subs
