Repository kurrent-io/KurrentDB, pull requests merged in 2022-08, with the labels that each got.

#3549 Add track_emitted_streams feature to Projections.Create
  src/EventStore.Core.Tests/Helpers/MiniNode.cs
  src/EventStore.Core/Services/Transport/Grpc/ServerFeatures.cs
  src/EventStore.Projections.Core.Tests/EventStore.Projections.Core.Tests.csproj
  src/EventStore.Projections.Core.Tests/Services/grpc_service/ServerFeaturesTests.cs
Labels: cherry-pick:master

#3551 Doc User Projections : add streamId
  docs/projections.md
Labels: area/documentation, subsystem/projections, cherry-pick:release/oss-v20.10, cherry-pick:release/oss-v21.10, cherry-pick:release/oss-v22.6

#3554 [release/oss-v20.10] Bump Newtonsoft.Json to 13.0.1
  src/EventStore.BufferManagement.Tests/EventStore.BufferManagement.Tests.csproj
  src/EventStore.ClientAPI.Embedded/EventStore.ClientAPI.Embedded.csproj
  src/EventStore.ClientAPI/EventStore.ClientAPI.csproj
  src/EventStore.Common/EventStore.Common.csproj
  src/EventStore.Projections.Core.Tests/EventStore.Projections.Core.Tests.csproj
  src/EventStore.Projections.Core/EventStore.Projections.Core.csproj
Labels: dependencies, .NET

#3553 [release/oss-v21.10] Bump Newtonsoft.Json to 13.0.1
  src/EventStore.BufferManagement.Tests/EventStore.BufferManagement.Tests.csproj
  src/EventStore.Common/EventStore.Common.csproj
  src/EventStore.Projections.Core.Tests/EventStore.Projections.Core.Tests.csproj
  src/EventStore.Projections.Core/EventStore.Projections.Core.csproj
Labels: dependencies, .NET

#3561 Add documentation for trusted root certs in windows cert store.
  docs/security.md
Labels: cherry-pick:master

#3564 remove transform from init function
  src/EventStore.Projections.Core.Javascript.Tests/Specs/event-data-spec.json
  src/EventStore.Projections.Core/Services/Interpreted/JintProjectionStateHandler.cs
Labels: cherry-pick:master, cherry-pick:release/oss-v22.6
