Repository kurrent-io/KurrentDB, pull requests merged in 2022-02, with the labels that each got.

#3412 Return Error if TrackEmittedStreams and !EmitEnabled
  proto.lock
  src/EventStore.Projections.Core/Services/Grpc/ProjectionManagement.Create.cs
  src/Protos/Grpc/projections.proto
Labels: cherry-pick:release/oss-v20.10, cherry-pick:release/oss-v21.10

#3419 IODispatcher bug fix
  src/EventStore.Core/Helpers/IODispatcher.cs
Labels: cherry-pick:release/oss-v20.10, cherry-pick:release/oss-v21.10

#3406 Add information to README on how to build a Docker image
  README.md
Labels: kind/enhancement, area/documentation, Docker

#3434 Log GC Settings on startup
  src/EventStore.ClusterNode/Program.cs
Labels: cherry-pick:master
