Repository kurrent-io/KurrentDB, pull requests merged in 2022-07, with the labels that each got.

#3498 Allow loading trusted root certificate from the Windows cert store
  src/EventStore.Core/CertificateUtils.cs
  src/EventStore.Core/ClusterVNodeOptions.cs
  src/EventStore.Core/ClusterVNodeOptionsExtensions.cs
Labels: area/certificates

#3522 Do not throw if entry is missing from _currentRequests
  src/EventStore.Core/Services/RequestManager/Managers/RequestManagerBase.cs
  src/EventStore.Core/Services/RequestManager/RequestManagementService.cs
Labels: cherry-pick:release/oss-v20.10, cherry-pick:release/oss-v21.10, cherry-pick:release/oss-v22.6

#3517 [Cherry-pick v20.10] Ensure no pending writes can be incorrectly acked or published when going offline for truncation
  src/EventStore.Core.Tests/Services/RequestManagement/Service/RequestManagerServiceSpecification.cs
  src/EventStore.Core.Tests/Services/RequestManagement/Service/when_writing_and_deposed_as_leader.cs
  src/EventStore.Core.Tests/Services/RequestManagement/Service/when_writing_and_deposed_as_leader_and_replica_moves_forward.cs
  src/EventStore.Core/ClusterVNode.cs
  src/EventStore.Core/Services/ClusterStorageWriterService.cs
  src/EventStore.Core/Services/Replication/ReplicationTrackingService.cs
  src/EventStore.Core/Services/RequestManager/Managers/RequestManagerBase.cs
  src/EventStore.Core/Services/RequestManager/RequestManagementService.cs
Labels: backport

#3523 Fix spelling of new option description.
  src/EventStore.Core/ClusterVNodeOptions.cs
Labels: cherry-pick:master

#3530 [22.6] Use follower writer checkpoint for replication tracking
  proto.lock
  src/EventStore.Core.Tests/Services/Replication/LeaderReplication/when_non_promotable_replica_sends_replica_log_position_ack.cs
  src/EventStore.Core.Tests/Services/Replication/LeaderReplication/when_replication_service_has_replica_disconnected.cs
  src/EventStore.Core.Tests/Services/Replication/LeaderReplication/when_replication_service_recieves_leader_log_commited_to.cs
  src/EventStore.Core.Tests/Services/Replication/LeaderReplication/when_replication_service_recieves_replica_log_position_ack.cs
  src/EventStore.Core.Tests/Services/Replication/LeaderReplication/with_replication_service.cs
  src/EventStore.Core.Tests/Services/Replication/LeaderReplication/with_replication_service_and_epoch_manager.cs
  src/EventStore.Core/Cluster/ReplicationPartials.cs
  src/EventStore.Core/Messages/ReplicationMessage.cs
  src/EventStore.Core/Services/ClusterStorageWriterService.cs
  src/EventStore.Core/Services/Replication/LeaderReplicationService.cs
  src/EventStore.Core/Services/Replication/ReplicaService.cs
  src/EventStore.Core/Services/Transport/Tcp/InternalTcpDispatcher.cs
  src/Protos/Grpc/cluster.proto
Labels: cherry-pick:master

#3532 Prevent gRPC subscriptions from hanging while catching up
  src/EventStore.Core.Tests/ClientAPI/isjson_flag_on_event.cs
  src/EventStore.Core.Tests/Helpers/MiniClusterNode.cs
  src/EventStore.Core.Tests/Helpers/MiniNode.cs
  src/EventStore.Core.Tests/Services/Replication/ReplicationTestHelper.cs
  src/EventStore.Core.Tests/Services/Transport/Grpc/StreamsTests/GrpcSpecification.cs
  src/EventStore.Core.Tests/Services/Transport/Grpc/StreamsTests/LotsOfExpiriesStrategy.cs
  src/EventStore.Core.Tests/Services/Transport/Grpc/StreamsTests/SubscribeToAllFilteredTests.cs
  src/EventStore.Core.Tests/Services/Transport/Grpc/StreamsTests/SubscribeToAllTests.cs
  src/EventStore.Core.Tests/Services/Transport/Grpc/StreamsTests/SubscribeToStreamTests.cs
  src/EventStore.Core.Tests/Services/Transport/Http/PortableServer.cs
  src/EventStore.Core/ClusterVNode.cs
  src/EventStore.Core/ClusterVNodeStartup.cs
  src/EventStore.Core/Data/FilteredReadAllResult.cs
  src/EventStore.Core/Data/ReadAllResult.cs
  src/EventStore.Core/Data/ReadStreamResult.cs
  src/EventStore.Core/Helpers/IODispatcher.cs
  src/EventStore.Core/Messages/ClientMessage.cs
  src/EventStore.Core/Services/Storage/ReaderIndex/ExpiryStrategies.cs
  src/EventStore.Core/Services/Storage/StorageReaderWorker.cs
  src/EventStore.Core/Services/SubscriptionsService.cs
  src/EventStore.Core/Services/Transport/Grpc/Enumerators.AllSubscription.cs
  src/EventStore.Core/Services/Transport/Grpc/Enumerators.AllSubscriptionFiltered.cs
  src/EventStore.Core/Services/Transport/Grpc/Enumerators.ReadAllForwards.cs
  src/EventStore.Core/Services/Transport/Grpc/Enumerators.ReadAllForwardsFiltered.cs
  src/EventStore.Core/Services/Transport/Grpc/Enumerators.ReadStreamForwards.cs
  src/EventStore.Core/Services/Transport/Grpc/Enumerators.StreamSubscription.cs
  src/EventStore.Core/Services/Transport/Grpc/Streams.Read.cs
  src/EventStore.Core/Services/Transport/Grpc/Streams.cs
  src/EventStore.Core/Services/Transport/Http/Controllers/AtomController.cs
  src/EventStore.Core/Services/Transport/Http/Controllers/PersistentSubscriptionController.cs
  src/EventStore.Core/Services/Transport/Tcp/ClientTcpDispatcher.cs
  src/EventStore.Projections.Core.Javascript.Tests/Integration/SubsystemScenario.cs
  src/EventStore.Projections.Core/Services/Management/ProjectionManager.cs
  src/EventStore.Projections.Core/Services/Processing/EventByTypeIndexEventReader.cs
  src/EventStore.Projections.Core/Services/Processing/MultiStreamEventReader.cs
  src/EventStore.Projections.Core/Services/Processing/RequestResponseQueueForwarder.cs
  src/EventStore.Projections.Core/Services/Processing/StreamEventReader.cs
  src/EventStore.Projections.Core/Services/Processing/TransactionFileEventReader.cs
Labels: cherry-pick:release/oss-v20.10, cherry-pick:master, cherry-pick:release/oss-v22.6

#3538 Prevent one slow subscription from slowing down others
  src/EventStore.Core/Messaging/ContinuationEnvelope.cs
  src/EventStore.Core/Services/Transport/Grpc/Enumerators.AllSubscription.cs
  src/EventStore.Core/Services/Transport/Grpc/Enumerators.AllSubscriptionFiltered.cs
  src/EventStore.Core/Services/Transport/Grpc/Enumerators.StreamSubscription.cs
Labels: cherry-pick:release/oss-v20.10, cherry-pick:master, cherry-pick:release/oss-v22.6

#3543 Terminate live gRPC subscription if it falls behind
  src/EventStore.Core/Services/Transport/Grpc/Enumerators.AllSubscription.cs
  src/EventStore.Core/Services/Transport/Grpc/Enumerators.AllSubscriptionFiltered.cs
  src/EventStore.Core/Services/Transport/Grpc/Enumerators.StreamSubscription.cs
  src/EventStore.Core/Services/Transport/Grpc/Enumerators.cs
Labels: cherry-pick:release/oss-v20.10, cherry-pick:master, cherry-pick:release/oss-v22.6
