Repository kurrent-io/KurrentDB, pull requests merged in 2022-09, with the labels that each got.

#3578 Update tracing packages and fix memory leak
  src/EventStore.Core/EventStore.Core.csproj
  src/EventStore.Core/Services/Monitoring/Utils/EventCountersHelper.cs
Labels: cherry-pick:master, cherry-pick:release/oss-v22.6

#3577 Upgrade Serilog.Settings.Configuration to v3.3.0
  src/EventStore.Common/EventStore.Common.csproj
Labels: cherry-pick:release/oss-v21.10, cherry-pick:release/oss-v22.6

#3584 Respond to request with NotReady if the node is not yet able to authenticate users, instead of ignoring.
  src/EventStore.Core.Tests/Services/Transport/Http/Authentication/basic_http_authentication_provider.cs
  src/EventStore.Core.Tests/Services/Transport/Http/Authentication/client_certificate_authentication_provider.cs
  src/EventStore.Core/Authentication/InternalAuthentication/InternalAuthenticationProvider.cs
  src/EventStore.Core/Authorization/PolicyAuthorizationProvider.cs
  src/EventStore.Core/Services/Transport/Http/Authentication/HttpAuthenticationRequest.cs
  src/EventStore.Core/Services/Transport/Http/AuthenticationMiddleware.cs
  src/EventStore.Core/Services/Transport/Http/GrpcProtocolHelpers.cs
Labels: cherry-pick:release/oss-v20.10, cherry-pick:release/oss-v21.10, cherry-pick:release/oss-v22.6

#3589 Increase MaxChunksCount
  src/EventStore.Core/TransactionLog/Chunks/TFChunkManager.cs
Labels: cherry-pick:release/oss-v21.10, cherry-pick:release/oss-v22.6
