Repository kurrent-io/KurrentDB, pull requests merged in 2022-01, with the labels that each got.

#3365 Fix chunk end number not being set correctly
  src/EventStore.Core/TransactionLog/Chunks/TFChunkManager.cs
Labels: kind/bug, cherry-pick:release/oss-v20.10, cherry-pick:release/oss-v5, cherry-pick:master

#3361 Use the term "certificate signed by a private CA" instead of "self-signed certificates"
  docs/clustering/README.md
  docs/clustering/using-dns.md
  docs/installation/README.md
  docs/installation/docker.md
  docs/security/configuration.md
Labels: cherry-pick:release/oss-v21.2, cherry-pick:release/oss-v20.10, cherry-pick:release/oss-v21.6, cherry-pick:release/oss-v21.10

#3378 Fix overwriting ci container with old release
  .github/workflows/build-container-reusable.yml
Labels: cherry-pick:release/oss-v20.10, cherry-pick:release/oss-v21.10

#3385 Backport v21.10: Fix dir enumerate performance regression
  src/EventStore.Core.Tests/TransactionLog/Truncation/when_truncating_into_the_middle_of_completed_chunk.cs
  src/EventStore.Core.Tests/TransactionLog/Truncation/when_truncating_into_the_middle_of_multichunk.cs
  src/EventStore.Core.Tests/TransactionLog/Validation/when_validating_tfchunk_db.cs
  src/EventStore.Core.Tests/TransactionLog/Validation/when_validating_tfchunk_db_with_multi_chunks.cs
  src/EventStore.Core.Tests/TransactionLog/versioned_pattern_filenaming_strategy.cs
  src/EventStore.Core.Tests/TransactionLog/with_tfchunk_enumerator.cs
  src/EventStore.Core/TransactionLog/Chunks/TFChunkDb.cs
  src/EventStore.Core/TransactionLog/Chunks/TFChunkDbConfig.cs
  src/EventStore.Core/TransactionLog/Chunks/TFChunkDbTruncator.cs
  src/EventStore.Core/TransactionLog/Chunks/TFChunkEnumerator.cs
  src/EventStore.Core/TransactionLog/Chunks/TFChunkInfo.cs
  src/EventStore.Core/TransactionLog/FileNamingStrategy/IVersionedFileNamingStrategy.cs
  src/EventStore.Core/TransactionLog/FileNamingStrategy/VersionedPatternFileNamingStrategy.cs
Labels: cherry-pick:release/oss-v20.10

#3384 Expose emitEnabled on create projection request
  proto.lock
  src/EventStore.Projections.Core/Services/Grpc/ProjectionManagement.Create.cs
  src/Protos/Grpc/projections.proto
Labels: cherry-pick:release/oss-v20.10, cherry-pick:release/oss-v21.10
