Repository kurrent-io/KurrentDB, pull requests merged in 2023-10, with the labels that each got.

#3972 Prevent unreplicated data from being visible before truncation (DB-418)
  src/EventStore.Core.Tests/Services/Replication/LeaderReplication/when_replica_subscribes_with_epochs.cs
  src/EventStore.Core/Services/Replication/LeaderReplicationService.cs
Labels: cherry-pick:release/oss-v21.10, cherry-pick:release/oss-v22.10

#3975 Fix bug in replication test: Replica was subscribing from first epoch instead of the second one (DB-418)
  src/EventStore.Core.Tests/Services/Replication/LeaderReplication/when_replica_subscribes_with_epochs.cs
Labels: cherry-pick:release/oss-v22.10

#3976 DOC-11 Copy edit streams.md under features for all versions
  docs/package.json
  docs/streams.md
Labels: cherry-pick:release/oss-v20.10, cherry-pick:release/oss-v5, cherry-pick:release/oss-v21.10, cherry-pick:release/oss-v22.10, cherry-pick:release/oss-v23.6

#3996 Reply DoesNotExist rather than Fail when updating a Persistent Subscription to All that doesn't exist
  src/EventStore.Core.Tests/Services/PersistentSubscription/PersistentSubscriptionTests.cs
  src/EventStore.Core/Services/PersistentSubscription/PersistentSubscriptionService.cs
Labels: cherry-pick:release/oss-v23.10

#3983 DOC-11v2: Copy edit streams.md under features for all versions (continued)
  docs/streams.md
Labels: cherry-pick:release/oss-v20.10, cherry-pick:release/oss-v5, cherry-pick:release/oss-v21.10, cherry-pick:release/oss-v22.10, cherry-pick:release/oss-v23.6

#4001 Set the default value of `CertificateReservedNodeCommonName` to empty string [DB-370]
  src/EventStore.Core/ClusterVNodeOptions.cs
  src/EventStore.Core/Util/Opts.cs
Labels: cherry-pick:release/oss-v23.10

#4000 Add documentation for certificate improvements [DB-451]
  docs/operations.md
  docs/security.md
Labels: cherry-pick:release/oss-v23.10

#3999 Update documentation: PersistentConfig1 renamed to $PersistentConfig (DB-438)
  docs/streams.md
Labels: cherry-pick:release/oss-v23.10

#4011 Add support for multiple media types specified in one Accept header (DB-457)
  src/EventStore.Core.Tests/Http/ArgumentPassing/matching.cs
  src/EventStore.Core/Services/Transport/Http/Controllers/MetricsController.cs
  src/EventStore.Transport.Http/EntityManagement/CoreHttpRequestAdapter.cs
Labels: cherry-pick:release/oss-v23.6, cherry-pick:release/oss-v23.10

#3995 Backport 22.10: Ensure not override the filter when updating a persistent subscription to all (DB-429)
  src/EventStore.Core.Tests/Services/PersistentSubscription/PersistentSubscriptionTests.cs
  src/EventStore.Core.Tests/TransactionLog/FakeReadIndex.cs
  src/EventStore.Core/Messaging/TcsEnvelope.cs
  src/EventStore.Core/Services/PersistentSubscription/PersistentSubscription.cs
  src/EventStore.Core/Services/PersistentSubscription/PersistentSubscriptionService.cs
  src/EventStore.Core/Services/PersistentSubscription/PersistentSubscriptionStats.cs
Labels: cherry-pick:release/oss-v21.10

#3994 Backport 22.10: Prevent replication checkpoint from moving incorrectly on follower (DB-423)
  src/EventStore.Core.Tests/Services/Replication/LeaderReplication/when_replica_subscribes_with_epochs.cs
  src/EventStore.Core/Services/Replication/LeaderReplicationService.cs
Labels: cherry-pick:release/oss-v21.10

#4019 [DB-229] Add an upgrade guide for EventStoreDB 23.10.0
  docs/images/upgrade-procedure.png
  docs/sidebar.js
  docs/upgrade-guide.md
Labels: cherry-pick:master
