Repository kurrent-io/KurrentDB, pull requests merged in 2023-02, with the labels that each got.

#3727 Downgrade error to debug
  src/EventStore.Core/TransactionLog/Chunks/TFChunkDb.cs
Labels: cherry-pick:release/oss-v21.10, cherry-pick:release/oss-v22.10

#3739 Add a warning about potentially sensitive information being written to logs
  docs/diagnostics.md
Labels: area/documentation, cherry-pick:release/oss-v21.10, cherry-pick:release/oss-v22.10

#3740 Cleanup v8 scripts
  scripts/build-js1/build-js1-linux/Dockerfile
  scripts/build-js1/build-js1-linux/README.md
  scripts/build-js1/build-js1-linux/build-js1-linux/build-js1-linux.sh
  scripts/build-js1/build-js1-mac/build-js1-mac.sh
  scripts/build-js1/build-js1-win/build-js1-win-instructions.md
Labels: area/build

#3747 Handle Persistent Subscription Exceptions
  src/EventStore.Core.Tests/Services/PersistentSubscription/when_an_error_occurs.cs
  src/EventStore.Core/Services/PersistentSubscription/PersistentSubscriptionService.cs
Labels: cherry-pick:master, cherry-pick:release/oss-v21.10
