Repository kurrent-io/KurrentDB, pull requests merged in 2023-11, with the labels that each got.

#4026 Improve wording of telemetry message
  src/EventStore.Core/Telemetry/TelemetrySink.cs
Labels: cherry-pick:release/oss-v23.10

#4023 Fix filtered subscription interval and extra checkpoint when transitioning to live
  src/EventStore.Core.Tests/Services/Transport/Grpc/StreamsTests/GrpcSpecification.cs
  src/EventStore.Core.Tests/Services/Transport/Grpc/StreamsTests/SubscribeToAllFilteredTests.cs
  src/EventStore.Core.Tests/Services/Transport/Grpc/StreamsTests/SubscribeToAllTests.cs
  src/EventStore.Core/Messages/ClientMessage.cs
  src/EventStore.Core/Services/SubscriptionsService.cs
  src/EventStore.Core/Services/Transport/Grpc/Enumerators.AllSubscription.cs
  src/EventStore.Core/Services/Transport/Grpc/Enumerators.AllSubscriptionFiltered.cs
  src/EventStore.Core/Services/Transport/Tcp/ClientTcpDispatcher.cs
Labels: cherry-pick:release/oss-v21.10

#4033 [DOC-7] Fix Scavenging Link
  docs/streams.md
Labels: cherry-pick:release/oss-v22.10, cherry-pick:release/oss-v23.6, cherry-pick:release/oss-v23.10

#4059 Respond correctly when batch appending idempotent write to deleted stream (DB-535)
  src/EventStore.Core/Services/Transport/Grpc/BatchAppendResp.cs
Labels: cherry-pick:release/oss-v22.10, cherry-pick:release/oss-v23.10
