Repository kurrent-io/KurrentDB, pull requests merged in 2023-08, with the labels that each got.

#3917 Ignore unknown options when dumping them
  src/EventStore.Common.Tests/Configuration/OptionsDumperTest.cs
  src/EventStore.Common/Configuration/OptionsDumper.cs
Labels: cherry-pick:master

#3920 Add an override option for anonymous gossip
  docs/security.md
  src/EventStore.ClusterNode/ClusterVNodeHostedService.cs
  src/EventStore.Core.Tests/Authorization/LegacyPolicyVerification.cs
  src/EventStore.Core.Tests/ClientOperations/specification_with_bare_vnode.cs
  src/EventStore.Core.Tests/Common/ClusterNodeOptionsTests/ClusterVNodeOptionsScenarios.cs
  src/EventStore.Core.Tests/Helpers/MiniClusterNode.cs
  src/EventStore.Core.Tests/Helpers/MiniNode.cs
  src/EventStore.Core/Authorization/LegacyAuthorizationProviderFactory.cs
  src/EventStore.Core/ClusterVNodeOptions.cs
Labels: cherry-pick:master

#3883 Update scavenging documentation DB-183
  docs/operations.md
Labels: cherry-pick:release/oss-v23.6

#3922 Fix documentation link syntax
  docs/metrics.md
Labels: cherry-pick:release/oss-v23.6

#3929 Update security docs for 23.6.0 release
  docs/security.md
Labels: cherry-pick:master

#3943 Raise the AssemblySelectLimit (DB-349)
  ci/ci.runsettings
Labels: cherry-pick:release/oss-v21.10, cherry-pick:release/oss-v22.10, cherry-pick:release/oss-v23.6
