Repository kurrent-io/KurrentDB, pull requests merged in 2023-03, with the labels that each got.

#3762 Update streams.md
  docs/streams.md
Labels: cherry-pick:release/oss-v20.10, cherry-pick:release/oss-v21.10, cherry-pick:release/oss-v22.10

#3760 Update configuration.md
  docs/configuration.md
Labels: cherry-pick:release/oss-v22.10

#3759 Update installation.md
  docs/installation.md
Labels: cherry-pick:release/oss-v22.10

#3764 Update operations.md
  docs/operations.md
Labels: cherry-pick:release/oss-v22.10

#3758 Remove incorrect/out of date information about clusters
  docs/cluster.md
Labels: cherry-pick:release/oss-v20.10, cherry-pick:release/oss-v21.10, cherry-pick:release/oss-v22.10

#3757 Adding fix to allow for command line arguments --cluster-size=3 and …
  src/EventStore.Common.Tests/Configuration/CommandLineSourceTest.cs
  src/EventStore.Common.Tests/Configuration/ConfigurationRootExtensionsTest.cs
  src/EventStore.Common.Tests/EventStore.Common.Tests.csproj
  src/EventStore.Common.Tests/Usings.cs
  src/EventStore.Common/Configuration/CommandLineSource.cs
  src/EventStore.Common/Configuration/ConfigurationRootExtensions.cs
  src/EventStore.sln
Labels: cherry-pick:release/oss-v21.10, cherry-pick:release/oss-v22.10

#3778 Add deprecation warnings
  src/EventStore.Core/ClusterVNodeOptions.cs
Labels: cherry-pick:release/oss-v22.10

#3801 Add scavenge.db to differential backup steps
  docs/operations.md
Labels: cherry-pick:release/oss-v22.10
