Repository kurrent-io/KurrentDB, pull requests merged in 2024-07, with the labels that each got.

#4321 [DBX-49] Support old persistent subscription checkpoints
  src/EventStore.Core.Tests/Services/PersistentSubscription/PersistentSubscriptionCheckpointReaderTests.cs
  src/EventStore.Core/Services/PersistentSubscription/PersistentSubscriptionCheckpointReader.cs
Labels: cherry-pick:release/oss-v24.6

#4323 Update UI
  src/EventStore.ClusterNode.Web/clusternode-web/css/main.min.css
  src/EventStore.ClusterNode.Web/clusternode-web/js/app.min.js
Labels: cherry-pick:master

#4330 [DBX-51-3][DBX-51-4] Prevent 64-bit integer overflow in GetMidpointIndex() / IsMidpointIndex()
  src/EventStore.Core.Tests/Index/IndexV1/corrupt_index_should.cs
  src/EventStore.Core.Tests/Index/IndexV4/Utils.cs
  src/EventStore.Core.Tests/Index/IndexV4/ptable_midpoint_calculations_should.cs
  src/EventStore.Core.Tests/Index/IndexV4/when_merging_ptables_with_entries_to_nonexisting_record.cs
  src/EventStore.Core.XUnit.Tests/Index/MidpointIndexCalculatorTests.cs
  src/EventStore.Core/Index/PTableConstruction.cs
Labels: cherry-pick:release/oss-v22.10, cherry-pick:release/oss-v23.10, cherry-pick:release/oss-v24.6

#4345 Add codeowners file
  .github/CODEOWNERS
Labels: cherry-pick:release/oss-v22.10, cherry-pick:release/oss-v23.10, cherry-pick:release/oss-v24.6

#4356 grammar fix
  docs/README.md
Labels: cherry-pick:release/oss-v24.2, cherry-pick:release/oss-v24.6

#4358 Make docs team the codeowner of markdown files
  .github/CODEOWNERS
Labels: cherry-pick:release/oss-v22.10, cherry-pick:release/oss-v23.6, cherry-pick:release/oss-v23.10
