Repository kurrent-io/KurrentDB, pull requests merged in 2024-08, with the labels that each got.

#4372 Update CODEOWNERS, allow database-mergers to merge documentation
  .github/CODEOWNERS
Labels: cherry-pick:release/oss-v22.10, cherry-pick:release/oss-v23.10, cherry-pick:release/oss-v24.6

#4365 Make changes to deletion of parked message documentation
  docs/persistent-subscriptions.md
Labels: cherry-pick:master

#4381 grammatical update to half of scavaging documentation
  docs/operations.md
Labels: cherry-pick:release/oss-v5, cherry-pick:release/oss-v22.10, cherry-pick:release/oss-v23.10, cherry-pick:release/oss-v24.6

#4101 Add section headings to projections HTTP API docs
  docs/http-api/projections.md
Labels: area/documentation, cherry-pick:release/oss-v22.10, cherry-pick:release/oss-v23.10, cherry-pick:release/oss-v24.2, cherry-pick:release/oss-v24.6

#4389 [ESDB-169-2] Removed unused classes
  src/EventStore.Core/Bus/InMemoryBus.cs
  src/EventStore.Core/Services/VNode/VNodeFSM.cs
Labels: quality of life

#4394 [ESDB-174-4] Remove HdrHistograms
  LICENSE.md
  docs/configuration.md
  docs/diagnostics/README.md
  src/EventStore.Core.Tests/Services/Transport/Http/Authorization/authorization_tests.cs
  src/EventStore.Core.Tests/Services/Transport/Http/open_api_document.cs
  src/EventStore.Core.XUnit.Tests/Configuration/ClusterNodeOptionsTests/when_building/with_default_settings.cs
  src/EventStore.Core/ClusterVNode.cs
  src/EventStore.Core/Configuration/ClusterVNodeOptions.cs
  src/EventStore.Core/EventStore.Core.csproj
  src/EventStore.Core/Services/Histograms/HistogramService.cs
  src/EventStore.Core/Services/HttpSendService.cs
  src/EventStore.Core/Services/RequestManager/RequestManagementService.cs
  src/EventStore.Core/Services/Storage/StorageChaser.cs
  src/EventStore.Core/Services/Storage/StorageReaderWorker.cs
  src/EventStore.Core/Services/Storage/StorageWriterService.cs
  src/EventStore.Core/Services/TcpSendService.cs
  src/EventStore.Core/Services/Transport/Http/Controllers/HistogramController.cs
Labels: impact/breaking change

#4405 [DBX-56-10] Publish projections shutdown timeout check on the correct thread
  src/EventStore.Core/Messaging/PublishEnvelope.cs
  src/EventStore.Projections.Core/Services/Processing/ProjectionCoreService.cs
Labels: cherry-pick:release/oss-v22.10, cherry-pick:release/oss-v23.10
