Repository kurrent-io/KurrentDB, pull requests merged in 2024-11, with the labels that each got.

#4608 Fixed potential partial read in TFChunk
  src/EventStore.Core/TransactionLog/Chunks/TFChunk/TFChunkReadSide.cs
Labels: cherry-pick:master

#4585 Update StreamBasedAuthPolicyRegistry tests
  src/EventStore.Core.XUnit.Tests/Authorization/FakePolicySelectorPlugin.cs
  src/EventStore.Core.XUnit.Tests/Authorization/StreamBasedAuthPolicyRegistryTests.cs
  src/EventStore.Core/Authorization/AuthorizationPolicies/StreamBasedAuthorizationPolicyRegistry.cs
Labels: cherry-pick:master

#4613 [master] Update repository name from eventstore-preview to eventstore
  docs/server/quick-start/installation.md
  docs/server/quick-start/upgrade-guide.md
  docs/server/quick-start/whatsnew.md
Labels: area/documentation

#4611 [master] Separate security into its own section
  docs/http-api/api.md
  docs/http-api/optional-http-headers.md
  docs/http-api/security.md
  docs/server/configuration/cluster.md
  docs/server/configuration/indexes.md
  docs/server/configuration/networking.md
  docs/server/configuration/security.md
  docs/server/features/admin-ui.md
  docs/server/features/streams.md
  docs/server/quick-start/installation.md
  docs/server/quick-start/upgrade-guide.md
  docs/server/quick-start/whatsnew.md
  docs/server/security/README.md
  docs/server/security/protocol-security.md
  docs/server/security/user-authentication.md
  docs/server/security/user-authorization.md
Labels: area/documentation

#4615 Misc docs small improvements
  docs/server/diagnostics/metrics.md
  docs/server/operations/auto-scavenge.md
  docs/server/security/README.md
  docs/server/security/user-authorization.md
Labels: cherry-pick:master

#4618 Link to es-cli in the encryption-at-rest docs
  docs/server/security/README.md
Labels: cherry-pick:master

#4610 auto-scavenging consistency
  docs/server/quick-start/README.md
  docs/server/quick-start/whatsnew.md
Labels: cherry-pick:release/v24.10

#4620 Add scripts for updating stream policy
  docs/server/security/user-authorization.md
Labels: area/documentation, cherry-pick:master

#4625 Fix support for gossip seeds provided as an array
  src/EventStore.Core.XUnit.Tests/Configuration/ClusterVNodeOptionsTests.cs
  src/EventStore.Core/Configuration/ClusterVNodeOptions.Framework.cs
  src/EventStore.Core/Configuration/ClusterVNodeOptions.cs
Labels: cherry-pick:master

#4602 Add OAuth docs
  docs/server/security/user-authentication.md
Labels: area/documentation, cherry-pick:master

#4630 Update installation instructions for 24.10
  docs/server/quick-start/installation.md
Labels: area/documentation, cherry-pick:master

#4629 [KDB-484] Add troubleshooting docs for stream policies
  docs/server/features/streams.md
  docs/server/security/user-authorization.md
Labels: area/documentation, cherry-pick:master

#4635 fix links
  docs/server/configuration/networking.md
  docs/server/features/admin-ui.md
  docs/server/features/connectors/sinks/mongo.md
  docs/server/quick-start/README.md
  docs/server/quick-start/upgrade-guide.md
  docs/server/quick-start/whatsnew.md
  docs/server/security/README.md
  docs/server/security/user-authentication.md
Labels: cherry-pick:master

#4657 [KDB-528] Log SLOW QUEUE messages by default again
  src/EventStore.Core.XUnit.Tests/Metrics/QueueProcessingTrackerTests.cs
  src/EventStore.Core/Metrics/QueueProcessingTracker.cs
Labels: cherry-pick:release/v24.10
