Repository kurrent-io/KurrentDB, pull requests merged in 2024-12, with the labels that each got.

#4669 [KDB-554] Get up to 100 entitlements
  src/EventStore.Licensing.Tests/Keygen/KeygenSimulator.Should.cs
  src/EventStore.Licensing/Keygen/KeygenClient.cs
Labels: cherry-pick:release/v24.10

#4674 Update dependency patch version due to CVEs
  src/EventStore.Common/EventStore.Common.csproj
Labels: cherry-pick:master

#4679 [KDB-567] Deal with requested scavenge threads being out of range
  src/EventStore.Core.XUnit.Tests/Scavenge/Infrastructure/Scenario.cs
  src/EventStore.Core.XUnit.Tests/Scavenge/ThreadCountTests.cs
  src/EventStore.Core/TransactionLog/Chunks/TFChunkScavenger.cs
  src/EventStore.Core/TransactionLog/Scavenging/Stages/ChunkExecutor.cs
Labels: bug

#4668 Mzhai work on tutorials
  docs/server/security/README.md
  docs/server/security/user-authorization.md
Labels: cherry-pick:release/v24.10

#4672 add per event projection processing timeout section
  docs/server/features/projections/custom.md
Labels: documentation

#4648 [KDB-518] Use github automatically generated release notes
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/release.yml
Labels: ignore-for-release

#4665 Update upgrade-guide.md
  docs/server/quick-start/upgrade-guide.md
Labels: cherry-pick:master

#4695 [Cherry-pick v24.10][KDB-518] Use github automatically generated release notes (#4648)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/release.yml
Labels: cherry-pick:release/oss-v23.10, ignore-for-release

#4634 Changes to HTTP API Documentation for operations requiring authentication
  docs/http-api/api.md
Labels: documentation, cherry-pick:release/v24.10

#4694 Correct the connector deletion endpoint
  docs/server/features/connectors/manage.md
Labels: documentation, cherry-pick:release/v24.10
