Repository kurrent-io/KurrentDB, pull requests merged in 2024-06, with the labels that each got.

#4268 [DB-26-6] Configurable status code for /heath/live
  src/EventStore.Core.Tests/Http/HealthChecks/when_performing_a_live_check.cs
  src/EventStore.Core/ClusterVNodeStartup.cs
Labels: Documentation Needed

#4285 [DBX-41] Continue index merge even if memory cannot be allocated for the bloom filter
  src/EventStore.Core.Tests/Index/IndexV1/when_creating_large_bloom_filter.cs
  src/EventStore.Core/Index/PTable.cs
  src/EventStore.Core/Index/PTableConstruction.cs
Labels: cherry-pick:release/oss-v23.10

#4284 [DBX-41] Fix finalizer when AlignedMemory failed to allocate
  src/EventStore.Core.XUnit.Tests/DataStructures/ProbabilisticFilter/AlignedMemoryTests.cs
  src/EventStore.Core/DataStructures/ProbabilisticFilter/AlignedMemory.cs
Labels: cherry-pick:release/oss-v23.10

#4282 [DB-21-5] Fixed concurrency between GetReaderWorkItem() and TryDestructMemStreams()
  src/EventStore.Core/TransactionLog/Chunks/TFChunk/TFChunk.cs
  src/EventStore.Core/Transforms/Identity/IdentityChunkReadTransform.cs
Labels: kind/bug

#4258 [ESDB-106-14] Add support for chunk data transformation plugins
  src/EventStore.ClusterNode/Program.cs
  src/EventStore.Core.Tests/ClientOperations/specification_with_bare_vnode.cs
  src/EventStore.Core.Tests/Helpers/MiniNode.cs
  src/EventStore.Core.Tests/Services/RedactionService/SwitchChunkFailureTests.cs
  src/EventStore.Core.Tests/Services/Replication/LeaderReplication/with_replication_service_and_epoch_manager.cs
  src/EventStore.Core.Tests/Services/Replication/LogReplication/LogReplicationFixture.cs
  src/EventStore.Core.Tests/Services/Replication/LogReplication/LogReplicationWithExistingDbFixture.cs
  src/EventStore.Core.Tests/Services/Storage/EpochManager/when_having_TFLog_with_existing_epochs.cs
  src/EventStore.Core.Tests/Services/Storage/EpochManager/when_having_an_epoch_manager_and_empty_tf_log.cs
  src/EventStore.Core.Tests/Services/Storage/EpochManager/when_starting_having_TFLog_with_existing_epochs.cs
  src/EventStore.Core.Tests/Services/Storage/EpochManager/when_starting_having_TFLog_with_no_epochs.cs
  src/EventStore.Core.Tests/Services/Storage/EpochManager/when_truncating_the_epoch_checkpoint.cs
  src/EventStore.Core.Tests/Services/Transport/Grpc/StreamsTests/GrpcSpecification.cs
  src/EventStore.Core.Tests/TransactionLog/Truncation/when_truncating_database.cs
  src/EventStore.Core.Tests/TransactionLog/Validation/TFChunkDbCreationTestBase.cs
  src/EventStore.Core.Tests/TransactionLog/when_chasing_a_chunked_transaction_log.cs
  src/EventStore.Core.Tests/TransactionLog/when_closing_the_database.cs
  src/EventStore.Core.Tests/TransactionLog/when_writing_an_existing_chunked_transaction_file_with_checksum.cs
  src/EventStore.Core.Tests/TransactionLog/when_writing_an_existing_chunked_transaction_file_with_checksum_and_data_bigger_than_buffer.cs
  src/EventStore.Core.Tests/TransactionLog/when_writing_an_existing_chunked_transaction_file_with_not_enough_space_in_chunk.cs
  src/EventStore.Core.XUnit.Tests/Scavenge/Infrastructure/Scenario.cs
  src/EventStore.Core.XUnit.Tests/TransactionLog/Chunks/ChunkHeaderTests.cs
  src/EventStore.Core/Authorization/LegacyAuthorizationProviderFactory.cs
  src/EventStore.Core/ClusterVNode.cs
  src/EventStore.Core/ClusterVNodeStartup.cs
  src/EventStore.Core/Configuration/ClusterVNodeOptions.cs
  src/EventStore.Core/EventStore.Core.csproj
  src/EventStore.Core/Services/ClusterStorageWriterService.cs
  src/EventStore.Core/Services/RedactionService.cs
  src/EventStore.Core/Services/Storage/StorageWriterService.cs
  src/EventStore.Core/TransactionLog/Chunks/ChunkHeader.cs
  src/EventStore.Core/TransactionLog/Chunks/TFChunk/ReaderWorkItem.cs
  src/EventStore.Core/TransactionLog/Chunks/TFChunk/TFChunk.cs
  src/EventStore.Core/TransactionLog/Chunks/TFChunk/WriterWorkItem.cs
  src/EventStore.Core/TransactionLog/Chunks/TFChunkDb.cs
  src/EventStore.Core/TransactionLog/Chunks/TFChunkDbTruncator.cs
  src/EventStore.Core/TransactionLog/Chunks/TFChunkWriter.cs
  src/EventStore.Core/Transforms/ChunkDataReadStream.cs
  src/EventStore.Core/Transforms/ChunkDataWriteStream.cs
  src/EventStore.Core/Transforms/DbTransformManager.cs
  src/EventStore.Core/Transforms/IChunkReadTransform.cs
  src/EventStore.Core/Transforms/IChunkTransform.cs
  src/EventStore.Core/Transforms/IChunkTransformFactory.cs
  src/EventStore.Core/Transforms/IChunkWriteTransform.cs
  src/EventStore.Core/Transforms/IDbTransform.cs
  src/EventStore.Core/Transforms/Identity/IdentityChunkReadTransform.cs
  src/EventStore.Core/Transforms/Identity/IdentityChunkTransform.cs
  src/EventStore.Core/Transforms/Identity/IdentityChunkTransformFactory.cs
  src/EventStore.Core/Transforms/Identity/IdentityChunkWriteTransform.cs
  src/EventStore.Core/Transforms/Identity/IdentityDbTransform.cs
  src/EventStore.Core/Transforms/TransformType.cs
Labels: impact/breaking change

#4291 [DBX-40] Fix redacted events break replication on follower
  src/EventStore.Core.Tests/TransactionLog/prepare_log_record_should.cs
  src/EventStore.Core/TransactionLog/LogRecords/PrepareLogRecord.cs
Labels: cherry-pick:release/oss-v23.10

#4312 [ESDB-116-3] Improvements to projection metrics
  src/EventStore.ClusterNode/metricsconfig.json
  src/EventStore.Core/Metrics/ObservableUpDownMetricMulti.cs
  src/EventStore.Projections.Core.XUnit.Tests/Metrics/ProjectionEventsProcessedMetricTests.cs
  src/EventStore.Projections.Core.XUnit.Tests/Metrics/ProjectionProgressMetricTests.cs
  src/EventStore.Projections.Core.XUnit.Tests/Metrics/ProjectionRunningMetricTests.cs
  src/EventStore.Projections.Core.XUnit.Tests/Metrics/ProjectionStatusMetricTests.cs
  src/EventStore.Projections.Core.XUnit.Tests/Metrics/ProjectionTrackerTests.cs
  src/EventStore.Projections.Core/Metrics/ObservableUpDownMetric.cs
  src/EventStore.Projections.Core/Metrics/ProjectionEventsProcessedMetric.cs
  src/EventStore.Projections.Core/Metrics/ProjectionMetrics.cs
  src/EventStore.Projections.Core/Metrics/ProjectionProgressMetric.cs
  src/EventStore.Projections.Core/Metrics/ProjectionRunningMetric.cs
  src/EventStore.Projections.Core/Metrics/ProjectionStatusMetric.cs
  src/EventStore.Projections.Core/Metrics/ProjectionTracker.cs
  src/EventStore.Projections.Core/ProjectionsSubsystem.cs
  src/EventStore.Projections.Core/Services/Management/ProjectionManager.cs
Labels: cherry-pick:release/oss-v24.6

#4319 [ESDB-116-2] Simplify Persistent Subscription metrics and Projection metrics
  src/EventStore.Core.XUnit.Tests/Metrics/PersistentSubscriptionConnectionCountMetricTests.cs
  src/EventStore.Core.XUnit.Tests/Metrics/PersistentSubscriptionInFlightMessagesMetricTests.cs
  src/EventStore.Core.XUnit.Tests/Metrics/PersistentSubscriptionItemsProcessedMetricTests.cs
  src/EventStore.Core.XUnit.Tests/Metrics/PersistentSubscriptionLastCheckpointedEventCommitPositionMetricTests.cs
  src/EventStore.Core.XUnit.Tests/Metrics/PersistentSubscriptionLastCheckpointedEventMetricTests.cs
  src/EventStore.Core.XUnit.Tests/Metrics/PersistentSubscriptionLastKnownEventCommitPositionMetricTests.cs
  src/EventStore.Core.XUnit.Tests/Metrics/PersistentSubscriptionLastKnownEventMetricTests.cs
  src/EventStore.Core.XUnit.Tests/Metrics/PersistentSubscriptionMetricsTests.cs
  src/EventStore.Core.XUnit.Tests/Metrics/PersistentSubscriptionOldestParkedMessageMetricTests.cs
  src/EventStore.Core.XUnit.Tests/Metrics/PersistentSubscriptionParkedMessagesMetricTests.cs
  src/EventStore.Core/Metrics/IPersistentSubscriptionTracker.cs
  src/EventStore.Core/Metrics/ObservableCounterMetricMulti.cs
  src/EventStore.Core/Metrics/PersistentSubscriptionConnectionCountMetric.cs
  src/EventStore.Core/Metrics/PersistentSubscriptionInFlightMessagesMetric.cs
  src/EventStore.Core/Metrics/PersistentSubscriptionItemsProcessedMetric.cs
  src/EventStore.Core/Metrics/PersistentSubscriptionLastCheckpointedEventCommitPositionMetric.cs
  src/EventStore.Core/Metrics/PersistentSubscriptionLastCheckpointedEventMetric.cs
  src/EventStore.Core/Metrics/PersistentSubscriptionLastKnownEventCommitPositionMetric.cs
  src/EventStore.Core/Metrics/PersistentSubscriptionLastKnownEventMetric.cs
  src/EventStore.Core/Metrics/PersistentSubscriptionOldestParkedMessageMetric.cs
  src/EventStore.Core/Metrics/PersistentSubscriptionParkedMessagesMetric.cs
  src/EventStore.Core/Metrics/PersistentSubscriptionTracker.cs
  src/EventStore.Core/MetricsBootstrapper.cs
  src/EventStore.Projections.Core.Tests/Services/projections_manager/TestFixtureWithProjectionCoreAndManagementServices.cs
  src/EventStore.Projections.Core.Tests/Services/projections_manager/specification_with_projection_management_service.cs
  src/EventStore.Projections.Core.Tests/Services/projections_manager/when_creating_projection_manager.cs
  src/EventStore.Projections.Core.Tests/Services/projections_manager/when_starting_the_projection_manager_with_duplicate_projection_created.cs
  src/EventStore.Projections.Core.Tests/Services/projections_manager/when_starting_the_projection_manager_with_existing_partially_created_projection.cs
  src/EventStore.Projections.Core.Tests/Services/projections_manager/when_starting_the_projection_manager_with_existing_projection.cs
  src/EventStore.Projections.Core.XUnit.Tests/Metrics/ProjectionEventsProcessedMetricTests.cs
  src/EventStore.Projections.Core.XUnit.Tests/Metrics/ProjectionMetricsTests.cs
  src/EventStore.Projections.Core.XUnit.Tests/Metrics/ProjectionProgressMetricTests.cs
  src/EventStore.Projections.Core.XUnit.Tests/Metrics/ProjectionRunningMetricTests.cs
  src/EventStore.Projections.Core.XUnit.Tests/Metrics/ProjectionStatusMetricTests.cs
  src/EventStore.Projections.Core.XUnit.Tests/Metrics/TestMeterListener.cs
  src/EventStore.Projections.Core/Metrics/IProjectionTracker.cs
  src/EventStore.Projections.Core/Metrics/ProjectionEventsProcessedMetric.cs
  src/EventStore.Projections.Core/Metrics/ProjectionProgressMetric.cs
  src/EventStore.Projections.Core/Metrics/ProjectionRunningMetric.cs
  src/EventStore.Projections.Core/Metrics/ProjectionStatusMetric.cs
  src/EventStore.Projections.Core/Metrics/ProjectionTracker.cs
  src/EventStore.Projections.Core/ProjectionsSubsystem.cs
Labels: cherry-pick:release/oss-v24.6
