Repository kurrent-io/KurrentDB, pull requests merged in 2024-03, with the labels that each got.

#4180 Update copy edits
  docs/metrics.md
Labels: cherry-pick:release/oss-v24.2

#4182 Fix links in new docs
  docs/whatsnew.md
Labels: cherry-pick:release/oss-v24.2

#4184 Update: format what's new
  docs/whatsnew.md
Labels: cherry-pick:release/oss-v24.2

#4187 Fix Busted EditorConfig
  src/.editorconfig
Labels: cherry-pick:release/oss-v20.10, cherry-pick:release/oss-v21.10, cherry-pick:release/oss-v22.10, cherry-pick:release/oss-v23.10, cherry-pick:release/oss-v24.2

#4200 Remove comment
  src/EventStore.Projections.Core.Tests/Subsystem/TestFixtureWithProjectionSubsystem.cs
Labels: cherry-pick:release/oss-v24.2

#4204 Fix docker build after buildkit change
  Dockerfile
Labels: cherry-pick:release/oss-v22.10, cherry-pick:release/oss-v23.10, cherry-pick:release/oss-v24.2

#4207 [DB-272] Downgrade dragonfruit; make TestClient start
  src/EventStore.TestClient/EventStore.TestClient.csproj
Labels: cherry-pick:release/oss-v24.2
