Repository kurrent-io/KurrentDB, pull requests merged in 2024-10, with the labels that each got.

#4435 Adjust docs to reflect FIPS -> MD5 plugin rename
  docs/server/configuration/security.md
  src/EventStore.ClusterNode/ClusterVNodeHostedService.cs
Labels: cherry-pick:release/oss-v23.10, cherry-pick:release/oss-v24.6

#4471 [DBX-71] Remove `Plugins` configuration section
  src/EventStore.ClusterNode/ClusterVNodeHostedService.cs
Labels: impact/breaking change

#4479 Add how to resign or change leader in eventstore in the api document.
  docs/http-api/api.md
Labels: area/documentation, cherry-pick:master, cherry-pick:release/oss-v24.6

#4482 [DBX-56-7] Add connectors docs from 24.6 branch
  docs/server/features/connectors/README.md
  docs/server/features/connectors/details.md
  docs/server/features/connectors/images/connector-anatomy-dark.svg
  docs/server/features/connectors/images/connector-anatomy.svg
  docs/server/features/connectors/images/connector-checkpoint-stream.png
  docs/server/features/connectors/images/connector-stream.png
  docs/server/features/connectors/images/connectors-leases.png
  docs/server/features/connectors/images/connectors-lifecycle.png
  docs/server/features/connectors/images/connectors-management.png
  docs/server/features/connectors/images/create-event.png
  docs/server/features/connectors/images/example-lambda-connector-dark.svg
  docs/server/features/connectors/images/example-lambda-connector.svg
  docs/server/features/connectors/images/example-lambda-eks-dark.svg
  docs/server/features/connectors/images/example-lambda-eks.svg
  docs/server/features/connectors/images/internal-hosting.png
  docs/server/features/connectors/images/logger-sink-outputs.png
  docs/server/features/connectors/images/receive-event.png
  docs/server/features/connectors/images/receive-transformed-event.png
  docs/server/features/connectors/manage.md
  docs/server/features/connectors/quickstart.md
  docs/server/features/connectors/settings.md
  docs/server/features/connectors/sinks/http.md
  docs/server/features/connectors/sinks/kafka.md
  docs/server/features/connectors/sinks/logger.md
  docs/server/quick-start/whatsnew.md
Labels: cherry-pick:docs/v24.10-preview.1

#4487 Add license headers to new files that crossed in flight
  src/EventStore.Core.Tests/Bus/Helpers/FakeCollectingQueuedHandler.cs
  src/EventStore.Core.Tests/Services/VNode/ShutdownServiceTests.cs
  src/EventStore.Core.Tests/Services/VNode/ShutdownServiceWithMiniNodeTests.cs
  src/EventStore.Core/Services/ShutdownService.cs
Labels: cherry-pick:master

#4493 [ESDB-197] Fix BSD-3 notice for previous contributions which were made under the BSD-3 license
  Dockerfile
  LICENSE_CONTRIBUTIONS.md
  src/Directory.Build.props
  src/EventStore.ClusterNode/EventStore.ClusterNode.csproj
Labels: cherry-pick:release/v24.10

#4503 [ESDB-193] Upgrade EventStore.Plugins ref to 24.10.5
  src/EventStore.Core/EventStore.Core.csproj
  src/EventStore.Core/Services/Archiver/ArchiverService.cs
  src/EventStore.TestClient/EventStore.TestClient.csproj
Labels: cherry-pick:release/v24.10

#4509 Drive free memory stat in Linux from MemAvailable rather than MemFree
  src/EventStore.SystemRuntime/Diagnostics/RuntimeStats.cs
Labels: cherry-pick:release/v24.10

#4512 Timeout when writing scavengepoint
  src/EventStore.Core/TransactionLog/Scavenging/DbAccess/ScavengePointSource.cs
Labels: cherry-pick:release/oss-v23.10, cherry-pick:release/v24.10

#4518 [ESDB-139-8] Allow configuring auth policies through a stream
  src/EventStore.ClusterNode/AuthorizationPolicyRegistryFactory.cs
  src/EventStore.ClusterNode/ClusterVNodeHostedService.cs
  src/EventStore.Core.Tests/Authorization/LegacyPolicyVerification.cs
  src/EventStore.Core.Tests/ClientOperations/specification_with_bare_vnode.cs
  src/EventStore.Core.Tests/Helpers/MiniClusterNode.cs
  src/EventStore.Core.Tests/Helpers/MiniNode.cs
  src/EventStore.Core.XUnit.Tests/Authorization/FakePolicySelectorPlugin.cs
  src/EventStore.Core.XUnit.Tests/Authorization/MultiPolicyEvaluatorTests.cs
  src/EventStore.Core.XUnit.Tests/Authorization/StreamBasedAuthPolicyRegistryTests.cs
  src/EventStore.Core.XUnit.Tests/Configuration/ClusterNodeOptionsTests/ClusterVNodeOptionsScenarios.cs
  src/EventStore.Core/Authorization/AuthorizationPolicies/AuthorizationPolicySettings.cs
  src/EventStore.Core/Authorization/AuthorizationPolicies/FallbackPolicySelector.cs
  src/EventStore.Core/Authorization/AuthorizationPolicies/IAuthorizationPolicyRegistry.cs
  src/EventStore.Core/Authorization/AuthorizationPolicies/IPolicySelector.cs
  src/EventStore.Core/Authorization/AuthorizationPolicies/IPolicySelectorFactory.cs
  src/EventStore.Core/Authorization/AuthorizationPolicies/LegacyPolicySelectorFactory.cs
  src/EventStore.Core/Authorization/AuthorizationPolicies/StaticAuthorizationPolicyRegistry.cs
  src/EventStore.Core/Authorization/AuthorizationPolicies/StaticPolicySelector.cs
  src/EventStore.Core/Authorization/AuthorizationPolicies/StreamBasedAuthorizationPolicyRegistry.cs
  src/EventStore.Core/Authorization/InternalAuthorizationProviderFactory.cs
  src/EventStore.Core/Authorization/MultiPolicyEvaluator.cs
  src/EventStore.Core/Authorization/PolicySelectorsFactory.cs
  src/EventStore.Core/Services/SystemNames.cs
Labels: cherry-pick:release/v24.10

#4522 Adjust log levels of gRPC enumerators
  src/EventStore.ClusterNode/logconfig.json
  src/EventStore.Core/Services/Transport/Enumerators/Enumerator.AllSubscription.cs
  src/EventStore.Core/Services/Transport/Enumerators/Enumerator.AllSubscriptionFiltered.cs
  src/EventStore.Core/Services/Transport/Enumerators/Enumerator.StreamSubscription.cs
Labels: cherry-pick:release/v24.10

#4530 [ESDB-139-8] Fix authorization policy registry being loaded in insecure mode
  src/EventStore.ClusterNode/AuthorizationPolicyRegistryFactory.cs
  src/EventStore.ClusterNode/ClusterVNodeHostedService.cs
Labels: cherry-pick:master

#4532 [DBX-76] Allow extra data to be added to telemetry from configuration
  src/EventStore.Core.XUnit.Tests/Telemetry/TelemetryServiceTests.cs
  src/EventStore.Core/Authentication/PassthroughAuthentication/PassthroughAuthenticationProvider.cs
  src/EventStore.Core/ClusterVNode.cs
  src/EventStore.Core/Telemetry/TelemetryService.cs
Labels: cherry-pick:master

#4533 [DBX-77] Remove deprecated options for 25.2
  docker-compose.yml
  docs/server/configuration/cluster.md
  docs/server/configuration/networking.md
  docs/server/configuration/security.md
  docs/server/diagnostics/logs.md
  docs/server/operations/scavenge.md
  docs/server/quick-start/upgrade-guide.md
  shared.env
  src/EventStore.Core.Tests/Helpers/MiniClusterNode.cs
  src/EventStore.Core.Tests/Helpers/MiniNode.cs
  src/EventStore.Core.XUnit.Tests/Configuration/ClusterNodeOptionsTests/when_building/with_cluster_node_and_custom_settings.cs
  src/EventStore.Core.XUnit.Tests/Configuration/ClusterNodeOptionsTests/when_building/with_default_settings.cs
  src/EventStore.Core.XUnit.Tests/Configuration/ClusterNodeOptionsTests/when_building/with_secure_tcp.cs
  src/EventStore.Core.XUnit.Tests/Configuration/ClusterNodeOptionsTests/when_building/with_single_node_and_custom_settings.cs
  src/EventStore.Core/ClusterVNode.cs
  src/EventStore.Core/Configuration/ClusterVNodeOptions.cs
  src/EventStore.Core/Configuration/ClusterVNodeOptionsExtensions.cs
Labels: impact/breaking change

#4540 Warn on startup about removed "Plugins" configuration subsection
  src/EventStore.Core/ClusterVNode.cs
Labels: cherry-pick:master

#4542 [DBX-78-8] Add docs for MongoDB and RabbitMQ sinks
  docs/server/features/connectors/README.md
  docs/server/features/connectors/sinks/http.md
  docs/server/features/connectors/sinks/kafka.md
  docs/server/features/connectors/sinks/logger.md
  docs/server/features/connectors/sinks/mongo.md
  docs/server/features/connectors/sinks/rabbitmq.md
  docs/server/quick-start/whatsnew.md
Labels: cherry-pick:master

#4549 Add error to /license endpoint
  src/EventStore.Licensing.Tests/LicensingPluginTests.cs
  src/EventStore.Licensing/LicensingPlugin.cs
Labels: cherry-pick:master

#4548 Tidy up shutdown
  src/EventStore.ClusterNode/Program.cs
  src/EventStore.Core/ClusterVNode.cs
  src/EventStore.Core/Services/ShutdownService.cs
Labels: cherry-pick:master

#4545 Rename Authorization:PolicyType to Authorization:DefaultPolicyType
  src/EventStore.ClusterNode/AuthorizationPolicyRegistryFactory.cs
  src/EventStore.Core/Authorization/AuthorizationPolicies/StreamBasedAuthorizationPolicyRegistry.cs
Labels: cherry-pick:master

#4543 Update stream policy docs
  docs/server/configuration/security.md
Labels: cherry-pick:master

#4559 [DBX-79-1] Set infinite timeouts Persistent Subscription startup config read.
  src/EventStore.Core/Helpers/IODispatcher.cs
  src/EventStore.Core/Services/PersistentSubscription/PersistentSubscriptionService.cs
Labels: cherry-pick:master, cherry-pick:release/v24.10

#4558 Fix config reloading
  src/EventStore.Common.Tests/Configuration/SectionTests.cs
  src/EventStore.Common/Configuration/SectionProvider.cs
  src/EventStore.Core.XUnit.Tests/Configuration/ClusterVNodeOptionsTests.cs
  src/EventStore.Core/Configuration/ClusterVNodeOptions.Framework.cs
  src/EventStore.Core/Configuration/ConfigurationRootExtensions.cs
Labels: cherry-pick:master

#4561 [DBX-79-1] Timeout cherry picks
  src/EventStore.Common/EventStore.Common.csproj
  src/EventStore.Core/Helpers/IODispatcher.cs
  src/EventStore.Core/Services/PersistentSubscription/PersistentSubscriptionService.cs
  src/EventStore.Projections.Core/Services/Management/ManagedProjection.cs
  src/EventStore.Projections.Core/Services/Management/ProjectionManager.cs
  src/EventStore.Projections.Core/Services/Processing/RequestResponseQueueForwarder.cs
Labels: cherry-pick:master

#4565 On license error request graceful shutdown of server (send RequestShutdown message)
  src/EventStore.ClusterNode/Program.cs
  src/EventStore.Core/ClusterVNode.cs
  src/EventStore.Licensing.Tests/LicenseServiceTests.cs
  src/EventStore.Licensing.Tests/LicensingPluginTests.cs
  src/EventStore.Licensing/LicenseService.cs
  src/EventStore.Licensing/LicensingPlugin.cs
Labels: cherry-pick:master

#4567 [DBX-78-21] Explicitly deny stream operations in fallback policy
  src/EventStore.Core.XUnit.Tests/Authorization/FallbackStreamAccessPolicyVerification.cs
  src/EventStore.Core.XUnit.Tests/Authorization/StreamBasedAuthPolicyRegistryTests.cs
  src/EventStore.Core/Authorization/AuthorizationPolicies/FallbackStreamAccessPolicySelector.cs
  src/EventStore.Core/Authorization/AuthorizationPolicies/StreamBasedAuthorizationPolicyRegistry.cs
Labels: cherry-pick:master

#4563 Enhance shutdown service to handle pre-terminated services.
  src/EventStore.Core.Tests/Services/VNode/ShutdownServiceTests.cs
  src/EventStore.Core/ClusterVNode.cs
  src/EventStore.Core/Messages/SystemMessage.cs
  src/EventStore.Core/Services/ShutdownService.cs
Labels: cherry-pick:release/v24.10

#4570 Add Operations.Subscription.ProcessMessages to fallback policy
  src/EventStore.Core.XUnit.Tests/Authorization/FallbackStreamAccessPolicyVerification.cs
  src/EventStore.Core/Authorization/AuthorizationPolicies/FallbackStreamAccessPolicySelector.cs
Labels: cherry-pick:master

#4572 Fix runtime information
  src/EventStore.SystemRuntime.Tests/EventStore.SystemRuntime.Tests.csproj
  src/EventStore.SystemRuntime.Tests/RuntimeInformationTests.cs
  src/EventStore.SystemRuntime/RuntimeInformation.cs
  src/EventStore.sln
Labels: cherry-pick:master

#4578 Treat MACHINE_LIMIT_EXCEEDED as a conclusive license validation error
  src/EventStore.Licensing.Tests/Keygen/KeygenLifecycleServiceTests.cs
  src/EventStore.Licensing/Keygen/KeygenLifecycleService.cs
Labels: cherry-pick:master

#4581 Add upgrade guide from 24.10.0-preview1
  docs/server/quick-start/upgrade-guide.md
  docs/server/quick-start/whatsnew.md
Labels: cherry-pick:master

#4546 Upgraded environment variables used in docker samples
  samples/server/docker-compose-cluster.yaml
  samples/server/docker-compose.yaml
Labels: cherry-pick:release/v24.10

#4586 Add extra information to license endpoint
  src/EventStore.Licensing.Tests/Keygen/KeygenLicenseProviderTests.cs
  src/EventStore.Licensing/Keygen/KeygenLicenseProvider.cs
Labels: cherry-pick:master

#4590 Calculate days remaining when querying /license endpoint
  src/EventStore.Licensing.Tests/Keygen/KeygenLicenseProviderTests.cs
  src/EventStore.Licensing.Tests/Keygen/KeygenLifecycleServiceTests.cs
  src/EventStore.Licensing.Tests/LicenseSummaryTests.cs
  src/EventStore.Licensing.Tests/LicensingPluginTests.cs
  src/EventStore.Licensing/Keygen/KeygenLicenseProvider.cs
  src/EventStore.Licensing/Keygen/KeygenLifecycleService.cs
  src/EventStore.Licensing/Keygen/LicenseInfo.cs
  src/EventStore.Licensing/LicenseSummary.cs
  src/EventStore.Licensing/LicenseTelemetryService.cs
Labels: cherry-pick:master

#4574 Update connectors docs
  docs/.vuepress/config.ts
  docs/package.json
  docs/pnpm-lock.yaml
  docs/server/features/connectors/README.md
  docs/server/features/connectors/details.md
  docs/server/features/connectors/features.md
  docs/server/features/connectors/images/connector-checkpoint-stream.png
  docs/server/features/connectors/images/connector-stream.png
  docs/server/features/connectors/images/connectors-leases.png
  docs/server/features/connectors/images/connectors-lifecycle.png
  docs/server/features/connectors/images/connectors-management.png
  docs/server/features/connectors/images/create-event.png
  docs/server/features/connectors/images/logger-sink-outputs.png
  docs/server/features/connectors/images/receive-event.png
  docs/server/features/connectors/images/receive-transformed-event.png
  docs/server/features/connectors/manage.md
  docs/server/features/connectors/quickstart.md
  docs/server/features/connectors/settings.md
  docs/server/features/connectors/sinks/http.md
  docs/server/features/connectors/sinks/kafka.md
  docs/server/features/connectors/sinks/logger.md
  docs/server/features/connectors/sinks/mongo.md
  docs/server/features/connectors/sinks/rabbitmq.md
Labels: cherry-pick:release/v24.10

#4597 Add readOnlyReplica and archiver flags to machine metadata
  src/EventStore.Licensing.Tests/Keygen/KeygenLifecycleServiceTests.cs
  src/EventStore.Licensing.Tests/Keygen/KeygenSimulator.Replies.cs
  src/EventStore.Licensing.Tests/Keygen/KeygenSimulator.Should.cs
  src/EventStore.Licensing.Tests/Keygen/KeygenSimulator.cs
  src/EventStore.Licensing/Keygen/Fingerprint.cs
  src/EventStore.Licensing/Keygen/KeygenClient.cs
  src/EventStore.Licensing/Keygen/KeygenClientOptions.cs
  src/EventStore.Licensing/Keygen/KeygenLifecycleService.cs
  src/EventStore.Licensing/Keygen/Models.cs
  src/EventStore.Licensing/LicensingPlugin.cs
Labels: cherry-pick:master

#4596 Separate security into its own section
  docs/http-api/api.md
  docs/http-api/optional-http-headers.md
  docs/http-api/security.md
  docs/server/configuration/cluster.md
  docs/server/configuration/indexes.md
  docs/server/configuration/networking.md
  docs/server/configuration/security.md
  docs/server/features/admin-ui.md
  docs/server/features/streams.md
  docs/server/quick-start/installation.md
  docs/server/quick-start/upgrade-guide.md
  docs/server/quick-start/whatsnew.md
  docs/server/security/README.md
  docs/server/security/protocol-security.md
  docs/server/security/user-authentication.md
  docs/server/security/user-authorization.md
Labels: area/documentation
