Repository kurrent-io/KurrentDB, pull requests merged in 2025-06, with the labels that each got.

#5130 [KDB-871] Collect together the release notes for 23.10 and 23.6
  docs/server/features/README.md
  docs/server/release-schedule/README.md
  docs/server/release-schedule/release-notes.md
Labels: documentation

#5101 [KDB-843] Add projection state size metrics
  src/KurrentDB.Core/Util/Opts.cs
  src/KurrentDB.Projections.Core.XUnit.Tests/Metrics/ProjectionMetricsTests.cs
  src/KurrentDB.Projections.Core/Metrics/ProjectionTracker.cs
  src/KurrentDB.Projections.Core/ProjectionsSubsystem.cs
  src/KurrentDB.Projections.Core/Services/Processing/Checkpointing/CoreProjectionCheckpointManager.cs
  src/KurrentDB.Projections.Core/Services/Processing/Checkpointing/DefaultCheckpointManager.cs
  src/KurrentDB.Projections.Core/Services/ProjectionStatistics.cs
Labels: enhancement, breaking

#5134 [KDB-872] Add logging for significant garbage collections
  src/EventStore.Core/Metrics/GCSuspensionMetric.cs
Labels: cherry-pick:master, cherry-pick:release/v24.10, cherry-pick:release/v25.0

#5135 Collect together release notes for 22.10 and 22.6
  docs/server/release-notes.md
  docs/server/release-schedule.md
  docs/server/sidebar.cjs
Labels: documentation, ignore-for-release

#5140 Add release notes for 24.6 and 24.2
  docs/server/release-schedule/release-notes.md
Labels: documentation, ignore-for-release

#5136 [KDB-878] Add previous release notes
  docs/server/release-schedule/previous-versions/20-10.md
  docs/server/release-schedule/previous-versions/20-6.md
  docs/server/release-schedule/previous-versions/21-10.md
  docs/server/release-schedule/previous-versions/21-2.md
  docs/server/release-schedule/previous-versions/21-6.md
  docs/server/release-schedule/previous-versions/22-10.md
  docs/server/release-schedule/previous-versions/22-6.md
  docs/server/release-schedule/previous-versions/23-10.md
  docs/server/release-schedule/previous-versions/23-6.md
  docs/server/release-schedule/previous-versions/24-10.md
  docs/server/release-schedule/previous-versions/24-2.md
  docs/server/release-schedule/previous-versions/24-6.md
  docs/server/release-schedule/previous-versions/README.md
Labels: documentation, cherry-pick:release/oss-v23.10, cherry-pick:release/v24.10, ignore-for-release, cherry-pick:release/v25.0

#5144 Add Server Configuration Option for TCP read expiry: TcpReadTimeoutMs
  src/EventStore.Core.Tests/Services/Replication/LeaderReplication/with_replication_service.cs
  src/EventStore.Core.Tests/Services/Replication/LeaderReplication/with_replication_service_and_epoch_manager.cs
  src/EventStore.Core.Tests/Services/Transport/Tcp/TcpClientDispatcherTests.cs
  src/EventStore.Core.Tests/Services/Transport/Tcp/TcpConnectionManagerTests.cs
  src/EventStore.Core/ClusterVNode.cs
  src/EventStore.Core/ClusterVNodeOptions.cs
  src/EventStore.Core/Services/Transport/Tcp/ClientTcpDispatcher.cs
Labels: cherry-pick:master, cherry-pick:release/v24.10, cherry-pick:release/v25.0

#5158 [KDB-892] Add persistent subscription docs for 23.10.7
  docs/http-api/persistent.md
  docs/server/diagnostics/metrics.md
  samples/http-api/persistent-subscriptions/get-all-subscriptions-response-paged.json
  samples/http-api/persistent-subscriptions/get-all-subscriptions-response.json
  samples/http-api/persistent-subscriptions/get-subscription-response.json
  samples/http-api/persistent-subscriptions/get-subscriptions-for-stream-response.json
  samples/http-api/persistent-subscriptions/read-stream-response.json
Labels: documentation

#5152 [KDB-935] Add support for running as a windows service
  docs/server/quick-start/installation.md
  src/Directory.Packages.props
  src/KurrentDB.Core.XUnit.Tests/Metrics/MetricsEndpointTests.cs
  src/KurrentDB.sln
  src/KurrentDB/KurrentDB.csproj
  src/KurrentDB/Program.cs
Labels: cherry-pick:release/v25.0
