Repository kurrent-io/KurrentDB, pull requests merged in 2025-03, with the labels that each got.

#4881 [KDB-699] Reduce allocations when projections validate json
  src/EventStore.Common.Tests/Utils/JsonTests.cs
  src/EventStore.Common/Utils/Json.cs
  src/EventStore.Core/Data/ResolvedEvent.cs
  src/EventStore.Projections.Core.Tests/Services/event_reader/event_by_type_index_reader/catching_up/index_checkpoint.cs
  src/EventStore.Projections.Core/Services/Processing/EventFilter.cs
  src/EventStore.Projections.Core/Services/Processing/ResolvedEvent.cs
  src/EventStore.Projections.Core/Services/Processing/Subscriptions/ReaderSubscriptionBase.cs
Labels: cherry-pick:master

#4882 [KDB-696] Add an option to limit the size of events appended over gRPC and HTTP
  proto.lock
  src/EventStore.Core.Tests/Helpers/MiniNode.cs
  src/EventStore.Core.Tests/Services/Transport/Grpc/StreamsTests/AppendBatchToStreamTests.cs
  src/EventStore.Core.Tests/Services/Transport/Grpc/StreamsTests/GrpcSpecification.cs
  src/EventStore.Core/ClusterVNode.cs
  src/EventStore.Core/ClusterVNodeStartup.cs
  src/EventStore.Core/Configuration/ClusterVNodeOptions.cs
  src/EventStore.Core/Data/Event.cs
  src/EventStore.Core/Services/Transport/Grpc/Constants.cs
  src/EventStore.Core/Services/Transport/Grpc/RpcExceptions.cs
  src/EventStore.Core/Services/Transport/Grpc/Status.cs
  src/EventStore.Core/Services/Transport/Grpc/Streams.Append.cs
  src/EventStore.Core/Services/Transport/Grpc/Streams.BatchAppend.cs
  src/EventStore.Core/Services/Transport/Grpc/Streams.cs
  src/EventStore.Core/Services/Transport/Http/Controllers/AtomController.cs
  src/EventStore.Core/Services/Transport/Http/Controllers/CommunicationController.cs
  src/Protos/Grpc/shared.proto
Labels: cherry-pick:master, grpc

#4884 [KDB-698] Add option to limit the maximum projection state size
  src/EventStore.ClusterNode/ClusterVNodeHostedService.cs
  src/EventStore.Core/Configuration/ClusterVNodeOptions.cs
  src/EventStore.Core/Util/Opts.cs
  src/EventStore.Projections.Core.Javascript.Tests/Integration/ProjectionRuntimeScenario.cs
  src/EventStore.Projections.Core.Tests/ClientAPI/Cluster/specification_with_standard_projections_runnning.cs
  src/EventStore.Projections.Core.Tests/ClientAPI/projectionsManager/SpecificationWithNodeAndProjectionsManager.cs
  src/EventStore.Projections.Core.Tests/ClientAPI/specification_with_standard_projections_runnning.cs
  src/EventStore.Projections.Core.Tests/Services/TestFixtureWithProjectionCoreService.cs
  src/EventStore.Projections.Core.Tests/Services/core_projection/TestFixtureWithCoreProjection.cs
  src/EventStore.Projections.Core.Tests/Services/core_projection/checkpoint_manager/FakeCoreProjection.cs
  src/EventStore.Projections.Core.Tests/Services/core_projection/checkpoint_manager/TestFixtureWithCoreProjectionCheckpointManager.cs
  src/EventStore.Projections.Core.Tests/Services/core_projection/checkpoint_manager/multi_stream/TestFixtureWithMultiStreamCheckpointManager.cs
  src/EventStore.Projections.Core.Tests/Services/core_projection/checkpoint_manager/multi_stream/with_multi_stream_checkpoint_manager.cs
  src/EventStore.Projections.Core.Tests/Services/core_projection/checkpoint_manager/when_creating_a_default_checkpoint_manager.cs
  src/EventStore.Projections.Core.Tests/Services/core_projection/checkpoint_manager/when_projection_state_is_too_large.cs
  src/EventStore.Projections.Core.Tests/Services/core_projection/multi_phase/specification_with_multi_phase_core_projection.cs
  src/EventStore.Projections.Core.Tests/Services/core_projection/when_creating_a_projection.cs
  src/EventStore.Projections.Core.Tests/Services/core_projection/when_starting_a_projection.cs
  src/EventStore.Projections.Core.Tests/Services/projections_manager/TestFixtureWithProjectionCoreAndManagementServices.cs
  src/EventStore.Projections.Core.Tests/Subsystem/TestFixtureWithProjectionSubsystem.cs
  src/EventStore.Projections.Core.XUnit.Tests/CheckpointManagers/MultiStreamMultiOutputCheckpointManagerTests.cs
  src/EventStore.Projections.Core/ProjectionsStandardComponents.cs
  src/EventStore.Projections.Core/ProjectionsSubsystem.cs
  src/EventStore.Projections.Core/Services/Processing/Checkpointing/CoreProjectionCheckpointManager.cs
  src/EventStore.Projections.Core/Services/Processing/Checkpointing/CoreProjectionCheckpointWriter.cs
  src/EventStore.Projections.Core/Services/Processing/Checkpointing/DefaultCheckpointManager.cs
  src/EventStore.Projections.Core/Services/Processing/MultiStream/MultiStreamMultiOutputCheckpointManager.cs
  src/EventStore.Projections.Core/Services/Processing/Partitioning/PartitionState.cs
  src/EventStore.Projections.Core/Services/Processing/ProjectionCoreService.cs
  src/EventStore.Projections.Core/Services/Processing/Strategies/ContinuousProjectionProcessingStrategy.cs
  src/EventStore.Projections.Core/Services/Processing/Strategies/DefaultProjectionProcessingStrategy.cs
  src/EventStore.Projections.Core/Services/Processing/Strategies/EventReaderBasedProjectionProcessingStrategy.cs
  src/EventStore.Projections.Core/Services/Processing/Strategies/ProcessingStrategySelector.cs
  src/EventStore.Projections.Core/Services/Processing/Strategies/ProjectionProcessingStrategy.cs
  src/EventStore.Projections.Core/Services/Processing/Strategies/QueryProcessingStrategy.cs
Labels: subsystem/projections, cherry-pick:master

#4892 [KDB-710] Make sure not to send invalid checkpoint when filtered $all subscription transitions to live
  src/EventStore.Core.Tests/AssertEx.cs
  src/EventStore.Core.Tests/Services/Transport/Enumerators/Enumerator.AllSubscriptionFiltered.CombinationTests.cs
  src/EventStore.Core.Tests/Services/Transport/Enumerators/Enumerator.AllSubscriptionFiltered.Tests.cs
  src/EventStore.Core.Tests/Services/VNode/InaugurationManager/InaugurationManagerTests.cs
  src/EventStore.Core.Tests/Services/VNode/InaugurationManager/given_waiting_for_chaser.cs
  src/EventStore.Core.Tests/Services/VNode/InaugurationManager/given_writing_epoch.cs
  src/EventStore.Core/Services/Transport/Enumerators/Enumerator.AllSubscriptionFiltered.cs
Labels: cherry-pick:release/v24.10

#4903 Fix case where archiving a chunk could make it remain cached permanently
  src/EventStore.Core.Tests/TransactionLog/when_reading_physical_bytes_bulk_from_a_chunk.cs
  src/EventStore.Core/TransactionLog/Chunks/TFChunk/TFChunk.cs
Labels: ignore-for-release

#4907 Exit cleanly if the startup tasks are cancelled
  src/KurrentDB/Program.cs
Labels: ignore-for-release

#4895 [KDB-664] Use the fallback data directory if the default index directory can't be created
  src/EventStore.Core/ClusterVNode.cs
Labels: bug

#4919 Update RedirectUris in idsrv4.conf with correct indentation
  docs/server/security/user-authentication.md
Labels: documentation

#4923 Adjust copyright notice
  src/EventStore.Common.Tests/Utils/JsonTests.cs
Labels: ignore-for-release

#4932 Move default location changes into breaking changes in upgrade guide
  docs/server/quick-start/upgrade-guide.md
Labels: documentation, cherry-pick:release/v25.0

#4934 feat: add connector meters
  src/KurrentDB/metricsconfig.json
Labels: cherry-pick:master

#4930 [KDB-677] Rename es auth scheme to kurrent auth
  src/EventStore.Core/ClusterVNodeStartup.cs
  src/EventStore.Core/Services/Transport/Http/EventStoreAuthenticationHandler.cs
Labels: ignore-for-release

#4939 Update installation instructions for v25.0
  docs/server/quick-start/installation.md
  docs/server/quick-start/upgrade-guide.md
Labels: documentation, cherry-pick:release/v25.0

#4941 Update release date of 25.0.0
  docs/server/release-schedule/release-notes.md
Labels: documentation, cherry-pick:master

#4947 Document logconfig.json breaking change
  docs/server/diagnostics/logs.md
  docs/server/quick-start/upgrade-guide.md
Labels: documentation, cherry-pick:release/v25.0

#4949 docs: fix STS/LTS typo
  docs/server/quick-start/whatsnew.md
Labels: documentation, cherry-pick:release/v25.0

#4951 [KDB-678] Rename unix socket from `eventstore.sock` to `kurrent.sock`
  proto.lock
  src/EventStore.Core.Tests/Services/Transport/Grpc/ServerFeaturesTests/ServerFeaturesTest.cs
  src/EventStore.Core/Services/Transport/Grpc/Redaction.GetEventPositions.cs
  src/EventStore.Core/Services/Transport/Grpc/Redaction.SwitchChunks.cs
  src/EventStore.Core/Services/Transport/Grpc/Redaction.cs
  src/KurrentDB/Program.cs
  src/Protos/Grpc/redaction.proto
Labels: breaking

#4708 Add recovering projection from timeout
  docs/server/features/projections/custom.md
Labels: documentation

#4710 Added documentation around system streams
  docs/server/features/streams.md
Labels: documentation, cherry-pick:master, cherry-pick:release/v25.0

#4719 Update admin-ui.md
  docs/server/features/admin-ui.md
Labels: cherry-pick:release/oss-v23.10, cherry-pick:release/v24.10, cherry-pick:release/v25.0

#4908 Update persistent-subscriptions.md
  docs/server/features/persistent-subscriptions.md
Labels: cherry-pick:release/oss-v23.10, cherry-pick:release/v24.10, cherry-pick:release/v25.0

#4961 Update docs to reference ghcr.io/kurrent-io
  docs/server/security/user-authentication.md
Labels: documentation, cherry-pick:release/oss-v23.10, cherry-pick:release/v24.10, cherry-pick:release/v25.0

#4954 [release/v24.10] Update persistent-subscriptions.md
  docs/server/features/persistent-subscriptions.md
Labels: documentation

#4956 [release/oss-v23.10] Update admin-ui.md (#4719)
  docs/server/features/admin-ui.md
Labels: documentation

#4957 [release/v24.10] Update admin-ui.md (#4719)
  docs/server/features/admin-ui.md
Labels: documentation

#4955 [release/v25.0] Update admin-ui.md (#4719)
  docs/server/features/admin-ui.md
Labels: documentation
