Repository kurrent-io/KurrentDB, pull requests merged in 2025-01, with the labels that each got.

#4728 doc: corrected list function sample
  docs/server/features/connectors/manage.md
Labels: cherry-pick:release/v24.10

#4706 Added impact of resetting projection
  docs/server/features/projections/README.md
  docs/server/features/projections/custom.md
Labels: documentation

#4744 Remove pull request check workflow
  .github/workflows/pull-request-check.yml
Labels: ignore-for-release

#4745 Add metrics for parked persistent subscription messages
  src/EventStore.ClusterNode/metricsconfig.json
  src/EventStore.Common/Configuration/MetricsConfiguration.cs
  src/EventStore.Core.Tests/Services/PersistentSubscription/PersistentSubscriptionTests.cs
  src/EventStore.Core.Tests/Services/PersistentSubscription/when_an_error_occurs.cs
  src/EventStore.Core/ClusterVNode.cs
  src/EventStore.Core/Metrics/ParkedMessagesMetrics.cs
  src/EventStore.Core/MetricsBootstrapper.cs
  src/EventStore.Core/Services/PersistentSubscription/ParkedMessagesTracker.cs
  src/EventStore.Core/Services/PersistentSubscription/PersistentSubscription.cs
  src/EventStore.Core/Services/PersistentSubscription/PersistentSubscriptionParams.cs
  src/EventStore.Core/Services/PersistentSubscription/PersistentSubscriptionParamsBuilder.cs
  src/EventStore.Core/Services/PersistentSubscription/PersistentSubscriptionService.cs
Labels: cherry-pick:master

#4743 [KDB-575] Rename executable to KurrentDB
  .github/workflows/build-reusable.yml
  Dockerfile
  README.md
  docker-compose.yml
  shared.env
  src/EventStore.TestClient/Commands/RunTestScenarios/ScenarioBase.cs
  src/EventStore.TestClient/EventStore.TestClient.csproj
  src/EventStore.sln
  src/KurrentDB/AuthorizationPolicyRegistryFactory.cs
  src/KurrentDB/ClusterVNodeHostedService.cs
  src/KurrentDB/KurrentDB.csproj
  src/KurrentDB/Program.cs
  src/KurrentDB/app2.ico
  src/KurrentDB/kestrelsettings.json
  src/KurrentDB/logconfig.json
  src/KurrentDB/metricsconfig.json
Labels: breaking

#4751 [KDB-597] Change log messages and default usernames from EventStore to KurrentDB
  src/EventStore.Common/DevCertificates/CertificateManager.cs
  src/EventStore.Common/Utils/VersionInfo.cs
  src/EventStore.Core.Tests/ClientAPI/UserManagement/get_current_user.cs
  src/EventStore.Core.Tests/ClientAPI/UserManagement/list_users.cs
  src/EventStore.Core.Tests/Services/PeriodicLogs/PeriodicallyLoggingServiceTests.cs
  src/EventStore.Core.XUnit.Tests/Configuration/ClusterVNodeOptionsTests.cs
  src/EventStore.Core/Authentication/InternalAuthentication/UserManagementService.cs
  src/EventStore.Core/Cluster/ClientClusterInfo.cs
  src/EventStore.Core/ClusterVNode.cs
  src/EventStore.Core/Configuration/ClusterVNodeOptions.cs
  src/EventStore.Core/Configuration/ClusterVNodeOptionsValidator.cs
  src/EventStore.Core/Log/EventStoreLoggerConfiguration.cs
  src/EventStore.Core/Log/SerilogEventListener.cs
  src/EventStore.Core/Services/Gossip/ClusterMultipleVersionsLogger.cs
  src/EventStore.Core/Services/PeriodicLogs/PeriodicallyLoggingService.cs
  src/EventStore.Core/Services/Transport/Http/Controllers/InfoController.cs
  src/EventStore.Core/Telemetry/TelemetrySink.cs
  src/EventStore.Licensing.Tests/Keygen/KeygenLicenseProviderTests.cs
  src/EventStore.Licensing/Keygen/KeygenLicenseProvider.cs
  src/EventStore.Licensing/LicensingPlugin.cs
  src/EventStore.Transport.Http/Atom/AtomSpecs.cs
  src/EventStore.Transport.Tcp/TcpConnection.cs
  src/EventStore.Transport.Tcp/TcpConnectionSsl.cs
  src/KurrentDB/Program.cs
Labels: deprecated

#4683 Calculate disk stats on linux for correct mount point instead of `/`
  src/EventStore.SystemRuntime/Diagnostics/DriveStats.cs
Labels: bug, cherry-pick:release/v24.10

#4764 [KDB-615] Fix bug in ticks conversion: Stopwatch.Frequency is not necessarily a multiple of TimeSpan.TicksPerSecond
  src/EventStore.Core.XUnit.Tests/Metrics/InstantTests.cs
  src/EventStore.Core/Time/Instant.cs
Labels: cherry-pick:release/v24.10

#4766 FTS-124 End-2-End Kafka Sink connector sample to confluent cloud
  docs/server/features/connectors/sinks/images/kafka-sink-quickstart-add-event.png
  docs/server/features/connectors/sinks/images/kafka-sink-quickstart.png
  docs/server/features/connectors/sinks/kafka.md
Labels: cherry-pick:release/v24.10

#4773 [KDB-610] Handle replayed messages when retrying events
  src/EventStore.Core.Tests/Services/PersistentSubscription/StreamBufferTests.cs
  src/EventStore.Core/Services/PersistentSubscription/StreamBuffer.cs
Labels: bug, subsystem/persistent subs, cherry-pick:release/oss-v23.10, cherry-pick:release/v24.10

#4778 Remove oss prefix for releases
  .github/workflows/build-container-alpine.yml
  .github/workflows/build-container-bookworm-slim.yml
  .github/workflows/build-container-jammy.yml
  .github/workflows/build-ubuntu-20.04-arm64.yml
  .github/workflows/build-ubuntu-22.04.yml
  .github/workflows/build-windows-2019.yml
  .github/workflows/common.yml
Labels: cherry-pick:release/v24.10, ignore-for-release

#4784 docs: remove logger sink connector
  docs/server/features/connectors/manage.md
  docs/server/features/connectors/sinks/logger.md
  docs/server/features/connectors/sinks/serilog.md
Labels: documentation, cherry-pick:master, ignore-for-release

#4788 [KDB-625] Fix double check, avoid possibility of recreating midpoints
  src/EventStore.Core/TransactionLog/Chunks/TFChunk/TFChunkReadSide.cs
Labels: cherry-pick:release/v24.10

#4785 [KDB-578][release/v24.10] Support paging in persistent subscriptions
  src/EventStore.Core.Tests/TransactionLog/FakeReadIndex.cs
  src/EventStore.Core.XUnit.Tests/Services/PersistentSubscriptions/GetAllPersistentSubscriptionStatsTests.cs
  src/EventStore.Core/Messages/MonitoringMessage.cs
  src/EventStore.Core/Services/PersistentSubscription/PersistentSubscriptionService.cs
  src/EventStore.Core/Services/SystemNames.cs
  src/EventStore.Core/Services/Transport/Http/Controllers/CommunicationController.cs
  src/EventStore.Core/Services/Transport/Http/Controllers/PersistentSubscriptionController.cs
Labels: subsystem/persistent subs, cherry-pick:master

#4793 [KDB-620]: Fixed cancellation exception in StorageWriterService
  src/EventStore.Core/Bus/QueuedHandlerThreadPool.cs
  src/EventStore.Core/Services/Storage/StorageWriterService.cs
Labels: cherry-pick:release/v24.10
