Repository kurrent-io/KurrentDB, pull requests merged in 2025-02, with the labels that each got.

#4799 [KDB-621] Validate against attempts to set metadata for the "" stream
  src/EventStore.Core.XUnit.Tests/Messages/ClientMessageTests/WriteEventsTests.cs
  src/EventStore.Core/Messages/ClientMessage.cs
  src/EventStore.Core/Services/SystemNames.cs
Labels: cherry-pick:master, cherry-pick:release/oss-v23.10

#4796 [KDB-591] Rename custom content types for the HTTP API
  src/EventStore.Core.Tests/Http/Admin/scavenges.cs
  src/EventStore.Core.Tests/Http/ArgumentPassing/matching.cs
  src/EventStore.Core.Tests/Http/Cluster/when_requesting_from_follower.cs
  src/EventStore.Core.Tests/Http/HttpBehaviorSpecification.cs
  src/EventStore.Core.Tests/Http/PersistentSubscription/ack.cs
  src/EventStore.Core.Tests/Http/PersistentSubscription/feed.cs
  src/EventStore.Core.Tests/Http/PersistentSubscription/getting.cs
  src/EventStore.Core.Tests/Http/PersistentSubscription/nack.cs
  src/EventStore.Core.Tests/Http/PersistentSubscription/parked.cs
  src/EventStore.Core.Tests/Http/PersistentSubscription/statistics.cs
  src/EventStore.Core.Tests/Http/StreamSecurity/SpecificationWithUsers.cs
  src/EventStore.Core.Tests/Http/StreamSecurity/stream_access.cs
  src/EventStore.Core.Tests/Http/Streams/HttpSpecificationWithLinkToToDeletedEvents.cs
  src/EventStore.Core.Tests/Http/Streams/HttpSpecificationWithLinkToToEvents.cs
  src/EventStore.Core.Tests/Http/Streams/SpecificationWithLinkToToMaxCountDeletedEvents.cs
  src/EventStore.Core.Tests/Http/Streams/append_to_stream.cs
  src/EventStore.Core.Tests/Http/Streams/basic.cs
  src/EventStore.Core.Tests/Http/Streams/description_document.cs
  src/EventStore.Core.Tests/Http/Streams/feed.cs
  src/EventStore.Core.Tests/Http/Streams/filtered.cs
  src/EventStore.Core.Tests/Http/Streams/idempotency.cs
  src/EventStore.Core.Tests/Http/Streams/metadata.cs
  src/EventStore.Core.Tests/Http/TestController.cs
  src/EventStore.Core.Tests/Http/Users/users.cs
  src/EventStore.Core.Tests/Integration/authenticated_requests_made_from_a_follower.cs
  src/EventStore.Core.Tests/Services/Transport/Http/Authorization/authorization_tests.cs
  src/EventStore.Core.Tests/Services/Transport/Http/auto_convertion.cs
  src/EventStore.Core.Tests/Services/Transport/Http/media_type.cs
  src/EventStore.Core/Services/Transport/Http/AutoEventConverter.cs
  src/EventStore.Core/Services/Transport/Http/Configure.cs
  src/EventStore.Core/Services/Transport/Http/Controllers/AdminController.cs
  src/EventStore.Core/Services/Transport/Http/Controllers/AtomController.cs
  src/EventStore.Core/Services/Transport/Http/Controllers/ClusterWebUIController.cs
  src/EventStore.Core/Services/Transport/Http/Controllers/CommunicationController.cs
  src/EventStore.Core/Services/Transport/Http/Controllers/HttpHelpers.cs
  src/EventStore.Core/Services/Transport/Http/Controllers/MetricsController.cs
  src/EventStore.Core/Services/Transport/Http/Controllers/PersistentSubscriptionController.cs
  src/EventStore.Core/Services/Transport/Http/Convert.cs
  src/EventStore.Core/Services/Transport/Http/Format.cs
  src/EventStore.Core/Services/Transport/Http/SendToHttpEnvelope.cs
  src/EventStore.Core/Util/MiniWeb.cs
  src/EventStore.Licensing.Tests/Keygen/KeygenSimulator.cs
  src/EventStore.Projections.Core.Tests/Services/http_service/authorization_tests.cs
  src/EventStore.Projections.Core/Services/Http/ProjectionsController.cs
  src/EventStore.Transport.Http/Codecs/Codec.cs
  src/EventStore.Transport.Http/ContentType.cs
Labels: subsystem/HTTP API, deprecated

#4809 Update local UI
  src/EventStore.ClusterNode.Web/clusternode-web/css/main.min.css
  src/EventStore.ClusterNode.Web/clusternode-web/js/app.min.js
Labels: ignore-for-release

#4810 Align histogram buckets with the dashboard
  src/EventStore.Core/ClusterVNodeStartup.cs
Labels: cherry-pick:release/v24.10

#4808 [KDB-591] Rename HTTP headers
  src/EventStore.Core.Tests/Http/Cluster/when_requesting_from_follower.cs
  src/EventStore.Core.Tests/Http/StreamSecurity/stream_access.cs
  src/EventStore.Core.Tests/Http/Streams/append_to_stream.cs
  src/EventStore.Core.Tests/Http/Streams/basic.cs
  src/EventStore.Core.Tests/Http/Streams/feed.cs
  src/EventStore.Core.Tests/Http/Streams/idempotency.cs
  src/EventStore.Core.Tests/Http/Streams/metadata.cs
  src/EventStore.Core/Services/SystemNames.cs
  src/EventStore.Core/Services/Transport/Http/Authentication/TrustedHttpAuthenticationProvider.cs
  src/EventStore.Core/Services/Transport/Http/Configure.cs
  src/EventStore.Core/Services/Transport/Http/Controllers/AdminController.cs
  src/EventStore.Core/Services/Transport/Http/Controllers/AtomController.cs
  src/EventStore.Core/Services/Transport/Http/Controllers/PersistentSubscriptionController.cs
  src/EventStore.Projections.Core/Services/Http/ProjectionsController.cs
  src/EventStore.Transport.Http/EntityManagement/HttpEntityManager.cs
Labels: subsystem/HTTP API, deprecated

#4812 [KDB-629] Fix some disk IO stats being 0 on linux
  src/EventStore.SystemRuntime.Tests/EventStore.SystemRuntime.Tests.csproj
  src/EventStore.SystemRuntime.Tests/ProcessStatsTests.cs
  src/EventStore.SystemRuntime/Diagnostics/ProcessStats.cs
Labels: cherry-pick:release/v24.10

#4816 [KDB-598] Update readme for rebranding changes
  CONTRIBUTING.md
  KurrentLogo-Black.png
  KurrentLogo-Plum.png
  KurrentLogo-White.png
  README.md
  SECURITY.md
Labels: ignore-for-release

#4815 [KDB-631] Rebrand the metrics to kurrentdb
  docs/server/diagnostics/metrics.md
  qodana.yaml
  src/EventStore.Core.XUnit.Tests/Metrics/CacheResourcesTrackerTests.cs
  src/EventStore.Core.XUnit.Tests/Metrics/ProcessMetricsTests.cs
  src/EventStore.Core/ClusterVNodeStartup.cs
  src/EventStore.Core/EventStore.Core.csproj
  src/EventStore.Core/Metrics/AverageMetric.cs
  src/EventStore.Core/Metrics/CacheResourcesMetrics.cs
  src/EventStore.Core/Metrics/CounterMetric.cs
  src/EventStore.Core/Metrics/DurationMaxMetric.cs
  src/EventStore.Core/Metrics/DurationMetric.cs
  src/EventStore.Core/Metrics/ProcessMetrics.cs
  src/EventStore.Core/Metrics/StatusMetric.cs
  src/EventStore.Core/Metrics/SystemMetrics.cs
  src/EventStore.Core/MetricsBootstrapper.cs
  src/EventStore.OtlpExporterPlugin.Tests/EventStore.OtlpExporterPlugin.Tests.csproj
  src/EventStore.OtlpExporterPlugin.Tests/OtlpExporterTests.cs
  src/EventStore.OtlpExporterPlugin/EventStore.OtlpExporterPlugin.csproj
  src/EventStore.Projections.Core/ProjectionsSubsystem.cs
  src/KurrentDB/metricsconfig.json
Labels: breaking

#4828 [KDB-644][release/v24.10] Update installation instructions for 24.10.2
  docs/server/quick-start/installation.md
  docs/server/quick-start/upgrade-guide.md
  samples/server/docker-compose-cluster.yaml
  samples/server/docker-compose.yaml
Labels: documentation

#4825 [KDB-598] Update upgrade guide for KurrentDB 25.0
  docs/server/quick-start/upgrade-guide.md
  docs/server/quick-start/whatsnew.md
Labels: documentation

#4830 Added Cloud banner
  docs/.vuepress/client.ts
  docs/.vuepress/components/CloudBanner.vue
  docs/.vuepress/config.ts
  docs/.vuepress/public/cloud.png
  docs/.vuepress/public/fonts/Solina-Bold.woff
  docs/.vuepress/public/fonts/Solina-Bold.woff2
  docs/.vuepress/public/fonts/Solina-Light.woff
  docs/.vuepress/public/fonts/Solina-Light.woff2
  docs/.vuepress/public/fonts/Solina-Medium.woff
  docs/.vuepress/public/fonts/Solina-Medium.woff2
  docs/.vuepress/public/fonts/Solina-Regular.woff
  docs/.vuepress/public/fonts/Solina-Regular.woff2
  docs/.vuepress/public/fonts/museosans-100-webfont.woff
  docs/.vuepress/public/fonts/museosans-100-webfont.woff2
  docs/.vuepress/public/fonts/museosans-300-webfont.woff
  docs/.vuepress/public/fonts/museosans-300-webfont.woff2
  docs/.vuepress/public/fonts/museosans_500-webfont.woff
  docs/.vuepress/public/fonts/museosans_500-webfont.woff2
  docs/.vuepress/public/fonts/museosans_500_italic-webfont.woff
  docs/.vuepress/public/fonts/museosans_500_italic-webfont.woff2
  docs/.vuepress/public/fonts/museosans_700-webfont.woff
  docs/.vuepress/public/fonts/museosans_700-webfont.woff2
  docs/.vuepress/public/fonts/museosans_900-webfont.woff
  docs/.vuepress/public/fonts/museosans_900-webfont.woff2
  docs/.vuepress/styles/index.scss
  docs/.vuepress/styles/palette.scss
  docs/package.json
  docs/pnpm-lock.yaml
  docs/server/quick-start/installation.md
Labels: cherry-pick:release/v24.10

#4841 Update admin-ui.md
  docs/server/features/admin-ui.md
Labels: cherry-pick:release/oss-v23.10, cherry-pick:release/v24.10

#4837 Change SDK to Sdk.Web
  src/EventStore.Common/Options/LogLevel.cs
  src/EventStore.Common/Utils/Ensure.cs
  src/EventStore.Core.Tests/ClientAPI/SpecificationWithMiniNode.cs
  src/EventStore.Core.Tests/EventStore.Core.Tests.csproj
  src/EventStore.Core.Tests/Helpers/Logging/NUnitLoggerConfigurationExtensions.cs
  src/EventStore.Core.Tests/Helpers/Logging/NUnitSink.cs
  src/EventStore.Core.Tests/Helpers/MiniClusterNode.cs
  src/EventStore.Core.Tests/Helpers/MiniNode.cs
  src/EventStore.Core.Tests/Helpers/WebHostBuilderExtensions.cs
  src/EventStore.Core.Tests/Http/HealthChecks/when_performing_a_live_check.cs
  src/EventStore.Core.Tests/Services/Transport/Grpc/StreamsTests/GrpcSpecification.cs
  src/EventStore.Core.Tests/Services/Transport/Http/http_service_should.cs
  src/EventStore.Core/ClusterVNode.cs
  src/EventStore.Core/ClusterVNodeStartup.cs
  src/EventStore.Core/EventStoreLegacyHttpMiddleware.cs
  src/EventStore.Core/IInternalStartup.cs
  src/EventStore.Core/Log/EventStoreLoggerConfiguration.cs
  src/EventStore.Core/Services/Transport/Http/GrpcProtocolHelpers.cs
  src/EventStore.Core/Services/Transport/Http/InternalDispatcherEndpoint.cs
  src/KurrentDB/KurrentDB.csproj
  src/KurrentDB/Program.cs
  src/KurrentDB/logconfig.json
Labels: breaking

#4861 [KDB-680] Added the licence to the UI
  src/KurrentDB/Components/Auth/Login.razor
  src/KurrentDB/Components/Cluster/Cluster.razor
  src/KurrentDB/Components/Cluster/Cluster.razor.cs
  src/KurrentDB/Components/Layout/NavMenu.razor
  src/KurrentDB/Components/Licensed/LicensedContent.razor
  src/KurrentDB/Components/Licensed/LicensedPage.cs
  src/KurrentDB/Components/Licensed/LicensedPageCore.razor
  src/KurrentDB/Components/Licensed/WithLicense.cs
  src/KurrentDB/Components/Pages/Config.razor
  src/KurrentDB/Components/Pages/License.razor
  src/KurrentDB/Components/Pages/Logging.razor
Labels: subsystem/admin ui

#4862 [KDB-647] Fix getting projection statistics over gRPC for faulted projections
  src/EventStore.Projections.Core.Tests/Services/grpc_service/ProjectionsStatisticsTests.cs
  src/EventStore.Projections.Core/Services/Grpc/ProjectionManagement.Statistics.cs
  src/EventStore.Projections.Core/Services/Management/ManagedProjection.cs
Labels: bug, subsystem/projections, cherry-pick:release/oss-v23.10, cherry-pick:release/v24.10

#4864 Add connectors upgrade guide for v24.10
  docs/server/quick-start/upgrade-guide.md
Labels: cherry-pick:release/oss-v23.10, cherry-pick:release/v24.10

#4865 [KDB-647][oss-v23.10] Fix getting projection statistics over gRPC for faulted projections
  src/EventStore.Projections.Core.Tests/Services/grpc_service/ProjectionsStatisticsTests.cs
  src/EventStore.Projections.Core/Services/Grpc/ProjectionManagement.Statistics.cs
  src/EventStore.Projections.Core/Services/Management/ManagedProjection.cs
Labels: bug

#4867 Update admin-ui.md
  docs/server/features/admin-ui.md
Labels: cherry-pick:release/oss-v23.10

#4877 Add note that changes are now tracked in Releases, not in the changelog
  CHANGELOG.md
Labels: ignore-for-release
