Repository kurrent-io/KurrentDB, pull requests merged in 2025-07, with the labels that each got.

#5173 Exclude documentation from release notes (#5170)
  .github/release.yml
Labels: cherry-pick:release/v24.10

#5162 [master] Update persistent subscriptions http docs
  docs/http-api/persistent.md
  samples/http-api/persistent-subscriptions/get-all-subscriptions-response-paged.json
  samples/http-api/persistent-subscriptions/get-all-subscriptions-response.json
  samples/http-api/persistent-subscriptions/get-subscription-response.json
  samples/http-api/persistent-subscriptions/get-subscriptions-for-stream-response.json
  samples/http-api/persistent-subscriptions/read-stream-response.json
Labels: documentation, cherry-pick:release/v24.10, cherry-pick:release/v25.0

#5172 Upgrade deprecated windows-2019 runner to windows-2022
  .github/workflows/build-reusable.yml
  .github/workflows/build-windows-2022.yml
Labels: cherry-pick:release/oss-v23.10, cherry-pick:release/v24.10, cherry-pick:release/v25.0

#5178 Upgrade deprecated windows-2019 runner to windows-2022 (#5172)
  .github/workflows/build-reusable.yml
  .github/workflows/build-windows-2022.yml
Labels: ignore-for-release

#5179 Upgrade deprecated windows-2019 runner to windows-2022 (#5172)
  .github/workflows/build-reusable.yml
  .github/workflows/build-windows-2022.yml
Labels: ignore-for-release

#5198 [KDB-952] Add extra logging when UnwrapEnvelopeMessage is slow
  src/EventStore.Projections.Core/Messaging/PublishToWrapEnvelop.cs
  src/EventStore.Projections.Core/Messaging/UnwrapEnvelopeMessage.cs
  src/EventStore.Projections.Core/Services/Processing/MultiStream/MultiStreamEventReader.cs
  src/EventStore.Projections.Core/Services/Processing/Phases/EventSubscriptionBasedProjectionProcessingPhase.cs
  src/EventStore.Projections.Core/Services/Processing/RequestResponseQueueForwarder.cs
Labels: cherry-pick:master, cherry-pick:release/v25.0

#5225 [DEV-781] Remove placeholders v25.0
  docs/.vuepress/config.ts
  docs/server/http-api/api.md
  docs/server/http-api/introduction.md
  docs/server/http-api/optional-http-headers.md
  docs/server/http-api/persistent.md
  docs/server/http-api/security.md
Labels: cherry-pick:master
