Repository kurrent-io/KurrentDB, pull requests merged in 2025-04, with the labels that each got.

#4965 Add link to k8s operator doc from installation instructions
  docs/server/quick-start/installation.md
Labels: cherry-pick:release/oss-v23.10, cherry-pick:release/v24.10, cherry-pick:release/v25.0

#4958 Add release notes for 24.10
  docs/server/features/README.md
  docs/server/release-schedule/README.md
  docs/server/release-schedule/release-notes.md
Labels: documentation

#4938 doc: Connectors Data Protection
  docs/server/features/connectors/features.md
  docs/server/features/connectors/sinks/http.md
  docs/server/features/connectors/sinks/kafka.md
  docs/server/features/connectors/sinks/mongo.md
  docs/server/features/connectors/sinks/rabbitmq.md
  docs/server/quick-start/whatsnew.md
Labels: documentation, cherry-pick:master, ignore-for-release

#4643 Fixed typo in docs for EVENTSTORE_NODE_PRIORITY
  docs/server/configuration/cluster.md
Labels: documentation, cherry-pick:release/v25.0

#4973 [release/v25.0] Fixed typo in docs for EVENTSTORE_NODE_PRIORITY (#4643)
  docs/server/configuration/cluster.md
Labels: documentation

#4972 Fixed typo in docs for EVENTSTORE_NODE_PRIORITY
  docs/server/configuration/cluster.md
Labels: documentation, cherry-pick:release/oss-v23.10

#4943 doc: Elasticsearch sink connector
  docs/server/features/connectors/sinks/elasticsearch.md
  docs/server/features/connectors/sinks/http.md
  docs/server/features/connectors/sinks/kafka.md
  docs/server/features/connectors/sinks/mongo.md
  docs/server/features/connectors/sinks/rabbitmq.md
  docs/server/features/connectors/sinks/serilog.md
  docs/server/quick-start/whatsnew.md
Labels: documentation, cherry-pick:master, ignore-for-release

#4976 Update user-authorization.md
  docs/server/security/user-authorization.md
Labels: cherry-pick:release/v24.10, cherry-pick:release/v25.0

#4984 ubuntu-and-tutorial
  docs/server/operations/auto-scavenge.md
  docs/server/quick-start/installation.md
  docs/server/quick-start/upgrade-guide.md
Labels: cherry-pick:release/v24.10

#4975 [KDB-744] Fix: Filtered $all subscriptions checkpoint behaviour change
  src/EventStore.Core.Tests/Helpers/TestFixtureWithExistingEvents.cs
  src/EventStore.Core.Tests/Services/Transport/Enumerators/Enumerator.AllSubscriptionFiltered.CombinationTests.cs
  src/EventStore.Core/Data/TFPos.cs
  src/EventStore.Core/Services/Transport/Enumerators/Enumerator.AllSubscriptionFiltered.cs
  src/EventStore.Core/Services/Transport/Enumerators/Enumerator.cs
Labels: cherry-pick:release/v24.10, cherry-pick:release/v25.0

#4993 Add some missing formatting in the rabbitmq docs sink
  docs/server/features/connectors/sinks/rabbitmq.md
Labels: cherry-pick:release/v24.10, cherry-pick:release/v25.0

#4988 Update README.md
  docs/server/security/README.md
Labels: cherry-pick:release/v24.10, cherry-pick:release/v25.0

#4987 Update http.md
  docs/server/features/connectors/sinks/http.md
Labels: cherry-pick:release/v24.10, cherry-pick:release/v25.0

#4990 [KDB-744] Fix: Filtered $all subscriptions checkpoint behaviour change
  src/EventStore.Core.Tests/Helpers/TestFixtureWithExistingEvents.cs
  src/EventStore.Core.Tests/Services/Transport/Enumerators/Enumerator.AllSubscriptionFiltered.CombinationTests.cs
  src/EventStore.Core/Data/TFPos.cs
  src/EventStore.Core/Services/Transport/Enumerators/Enumerator.AllSubscriptionFiltered.cs
  src/EventStore.Core/Services/Transport/Enumerators/Enumerator.cs
Labels: bug

#4991 [KDB-744] Fix: Filtered $all subscriptions checkpoint behaviour change
  src/EventStore.Core.Tests/Helpers/TestFixtureWithExistingEvents.cs
  src/EventStore.Core.Tests/Services/Transport/Enumerators/Enumerator.AllSubscriptionFiltered.CombinationTests.cs
  src/EventStore.Core/Data/TFPos.cs
  src/EventStore.Core/Services/Transport/Enumerators/Enumerator.AllSubscriptionFiltered.cs
  src/EventStore.Core/Services/Transport/Enumerators/Enumerator.cs
Labels: bug

#5006 Fix partition key extraction details
  docs/server/features/connectors/sinks/http.md
  docs/server/features/connectors/sinks/kafka.md
  docs/server/features/connectors/sinks/mongo.md
  docs/server/features/connectors/sinks/rabbitmq.md
  docs/server/features/connectors/sinks/serilog.md
Labels: cherry-pick:release/v24.10, ignore-for-release, cherry-pick:release/v25.0

#5014 [KDB-741] Renaming loose ends
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/workflows/benchmark.yml
  .github/workflows/build-container-reusable.yml
  .github/workflows/build-reusable.yml
  .github/workflows/cherry-pick-pr-for-label.yml
  .github/workflows/release-client.yml
  .github/workflows/release.yml
  CONTRIBUTING.md
  Dockerfile
  README.md
  build.cmd
  build.ps1
  build.sh
  ci/README.md
  ci/ap-build-linux.sh
  ci/ap-setup-osx.sh
  ci/ap-test-linux.sh
  src/Directory.Build.props
  src/KurrentDB.Auth.OAuth/README.md
  src/KurrentDB.Auth.StreamPolicyPlugin/README.md
  src/KurrentDB.Auth.StreamPolicyPlugin/stream-policy-plugin-example.json
  src/KurrentDB.Auth.UserCertificates/README.md
  src/KurrentDB.AutoScavenge/README.md
  src/KurrentDB.AutoScavenge/auto-scavenge-plugin-example.json
  src/KurrentDB.Diagnostics.LogsEndpointPlugin/README.md
  src/KurrentDB.Licensing/README.md
  src/KurrentDB.Licensing/licence-configuration-example.json
  src/KurrentDB.OtlpExporterPlugin/README.md
  src/KurrentDB.POC.ConnectedSubsystemsPlugin/README.md
  src/KurrentDB.Security.EncryptionAtRest/README.md
  src/KurrentDB.TcpPlugin/README.md
  src/KurrentDB.TcpPlugin/tcp-plugin-example.json
Labels: ignore-for-release

#5015 [KDB-781] Upgrade Qodana to 2024.3
  .github/workflows/qodana.yml
  qodana.yaml
Labels: cherry-pick:release/oss-v23.10, cherry-pick:release/v24.10, ignore-for-release, cherry-pick:release/v25.0

#5012 [KDB-773] Metrics do not report faulted system projection correctly
  src/KurrentDB.Projections.Core.Tests/Services/projection_metrics/A_Projection.cs
  src/KurrentDB.Projections.Core.Tests/Services/projections_manager/TestFixtureWithProjectionCoreAndManagementServices.cs
  src/KurrentDB.Projections.Core.XUnit.Tests/Metrics/ProjectionMetricsTests.cs
  src/KurrentDB.Projections.Core/Metrics/ProjectionTracker.cs
Labels: cherry-pick:release/v24.10, cherry-pick:release/v25.0

#5020 [KDB-741] OAuth tests
  .github/workflows/build-reusable.yml
  src/KurrentDB.Auth.OAuth.Tests/Dockerfile
  src/KurrentDB.Auth.OAuth.Tests/FactRequiringDockerAttribute.cs
  src/KurrentDB.Auth.OAuth.Tests/Fixture.cs
  src/KurrentDB.Auth.OAuth.Tests/IdpFixture.cs
  src/KurrentDB.Auth.OAuth.Tests/conf/idsrv4.conf.json
Labels: ignore-for-release

#5029 Update http.md to correct path to HTTP_Connector tutorial
  docs/server/features/connectors/sinks/http.md
Labels: cherry-pick:release/v24.10, cherry-pick:release/v25.0

#5022 [KDB-773] Metrics do not report faulted system projection correctly
  src/EventStore.Projections.Core.Tests/Services/projection_metrics/A_Projection.cs
  src/EventStore.Projections.Core.Tests/Services/projections_manager/TestFixtureWithProjectionCoreAndManagementServices.cs
  src/EventStore.Projections.Core.XUnit.Tests/Metrics/ProjectionMetricsTests.cs
  src/EventStore.Projections.Core/Metrics/ProjectionTracker.cs
Labels: bug

#5021 [KDB-773] Metrics do not report faulted system projection correctly
  src/EventStore.Projections.Core.Tests/Services/projection_metrics/A_Projection.cs
  src/EventStore.Projections.Core.Tests/Services/projections_manager/TestFixtureWithProjectionCoreAndManagementServices.cs
  src/EventStore.Projections.Core.XUnit.Tests/Metrics/ProjectionMetricsTests.cs
  src/EventStore.Projections.Core/Metrics/ProjectionTracker.cs
Labels: bug
