Repository kurrent-io/KurrentDB, pull requests merged in 2025-05, with the labels that each got.

#5057 [24.10] Add stricter certificates requirements to upgrade guide
  docs/server/quick-start/upgrade-guide.md
Labels: documentation, cherry-pick:master, cherry-pick:release/v25.0

#5058 Remove install instructions that don't currently work
  docs/server/quick-start/installation.md
Labels: documentation, cherry-pick:release/v25.0

#5070 [KDB-817] Add doc for new persistent subscription metrics
  docs/server/diagnostics/metrics.md
Labels: documentation

#5067 [KDB-817] Add 24.10.5 release notes
  docs/server/quick-start/installation.md
  docs/server/release-schedule/release-notes.md
Labels: documentation, ignore-for-release

#5076 github: add webhook to docs website
  .github/workflows/build-docs.yml
Labels: cherry-pick:release/oss-v5, cherry-pick:release/oss-v22.10, cherry-pick:release/oss-v23.10

#5075 Add embedded UI details to the docs
  docs/server/features/admin-ui.md
  docs/server/features/images/ui/config.png
  docs/server/features/images/ui/dashboard.png
  docs/server/features/images/ui/logs.png
Labels: cherry-pick:release/v25.0

#5059 [release/v25.0] Add stricter certificates requirements
  docs/server/quick-start/upgrade-guide.md
Labels: documentation

#5060 [master] Add stricter certificates requirements
  docs/server/quick-start/upgrade-guide.md
Labels: documentation

#5068 Add additional metrics for parked persistent subscription messages (ported from #5062)
  src/KurrentDB.Core.Tests/Services/PersistentSubscription/PersistentSubscriptionMessageParkerTests.cs
  src/KurrentDB.Core.Tests/Services/PersistentSubscription/PersistentSubscriptionTests.cs
  src/KurrentDB.Core.XUnit.Tests/Metrics/MetricsEndpointTests.cs
  src/KurrentDB.Core.XUnit.Tests/Metrics/PersistentSubscriptionMetricsTests.cs
  src/KurrentDB.Core/Messages/MonitoringMessage.cs
  src/KurrentDB.Core/Metrics/PersistentSubscriptionTracker.cs
  src/KurrentDB.Core/MetricsBootstrapper.cs
  src/KurrentDB.Core/Services/PersistentSubscription/IPersistentSubscriptionMessageParker.cs
  src/KurrentDB.Core/Services/PersistentSubscription/PersistentSubscription.cs
  src/KurrentDB.Core/Services/PersistentSubscription/PersistentSubscriptionMessageParker.cs
  src/KurrentDB.Core/Services/PersistentSubscription/PersistentSubscriptionService.cs
  src/KurrentDB.Core/Services/PersistentSubscription/PersistentSubscriptionStats.cs
Labels: cherry-pick:release/v25.0

#5074 Projections Testing Allow testing the Result as well as State
  src/KurrentDB.Projections.Core.Javascript.Tests/KurrentDB.Projections.Core.Javascript.Tests.csproj
  src/KurrentDB.Projections.Core.Javascript.Tests/SpecRunner.cs
  src/KurrentDB.Projections.Core.Javascript.Tests/Specs/state_with_null_result-spec.json
  src/KurrentDB.Projections.Core.Javascript.Tests/Specs/state_with_null_result.js
  src/KurrentDB.Projections.Core.Javascript.Tests/Specs/with_result-spec.json
  src/KurrentDB.Projections.Core.Javascript.Tests/Specs/with_result.js
Labels: ignore-for-release

#5082 [KDB-817] Add new connectors metrics and update release notes
  docs/server/release-schedule/release-notes.md
Labels: ignore-for-release

#5040 Only release the lock if we acquired it. Otherwise a different exception would be thrown.
  src/EventStore.Core/Index/HashListMemTable.cs
Labels: cherry-pick:release/v24.10

#5073 Update CODEOWNERS re kurrent-io
  .github/CODEOWNERS
Labels: cherry-pick:release/v24.10, cherry-pick:release/v25.0

#5087 [release/v24.10] Remove fetch-depth:0 from builds
  .github/workflows/build-container-reusable.yml
  .github/workflows/build-reusable.yml
Labels: ignore-for-release

#5088 [release/v25.0] Remove fetch-depth:0 from builds
  .github/workflows/build-container-reusable.yml
  .github/workflows/build-reusable.yml
Labels: ignore-for-release

#5036 github: removes .md files form qodana runs
  .github/workflows/qodana.yml
Labels: ignore-for-release

#5092 [KDB-844]: Do not throw if io stat is disabled in the Linux kernel
  src/KurrentDB.SystemRuntime/Diagnostics/Interop/OsxNative.cs
  src/KurrentDB.SystemRuntime/Diagnostics/Interop/WindowsNative.cs
  src/KurrentDB.SystemRuntime/Diagnostics/ProcessStats.cs
Labels: cherry-pick:release/v24.10, cherry-pick:release/v25.0

#5098 Fix inequality about index merge
  docs/server/configuration/indexes.md
Labels: documentation, cherry-pick:release/oss-v23.10, cherry-pick:release/v24.10, cherry-pick:release/v25.0

#5114 [KDB-851] Free up space in Ubuntu runners
  .github/workflows/build-reusable.yml
Labels: ignore-for-release

#5123 docs: clarify JSON usage with curl (#4514)
  docs/http-api/introduction.md
Labels: documentation, cherry-pick:release/v24.10, cherry-pick:release/v25.0
